Workflows/Nova Solicitação de Licença / Afastamento - 2025-11-24.json
{"updatedAt":"2025-11-24T17:21:56.891Z","createdAt":"2025-11-24T17:21:52.033Z","id":"jzT8YjaLNcSayEUv","name":"Nova Solicitação de Licença / Afastamento","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko","mode":"list","cachedResultName":"Solicitações de Licenças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"requestId","lookupValue":"={{ $json.requestId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-448,832],"id":"ea810564-0c23-40e9-be9c-822d1327018c","name":"Recupera registro na planilha","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko","mode":"list","cachedResultName":"Solicitações de Licenças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"requestId","lookupValue":"={{ $json.requestId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-448,1184],"id":"4d806d90-0bbc-4e38-936a-f00dd25bd9d8","name":"Recupera registro na planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"formTitle":"Solicitação de Licença / Afastamento","formDescription":"Ao preencher esse formulário, o(a) colaborador declara estar ciente que:\n\n- Esta solicitação está sujeita à aprovação do gestor.\n- Esta solicitação segue as diretrizes da Política de Gestão de Colaboradores do Instituto Modal (disponível em https://www.modal.org.br/wp-content/uploads/2025/01/Politica-de-Colaboradores-v3.pdf).\n- O período da licença poderá ser alterado em caso de necessidade do Modal, mediante comunicação prévia.","formFields":{"values":[{"fieldLabel":"Nome","placeholder":"Seu nome completo","requiredField":true},{"fieldLabel":"E-mail","fieldType":"email","requiredField":true},{"fieldLabel":"Tipo de Licença Solicitada","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Remunerada"},{"option":"Não-remunerada (afastamento)"},{"option":"Folga"}]},"requiredField":true},{"fieldLabel":"Motivo da Licença","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Acompanhamento pontual de saúde (consultas, exames, viroses etc. - até 3 dias)"},{"option":"Problema prolongado de saúde (acima de 3 dias)"},{"option":"Licença médica prolongada (acima de 15 dias)"},{"option":"Acompanhamento de familiar doente"},{"option":"Exercício de cargo público (eleições, juri etc.)"},{"option":"Férias"},{"option":"Maternidade / Paternidade"},{"option":"Casamento"},{"option":"Estudo (cursos, especializações etc.)"},{"option":"Viagem (motivos pessoais)"},{"option":"Assuntos particulares"},{"option":"Outro"}]},"requiredField":true},{"fieldLabel":"Data de Início da Licença","fieldType":"date","formatDate":"dd/mm/yyyy","requiredField":true},{"fieldLabel":"Data de Término da Licença","fieldType":"date","formatDate":"dd/mm/yyyy","requiredField":true},{"fieldLabel":"Observações / Informações Adicionais","fieldType":"textarea","placeholder":"Preencher se achar necessário fornecer informações complementares"},{"fieldLabel":"Nome do Gestor Imediato","requiredField":true},{"fieldLabel":"E-mail do Gestor Imediato","fieldType":"email","requiredField":true}]},"options":{"buttonLabel":"Solicitar Licença"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1104,464],"id":"64c15c90-5e54-436b-bfac-72a7cc96ae03","name":"Usando Form do N8N (opção caso form do Wordpress não funcione)","webhookId":"9b12bb94-9323-4d00-9776-a7b6e4839106"},{"parameters":{"httpMethod":"POST","path":"solicita-licenca","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1104,112],"id":"642f1ca3-85ad-46d5-90b8-a15eb049190d","name":"Webhook - Wordpress Form","webhookId":"57944c00-3c47-4879-a475-71737124f17c"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      ...items[0].json,\n      requestId: Date.now().toString() + Math.random().toString(36).substring(2, 8)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,112],"id":"cd324400-4434-46f6-aedb-a5eba97ac740","name":"Gera RequestID"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko","mode":"list","cachedResultName":"Solicitações de Licenças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Nome do Colaborador","displayName":"Nome do Colaborador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Colaborador","displayName":"Email Colaborador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo de Licença","displayName":"Tipo de Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Motivo da Licença","displayName":"Motivo da Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Início","displayName":"Data de Início","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Término","displayName":"Data de Término","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Observações","displayName":"Observações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Gestor Direto","displayName":"Gestor Direto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Gestor","displayName":"Email Gestor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data da Solicitação","displayName":"Data da Solicitação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"executionMode","displayName":"executionMode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"requestId","displayName":"requestId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Decisão","displayName":"Decisão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data da Decisão","displayName":"Data da Decisão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,208],"id":"2152e824-ed00-45d5-ae7f-7b0096f0802a","name":"Google Sheets - Cria linha na planilha de Licenças","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"path":"autorizar-licenca","options":{"responseData":"<!DOCTYPE html>   <html lang=\"pt-BR\">   <style>     body {       font-family: Lato, Sans Serif;       font-size: 16px;       font-color: black;       text-align: center;     }            h1 {       font-family: Ubuntu, Lato, Sans Serif;       font-size: 24px;       font-color: #00004d;       font-weight: bold;       text-align: center;     }          a:link {       color: white;       text-decoration: none;     }      /* visited link */     a:visited {       color: white;       text-decoration: none;     }      /* mouse over link */     a:hover {       color: white;       text-decoration: none;     }      /* selected link */     a:active {       color: white;       text-decoration: none;     }      .button {       background-color: #00004d;        border: none;       color: white;       padding: 10px 24px;       text-align: center;       text-decoration: none;       display: inline-block;       font-size: 16px;       margin: 4px 2px;       transition-duration: 0.1s;       cursor: pointer;     }   </style>      <head>       <meta charset=\"UTF-8\">       <title>Solicitação Processada</title>     </head>     <body>       <p><a href=\"https://modal.org.br/\" target=_blank><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_completa_protegida.png\" width=\"220\"></a></p>       <h1>Solicitação Aprovada</h1>       <p>Obrigado! A solicitação foi processada com sucesso. Você pode fechar esta janela.</p>     </body>   </html>"}},"name":"Webhook - Solicitação Aprovada","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1104,832],"id":"53cd3612-cdaf-4584-82bb-688b00274f09","webhookId":"90cb69a8-797f-4b50-a27f-5f24e3a9a284"},{"parameters":{"path":"reprova-licenca","options":{"responseData":"<!DOCTYPE html>   <html lang=\"pt-BR\">   <style>     body {       font-family: Lato, Sans Serif;       font-size: 16px;       font-color: black;       text-align: center;     }            h1 {       font-family: Ubuntu, Lato, Sans Serif;       font-size: 24px;       font-color: #00004d;       font-weight: bold;       text-align: center;     }          a:link {       color: white;       text-decoration: none;     }      /* visited link */     a:visited {       color: white;       text-decoration: none;     }      /* mouse over link */     a:hover {       color: white;       text-decoration: none;     }      /* selected link */     a:active {       color: white;       text-decoration: none;     }      .button {       background-color: #00004d;        border: none;       color: white;       padding: 10px 24px;       text-align: center;       text-decoration: none;       display: inline-block;       font-size: 16px;       margin: 4px 2px;       transition-duration: 0.1s;       cursor: pointer;     }   </style>      <head>       <meta charset=\"UTF-8\">       <title>Solicitação Processada</title>     </head>     <body>       <p><a href=\"https://modal.org.br/\" target=_blank><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_completa_protegida.png\" width=\"220\"></a></p>       <h1>Solicitação do Colaborador Não Aprovada</h1>       <p>Obrigado! A solicitação foi processada com sucesso. Você pode fechar esta janela.</p>     </body>   </html>"}},"name":"Webhook - Solicitação Não Aprovada","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1104,1184],"id":"a3b53ea6-8c90-4d52-b645-dc7aa66269a3","webhookId":"90cb69a8-797f-4b50-a27f-5f24e3a9a284"},{"parameters":{"jsCode":"// Função para retornar a data atual no formato dd/mm/yyyy hh:mm\nfunction getCurrentDateTime() {\n  const now = new Date();\n\n  // Obter os componentes da data\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0'); // Mês é 0-indexado\n  const year = now.getFullYear();\n\n  // Obter os componentes do horário\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n\n  // Formatar a data e hora\n  return `${day}/${month}/${year} ${hours}:${minutes}`;\n}\n\n// Usando a função no nó Code\nreturn [\n  {\n    json: {\n      currentDateTime: getCurrentDateTime()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,1184],"id":"58bafd66-3d2f-43f2-ab4f-094149ebb49e","name":"Registra data atual"},{"parameters":{"jsCode":"// Função para retornar a data atual no formato dd/mm/yyyy hh:mm\nfunction getCurrentDateTime() {\n  const now = new Date();\n\n  // Obter os componentes da data\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0'); // Mês é 0-indexado\n  const year = now.getFullYear();\n\n  // Obter os componentes do horário\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n\n  // Formatar a data e hora\n  return `${day}/${month}/${year} ${hours}:${minutes}`;\n}\n\n// Usando a função no nó Code\nreturn [\n  {\n    json: {\n      currentDateTime: getCurrentDateTime()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,832],"id":"b8aeb2fd-7507-45e5-8022-ae51d81ba897","name":"Registra data atual1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko","mode":"list","cachedResultName":"Solicitações de Licenças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"requestId":"={{ $('Webhook - Solicitação Não Aprovada').item.json.query.requestid }}","Decisão":"Não Autorizada","Data da Decisão":"={{ $json.currentDateTime }}"},"matchingColumns":["requestId"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo de Licença Solicitada","displayName":"Tipo de Licença Solicitada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Licença","displayName":"Motivo da Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Início da Licença","displayName":"Data de Início da Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Término da Licença","displayName":"Data de Término da Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações / Informações Adicionais","displayName":"Observações / Informações Adicionais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Gestor Imediato","displayName":"Nome do Gestor Imediato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail do Gestor Imediato","displayName":"E-mail do Gestor Imediato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"formMode","displayName":"formMode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"requestId","displayName":"requestId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Decisão","displayName":"Decisão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da Decisão","displayName":"Data da Decisão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-656,1184],"id":"65955816-11a9-4ec1-8653-60ae4c06d128","name":"Atualiza status para não autorizada","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko","mode":"list","cachedResultName":"Solicitações de Licenças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"requestId":"={{ $('Webhook - Solicitação Aprovada').item.json.query.requestid }}","Decisão":"Autorizada","Data da Decisão":"={{ $json.currentDateTime }}"},"matchingColumns":["requestId"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo de Licença Solicitada","displayName":"Tipo de Licença Solicitada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Licença","displayName":"Motivo da Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Início da Licença","displayName":"Data de Início da Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Término da Licença","displayName":"Data de Término da Licença","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações / Informações Adicionais","displayName":"Observações / Informações Adicionais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Gestor Imediato","displayName":"Nome do Gestor Imediato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail do Gestor Imediato","displayName":"E-mail do Gestor Imediato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"formMode","displayName":"formMode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"requestId","displayName":"requestId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Decisão","displayName":"Decisão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da Decisão","displayName":"Data da Decisão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-656,832],"id":"1c1198fb-fd4d-4c2c-9599-1a8f9d5afe7f","name":"Atualiza status para autorizada","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"assignments":{"assignments":[{"id":"1b38e642-e4c5-4972-9c15-3a986bacf830","name":"Nome do Colaborador","value":"={{ $json.body.select_3 }}","type":"string"},{"id":"8f745826-7b3a-43df-8a15-e7b8f56c5e56","name":"Tipo de Licença","value":"={{ $json.body.select_1 }}","type":"string"},{"id":"39b1d3e3-3d48-49e6-b872-f5ab4a467290","name":"Motivo da Licença","value":"={{ $json.body.select_2 }}","type":"string"},{"id":"020e4762-9163-4dc6-89f8-4b7ebecb1239","name":"Data de Início","value":"={{ $json.body.date_1 }}","type":"string"},{"id":"5716ab4b-a7ef-4b09-aeeb-3a7999223282","name":"Data de Término","value":"={{ $json.body.date_2 }}","type":"string"},{"id":"ff6e9454-462e-422d-b2f2-fb994c462eb6","name":"Observações","value":"={{ $json.body.textarea_1 }}","type":"string"},{"id":"48f7edad-73d6-4f69-abcb-bc584b7a0ffc","name":"Data da Solicitação","value":"={{ $json.body.entry_time }}","type":"string"},{"id":"2a332031-bf9c-43f3-a2ff-2e45f394dfbc","name":"executionMode","value":"={{ $json.executionMode }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,112],"id":"7c5e2495-d55c-4325-a523-328a190063ba","name":"Renomeia campos do webhook"},{"parameters":{"documentId":{"__rl":true,"value":"1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko","mode":"list","cachedResultName":"Solicitações de Licenças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1693063841,"mode":"list","cachedResultName":"Controles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ZuqV98Ahg_mOTqGDCP78KAI4J0ubGDMe3ekPs5BPko/edit#gid=1693063841"},"filtersUI":{"values":[{"lookupColumn":"=Colaboradores","lookupValue":"={{ $json['Nome do Colaborador'] }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-656,112],"id":"e4cde78a-fc41-41c3-a66d-36718110457d","name":"Recupera Dados do Colaborador e do Gestor","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"assignments":{"assignments":[{"id":"8117206a-e2a9-4281-9b52-a16c06dfccb9","name":"Nome do Colaborador","value":"={{ $('Renomeia campos do webhook').item.json['Nome do Colaborador'] }}","type":"string"},{"id":"c84696c6-f3af-4b0d-ad54-97b95b5ba7c9","name":"Email Colaborador","value":"={{ $json['Email Colaborador'] }}","type":"string"},{"id":"43398585-a1b2-4634-8fda-e71d0d8bf2e4","name":"Tipo de Licença","value":"={{ $('Renomeia campos do webhook').item.json['Tipo de Licença'] }}","type":"string"},{"id":"67ee4d8e-9053-4638-b74e-8ac3229d54f7","name":"Motivo da Licença","value":"={{ $('Renomeia campos do webhook').item.json['Motivo da Licença'] }}","type":"string"},{"id":"ed40b3fd-4523-46c1-95e1-48f8b97ffcde","name":"Data de Início","value":"={{ $('Renomeia campos do webhook').item.json['Data de Início'] }}","type":"string"},{"id":"d2172469-1076-4d6d-b949-00bda2acaf46","name":"Data de Término","value":"={{ $('Renomeia campos do webhook').item.json['Data de Término'] }}","type":"string"},{"id":"91b06931-de9b-46cf-8bc5-03c675d205fd","name":"Observações","value":"={{ $('Renomeia campos do webhook').item.json['Observações'] }}","type":"string"},{"id":"49c16492-33ec-49ef-90da-1dc971720745","name":"Gestor Direto","value":"={{ $json['Gestores Diretos'] }}","type":"string"},{"id":"516dea52-06a7-49eb-844c-b1de7bd1c68a","name":"Email Gestor","value":"={{ $json['Email Gestor'] }}","type":"string"},{"id":"8dedb4a4-8e84-4202-a628-e4ee5006b010","name":"Data da Solicitação","value":"={{ $('Renomeia campos do webhook').item.json['Data da Solicitação'] }}","type":"string"},{"id":"6fe4bdcc-0c9b-4852-80cf-503885abc86d","name":"executionMode","value":"={{ $('Renomeia campos do webhook').item.json.executionMode }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,112],"id":"b815989e-2033-4be1-9911-4e2f06c87b6c","name":"Renomeia todas as Variáveis"},{"parameters":{"sendTo":"={{ $json[\"Email Gestor\"] }}","subject":"=Solicitação de Licença / Afastamento de {{ $json['Nome do Colaborador'] }} a partir de {{ $json['Data de Início'] }}","message":"=    <!DOCTYPE html>\n    <html>\n    <head>\n    <style>\n\n    a:link {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* visited link */\n    a:visited {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* mouse over link */\n    a:hover {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* selected link */\n    a:active {\n      color: white;\n      text-decoration: none;\n    }\n\n    .button {\n      background-color: #00004d; \n      border: none;\n      color: white;\n      padding: 10px 24px;\n      text-align: center;\n      text-decoration: none;\n      display: inline-block;\n      font-size: 16px;\n      margin: 4px 2px;\n      transition-duration: 0.1s;\n      cursor: pointer;\n    }\n\n    .informacoes {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .aprovar {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .reprovar {\n      background-color: #f44336; \n      color: white; \n    }\n\n    .aprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .reprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .informacoes:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n\n    </style>\n    </head>\n    <body>\n\n    <p><a href=\"https://modal.org.br/\" target=_blank><img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_completa_protegida.png\" width=\"220\"></a></p>\n    <hr>\n    <p>Olá, {{ $json['Gestor Direto'] }}.\n\n    <p><b>{{ $json['Nome do Colaborador'] }}</b> solicitou uma licença / afastamento. Como gestor imediato, você deve avaliar se a solicitação é pertinente ou não.\n\n    <p>Para decidir, avalie os seguintes aspectos:</p>\n    <ul>\n    <li>Razão para a Licença: Verificar se a licença é por motivos previstos em lei (como licença médica, maternidade/paternidade, casamento, luto) ou por razões particulares.</li>\n    <li>Histórico de Licenças: Avaliar a frequência com que o colaborador solicita licenças para identificar padrões ou possíveis abusos.</li>\n    <li>Impacto no Desempenho: Considerar o histórico de desempenho e comprometimento do colaborador. Se há um bom desempenho consistente, isso pode indicar maior justificativa para flexibilização.</li>\n    <li>Planejamento de Atividades: Verificar se a licença coincide com períodos críticos, como entregas importantes ou projetos em andamento.</li>\n    <li>Cobertura Interna: Avaliar se há membros da equipe capacitados para assumir as responsabilidades do colaborador durante sua ausência.</li>\n    <li>Carga de Trabalho Atual: Garantir que a carga de trabalho dos demais não será excessiva, causando impactos negativos na equipe.</li>\n    <li>Sincronia com Outras Licenças: Conferir se há outras licenças ou férias programadas que possam gerar um déficit de pessoal.</li>\n    <li>Impacto no Resultado: Avaliar como a ausência do colaborador pode impactar diretamente os resultados do setor ou da organização.</li>\n    <li>Regras de Substituição: Caso necessário, verificar a possibilidade de contratar temporariamente ou realocar pessoal para minimizar prejuízos.</li>\n    <li>Antecedência da Solicitação: Licenças pedidas com antecedência devem ter maior chance de aprovação, exceto em casos emergenciais.</li>\n    <li>Duração da Licença: Considerar se o período solicitado é razoável e proporcional à justificativa.</li>\n    <li>Necessidade de Ajustes: Avaliar se ajustes no período ou formato da licença (como licenças parciais ou teletrabalho) podem atender ambas as partes</li>\n    </ul>\n\n    <p>Seguem as informações fornecidas pelo colaborador para a sua avaliação:</p>\n    <hr>\n\n    <ul>\n      <li>Tipo de licença solicitada: {{ $json['Tipo de Licença'] }}</li>\n      <li>Motivo da licença: {{ $json[\"Motivo da Licença\"] }}</li>\n      <li>Período da licença: {{ $json['Data de Início'] }} a {{ $json['Data de Término'] }}</li>\n      <li>Observações / informações adicionais: {{ $json['Observações'] }}</li>\n      <li>Gestor: {{ $json['Gestor Direto'] }} ({{ $json['Email Gestor'] }})</li>\n      <li>RequestID: {{ $json.requestId }}</li>\n      <li>Data de solicitação: {{ $json['Data da Solicitação'] }}</li>\n    </ul>\n    <hr>\n    <p><b>Após a sua avaliação, clique no botão correspondente - caso queira mais informações, será aberta uma janela para você enviar um e-mail diretamente ao colaborador:</b></p>\n    <table width=\"100%\" border=\"0\" cellspacing=\"5\" cellpadding=\"5\">\n    <tr>\n      <td width=\"30%\">\n        <a href=\"https://n8n.modal.org.br/webhook/autorizar-licenca?requestid={{ $json.requestId }}\"><button class=\"button aprovar\"><b>APROVAR LICENÇA</a></button></a>\n      </td>\n        <td width=\"30%\">\n        <a href=\"https://n8n.modal.org.br/webhook/reprova-licenca?requestid={{ $json.requestId }}\"><button class=\"button reprovar\"><b>NÃO APROVAR LICENÇA</b></button></a>\n      </td>\n      <td width=\"30%\">\n        <a href=\"https://modal.org.br/\"><button class=\"button informacoes\"><b>SOLICITAR MAIS INFORMAÇÕES</b></button></a>\n      </td>\n    </tr>\n    </table>\n<p>Observação: ao clicar em um botão, uma janela do navegador poderá ser aberta. Você pode ignorar essa janela e fechá-la.</p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,208],"id":"69a6d87f-3741-467a-b5d3-29aea5ca3163","name":"Apreciação do Gestor","webhookId":"671bc907-6519-4742-9102-4b8af32ce634","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"sendTo":"={{ $json['Email Colaborador'] }}","subject":"Confirmação da sua solicitação de licença","message":"=<!DOCTYPE html>\n<html>\n    <head>\n    <style>\n\n    a:link {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* visited link */\n    a:visited {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* mouse over link */\n    a:hover {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* selected link */\n    a:active {\n      color: white;\n      text-decoration: none;\n    }\n\n    .button {\n      background-color: #00004d; \n      border: none;\n      color: white;\n      padding: 10px 24px;\n      text-align: center;\n      text-decoration: none;\n      display: inline-block;\n      font-size: 16px;\n      margin: 4px 2px;\n      transition-duration: 0.1s;\n      cursor: pointer;\n    }\n\n    .informacoes {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .aprovar {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .reprovar {\n      background-color: #f44336; \n      color: white; \n    }\n\n    .aprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .reprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .informacoes:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n\n    </style>\n    </head>\n    <body>\n\n    <p><a href=\"https://modal.org.br/\" target=_blank><img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_completa_protegida.png\" width=\"220\"></a></p>\n    <hr>\n<p>Olá, {{ $json['Nome do Colaborador'] }}.</p>\n\n<p>Tudo certo! Recebemos seu pedido de licença.</p>\n\n<p>Em breve, seu gestor irá analisá-lo e você receberá uma notificação com a resposta.</p>\n\n<p>Para seu acompanhamento, aqui estão as informações que você enviou:</p>\n\n<ul>\n<li>Tipo de licença solicitada: {{ $json['Tipo de Licença'] }}</li>\n<li>Motivo da licença: {{ $json[\"Motivo da Licença\"] }}</li>\n<li>Período da licença: {{ $json['Data de Início'] }} a {{ $json['Data de Término'] }}</li>\n<li>Observações / informações adicionais: {{ $json['Observações'] }}</li>\n<li>Gestor: {{ $json['Gestor Direto'] }} ({{ $json['Email Gestor'] }})</li>\n<li>RequestID: {{ $json.requestId }}</li>\n<li>Data de solicitação: {{ $json['Data da Solicitação'] }}</li>\n</ul>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,0],"id":"5e053ede-c416-42a9-a31f-1a1612cfc94b","name":"Confirmação do Usuário","webhookId":"359125fb-ff9e-48e4-bf65-c7449713da25","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"sendTo":"={{ $json[\"Email Colaborador\"] }}","subject":"=Licença {{ $json[\"Tipo de Licença\"] }} de {{ $json[\"Nome do Colaborador\"] }} Autorizada","message":"=    <!DOCTYPE html>\n    <html>\n    <head>\n    <style>\n\n    a:link {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* visited link */\n    a:visited {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* mouse over link */\n    a:hover {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* selected link */\n    a:active {\n      color: white;\n      text-decoration: none;\n    }\n\n    .button {\n      background-color: #00004d; \n      border: none;\n      color: white;\n      padding: 10px 24px;\n      text-align: center;\n      text-decoration: none;\n      display: inline-block;\n      font-size: 16px;\n      margin: 4px 2px;\n      transition-duration: 0.1s;\n      cursor: pointer;\n    }\n\n    .informacoes {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .aprovar {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .reprovar {\n      background-color: #f44336; \n      color: white; \n    }\n\n    .aprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .reprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .informacoes:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n\n    </style>\n    </head>\n    <body>\n\n    <p><a href=\"https://modal.org.br/\" target=_blank><img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_completa_protegida.png\" width=\"220\"></a></p>\n    <hr>\n    <p>Olá!\n\n    <p>A licença solicitada por {{ $json['Nome do Colaborador'] }} foi autorizada e já foi lançada no Calendário.\n\n    <p>Seguem todas as informações da licença:</p>\n    <hr>\n\n    <ul>\n    <li>Nome do colaborador: {{ $json['Nome do Colaborador'] }} ({{ $json['Email Colaborador'] }})</li>\n    <li>Tipo de licença solicitada: {{ $json['Tipo de Licença'] }}</li>\n    <li>Motivo da licença: {{ $json[\"Motivo da Licença\"] }}</li>\n    <li>Período da licença: {{ $json['Data de Início'] }} a {{ $json['Data de Término'] }}</li>\n    <li>Observações / informações adicionais: {{ $json['Observações'] }}</li>\n    <li>RequestID: {{ $json.requestId }}</li>\n    <li>Data de solicitação: {{ $json['Data da Solicitação'] }}</li>\n    <li>Gestor (responsável pela autorização): {{ $json['Gestor Direto'] }} ({{ $json['Email Gestor'] }})</li>\n    <li>Data da autorização: {{ $json['Data da Decisão'] }}</li>\n    </ul>\n    <hr>","options":{"ccList":"={{ $json[\"Email Gestor\"] }}, rh@modal.org.br"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-224,928],"id":"1fdb5a9f-250a-42be-83eb-b0e430dd5c8c","name":"Notificação de Solicitação Autorizada","webhookId":"305627d1-95d5-42bf-bc4f-6169a0a46d49","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"sendTo":"={{ $json['Email Colaborador'] }}","subject":"=Licença {{ $json['Tipo de Licença'] }} de {{ $json['Nome do Colaborador'] }} Não Autorizada","message":"=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n\n    a:link {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* visited link */\n    a:visited {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* mouse over link */\n    a:hover {\n      color: white;\n      text-decoration: none;\n    }\n\n    /* selected link */\n    a:active {\n      color: white;\n      text-decoration: none;\n    }\n\n    .button {\n      background-color: #00004d; \n      border: none;\n      color: white;\n      padding: 10px 24px;\n      text-align: center;\n      text-decoration: none;\n      display: inline-block;\n      font-size: 16px;\n      margin: 4px 2px;\n      transition-duration: 0.1s;\n      cursor: pointer;\n    }\n\n    .informacoes {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .aprovar {\n      background-color: #00004d; \n      color: white; \n    }\n\n    .reprovar {\n      background-color: #f44336; \n      color: white; \n    }\n\n    .aprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .reprovar:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n    .informacoes:hover {\n      background-color: #FF9900;\n      color: white;\n    }\n\n\n    </style>\n    </head>\n    <body>\n\n    <p><a href=\"https://modal.org.br/\" target=_blank><img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_completa_protegida.png\" width=\"220\"></a></p>\n    <hr>\n    <p>Olá!\n\n    <p>A licença solicitada por {{ $json['Nome do Colaborador'] }} <b>não foi autorizada</b>. Para mais informações, entre em contato com {{ $json['Gestor Direto'] }} ({{ $json['Email Gestor'] }}).</p>\n\n    <p>O colaborador pode fazer uma nova solicitação a qualquer momento.</p>\n\n    <p>Seguem todas as informações enviadas no momento da solicitação:</p>\n    <hr>\n\n    <ul>\n    <li>Nome do colaborador: {{ $json['Nome do Colaborador'] }} ({{ $json['Email Colaborador'] }})</li>\n    <li>Tipo de licença solicitada: {{ $json['Tipo de Licença'] }}</li>\n    <li>Motivo da licença: {{ $json[\"Motivo da Licença\"] }}</li>\n    <li>Período da licença: {{ $json['Data de Início'] }} a {{ $json['Data de Término'] }}</li>\n    <li>Observações / informações adicionais: {{ $json['Observações'] }}</li>\n    <li>RequestID: {{ $json.requestId }}</li>\n    <li>Data de solicitação: {{ $json['Data da Solicitação'] }}</li>\n    <li>Gestor (responsável pela autorização): {{ $json['Gestor Direto'] }} ({{ $json['Email Gestor'] }})</li>\n    <li>Data da autorização: {{ $json['Data da Decisão'] }}</li>\n    </ul>\n    <hr>\n</html>","options":{"ccList":"={{ $json['Email Gestor'] }}, rh@modal.org.br"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-224,1184],"id":"8bee9ad8-7b8e-4533-a739-6dbaaf4bcc0a","name":"Notificação de Solicitação Rejeitada","webhookId":"716884a7-08c6-4281-bb14-daffbcb575af","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"calendar":{"__rl":true,"value":"c_0bd9e9a18c1aed3bfac58de6af6460496f33f7303f99accad12d847fe81a1ee2@group.calendar.google.com","mode":"list","cachedResultName":"Licenças"},"start":"={{ DateTime.fromFormat($json[\"Data de Início\"], \"dd/MM/yyyy\", { zone: \"America/Sao_Paulo\" }).toISO() }}","end":"={{ DateTime.fromFormat($json[\"Data de Término\"], \"dd/MM/yyyy\", { zone: \"America/Sao_Paulo\" }).toISO() }}","additionalFields":{"description":"=Licença ({{ $json[\"Tipo de Licença\"] }}) de {{ $json['Nome do Colaborador'] }}\n\nAutorizada por {{ $json[\"Gestor Direto\"] }} em {{ $json[\"Data da Decisão\"] }}","summary":"=Licença ({{ $json[\"Tipo de Licença\"] }}) de {{ $json['Nome do Colaborador'] }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-224,720],"id":"a50b4dcd-3d85-4ce9-9b6e-24206bc0af12","name":"Grava Licença na Agenda","credentials":{"googleCalendarOAuth2Api":{"id":"McceEvia4HEhIlmE","name":"Modal - Google Calendar"}}}],"connections":{"Recupera registro na planilha":{"main":[[{"node":"Grava Licença na Agenda","type":"main","index":0},{"node":"Notificação de Solicitação Autorizada","type":"main","index":0}]]},"Recupera registro na planilha1":{"main":[[{"node":"Notificação de Solicitação Rejeitada","type":"main","index":0}]]},"Webhook - Wordpress Form":{"main":[[{"node":"Renomeia campos do webhook","type":"main","index":0}]]},"Gera RequestID":{"main":[[{"node":"Google Sheets - Cria linha na planilha de Licenças","type":"main","index":0},{"node":"Confirmação do Usuário","type":"main","index":0}]]},"Google Sheets - Cria linha na planilha de Licenças":{"main":[[{"node":"Apreciação do Gestor","type":"main","index":0}]]},"Webhook - Solicitação Aprovada":{"main":[[{"node":"Registra data atual1","type":"main","index":0}]]},"Webhook - Solicitação Não Aprovada":{"main":[[{"node":"Registra data atual","type":"main","index":0}]]},"Registra data atual":{"main":[[{"node":"Atualiza status para não autorizada","type":"main","index":0}]]},"Registra data atual1":{"main":[[{"node":"Atualiza status para autorizada","type":"main","index":0}]]},"Atualiza status para não autorizada":{"main":[[{"node":"Recupera registro na planilha1","type":"main","index":0}]]},"Atualiza status para autorizada":{"main":[[{"node":"Recupera registro na planilha","type":"main","index":0}]]},"Recupera Dados do Colaborador e do Gestor":{"main":[[{"node":"Renomeia todas as Variáveis","type":"main","index":0}]]},"Renomeia campos do webhook":{"main":[[{"node":"Recupera Dados do Colaborador e do Gestor","type":"main","index":0}]]},"Renomeia todas as Variáveis":{"main":[[{"node":"Gera RequestID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Usando Form do N8N (opção caso form do Wordpress não funcione)":[{"json":{"Nome":"Bruno Souza","E-mail":"bruno.souza@modal.org.br","Tipo de Licença Solicitada":"Remunerada","Motivo da Licença":"Férias","Data de Início da Licença":"14/01/2025","Data de Término da Licença":"31/01/2025","Observações / Informações Adicionais":"Teste","Nome do Gestor Imediato":"Bruno Carvalho","E-mail do Gestor Imediato":"admin@modal.org.br","submittedAt":"2025-01-13T10:55:24.629-03:00","formMode":"production"}}],"Webhook - Wordpress Form":[{"json":{"headers":{"connection":"close","host":"n8n.modal.org.br","x-forwarded-scheme":"https","x-forwarded-proto":"https","x-forwarded-for":"189.50.84.194","x-real-ip":"189.50.84.194","content-length":"579","user-agent":"WordPress/6.7.1; https://www.modal.org.br ForminatorWebhook/1.0","accept-encoding":"deflate, gzip, br, zstd","accept":"application/json","content-type":"application/json"},"params":{},"query":{},"body":{"select_3":"Bruno Souza","select_1":"Remunerada","select_2":"Acompanhamento pontual de saúde (consultas, exames, viroses etc. - até 5 dias)","date_1":"22/01/2025","date_2":"25/01/2025","textarea_1":"TESTE","referer_url":"","_wp_http_referer":"/wp-admin/admin-ajax.php","page_id":"114707","form_type":"default","current_url":"https://www.modal.org.br/2025/01/06/solicitacao-de-licenca-afastamento/","render_id":"0","input_7":"","_forminator_user_ip":null,"form_title":"Solicitação de Licença/Afastamento","entry_time":"2025-01-21 10:19:02"},"webhookUrl":"https://n8n.modal.org.br/webhook/solicita-licenca","executionMode":"production"}}]},"versionId":"e7a3fb27-3476-462e-bac8-0b029e25c963","triggerCount":4,"shared":[{"updatedAt":"2025-11-24T17:21:52.033Z","createdAt":"2025-11-24T17:21:52.033Z","role":"workflow:owner","workflowId":"jzT8YjaLNcSayEUv","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":11,"yesterdayDate":"2025-11-24T05:00:02.321Z"}