Workflows/Backup de Fluxos do n8n no GitHub Modal - 2025-11-01.json
{"updatedAt":"2025-11-01T12:48:16.719Z","createdAt":"2025-11-01T12:44:48.332Z","id":"4e2tnKPBymyBiZhR","name":"Backup de Fluxos do n8n no GitHub Modal","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1344,272],"id":"fd49f0dd-7bab-402c-af7c-7fe3de53490d","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1120,272],"id":"32153e03-4d80-42e3-a7ce-955c4241e93a","name":"Recupera todos os fluxos","credentials":{"n8nApi":{"id":"glWIv777xwFO4fcQ","name":"Modal - n8n"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"brunosouza-modal","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/brunosouza-modal/n8n-workflows"},"filePath":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.fileName }}","fileContent":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.content }}","commitMessage":"=Criação do fluxo {{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.fileName }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[672,272],"id":"d4342acd-e378-48aa-9ad8-8292a5be3f4c","name":"GitHub - Cria novo arquivo","webhookId":"da172ba9-b1bc-456f-993a-451d179574e6","credentials":{"githubApi":{"id":"4bro1vljzNI7vlKJ","name":"Modal - GitHub (bruno.souza)"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"brunosouza-modal","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/brunosouza-modal/n8n-workflows"},"filePath":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.fileName }}","fileContent":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.content }}","commitMessage":"=Atualização do fluxo {{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.content }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[672,464],"id":"13135026-06c6-4c11-b2ea-273b399cd686","name":"GitHub - Atualiza Fluxo","webhookId":"f26bae43-edea-43dd-b065-b1660988dd4d","credentials":{"githubApi":{"id":"4bro1vljzNI7vlKJ","name":"Modal - GitHub (bruno.souza)"}}},{"parameters":{"assignments":{"assignments":[{"id":"6d22003f-44e9-4988-9b83-c274656d8107","name":"fileName","value":"=Workflows/{{ $json.name }} - {{ new Date($json.updatedAt).toISOString().split('T')[0] }}.json","type":"string"},{"id":"babb32ea-cec7-4e88-b001-88fc436b6839","name":"content","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"b7a5c595-8921-44ee-931a-3d75ce884fb8","name":"Edit Fields - Recupera nome e conteúdo do fluxo"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"brunosouza-modal","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/brunosouza-modal/n8n-workflows"},"filePath":"={{ $json.fileName }}","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[224,192],"id":"073e66c3-bd2e-493e-9f5d-67cf2bd99583","name":"GitHub - Identifica se fluxo existe","webhookId":"3c9d572f-1cac-479f-993d-f6c387abe138","credentials":{"githubApi":{"id":"4bro1vljzNI7vlKJ","name":"Modal - GitHub (bruno.souza)"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5e7e4e6-5f01-4af7-8b3b-b150e6599708","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,192],"id":"bfac50df-9c2e-4173-bd11-bed696cdfa06","name":"If - Testa se é novo fluxo ou atualização"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,272],"id":"0f369b7c-99c4-48da-b2ed-36ba5213df48","name":"Loop Over Items - Tratamento dos fluxos"},{"parameters":{"jsCode":"const totalWorkflows = items.length;\nconst newItems = items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      totalWorkflows: totalWorkflows\n    }\n  };\n});\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,272],"id":"9193ada3-20f0-4e19-b38a-07a14ecbbffd","name":"Code - Conta a quantidade de fluxos"},{"parameters":{"sendTo":"admin@modal.org.br","subject":"=Backup diário do n8n concluído - {{ new Date().toLocaleString('pt-BR') }}!","message":"=<h3>Relatório do Backup Diário do n8n</h3>\n<p>O backup dos workflows foi executado com sucesso!</p>\n<p>Detalhes:</p>\n<ul>\n  <li><strong>Status:</strong> Sucesso</li>\n  <li><strong>Data/Hora:</strong> {{ new Date().toLocaleString() }}</li>\n  <li><strong>Nº de workflows comitados:</strong> {{ $json.totalWorkflows }}</li>\n</ul>\n<h4>Workflows atualizados/criados:</h4>\n{{ $json.updatedWorkflowsList }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,0],"id":"81754fca-786d-492b-b248-af6329206d6f","name":"GMail - Envia relatório do backup","webhookId":"9c837d7c-1f38-4ae1-ba00-12acc801ceb0","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"jsCode":"// Este código unifica a saída em um único item para o e-mail\n// e coleta a lista de workflows atualizados.\n\n// Conta o número total de itens processados pelo loop\nconst totalItems = items.length;\n\n// Prepara uma lista em HTML dos workflows atualizados\nlet updatedWorkflowsList = '';\nif (totalItems > 0) {\n  updatedWorkflowsList += '<ul>';\n  for (const item of items) {\n    // Acessa o nome do fluxo a partir do JSON original do n8n\n    const workflowName = item.json.content.name; // <--- Linha corrigida aqui\n    // O nó GitHub retorna a URL do commit no campo 'commit.html_url'\n    const commitUrl = item.json.commit.html_url;\n\n    updatedWorkflowsList += `<li><a href=\"${commitUrl}\">${workflowName}</a></li>`;\n  }\n  updatedWorkflowsList += '</ul>';\n} else {\n  updatedWorkflowsList = 'Nenhum workflow foi atualizado nas últimas 24 horas.';\n}\n\n// Cria um novo item de dados para a saída do fluxo\nreturn [{\n  json: {\n    totalWorkflows: totalItems,\n    updatedWorkflowsList: updatedWorkflowsList\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"83a4204a-d2f0-43a0-b54b-df1bd4deec43","name":"Code - Agrega itens do Loop para enviar um único e-mail"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62e32e63-7657-49bd-a64c-7aa146ff4532","leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $json.yesterdayDate }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-448,272],"id":"c4e9c4fb-2062-4217-85e4-aa8548d25836","name":"Filter - Descarta fluxos antigos que não tiveram atualização nas últimas 24h"},{"parameters":{"jsCode":"const yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\n\n// Anexa a data de ontem a cada item do fluxo para que seja lida pelo nó Filter\nreturn items.map(item => {\n  return {\n    ...item,\n    json: {\n      ...item.json,\n      yesterdayDate: yesterday.toISOString()\n    }\n  }\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,272],"id":"f1f89d59-6f22-4b5d-815f-abcb28871850","name":"Code - Verifica Data de Atualização do fluxo"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Recupera todos os fluxos","type":"main","index":0}]]},"Recupera todos os fluxos":{"main":[[{"node":"Code - Conta a quantidade de fluxos","type":"main","index":0}]]},"GitHub - Atualiza Fluxo":{"main":[[{"node":"Loop Over Items - Tratamento dos fluxos","type":"main","index":0}]]},"GitHub - Cria novo arquivo":{"main":[[{"node":"Loop Over Items - Tratamento dos fluxos","type":"main","index":0}]]},"Edit Fields - Recupera nome e conteúdo do fluxo":{"main":[[{"node":"GitHub - Identifica se fluxo existe","type":"main","index":0}]]},"GitHub - Identifica se fluxo existe":{"main":[[{"node":"If - Testa se é novo fluxo ou atualização","type":"main","index":0}]]},"If - Testa se é novo fluxo ou atualização":{"main":[[{"node":"GitHub - Cria novo arquivo","type":"main","index":0}],[{"node":"GitHub - Atualiza Fluxo","type":"main","index":0}]]},"Loop Over Items - Tratamento dos fluxos":{"main":[[{"node":"Code - Agrega itens do Loop para enviar um único e-mail","type":"main","index":0}],[{"node":"Edit Fields - Recupera nome e conteúdo do fluxo","type":"main","index":0}]]},"Code - Conta a quantidade de fluxos":{"main":[[{"node":"Code - Verifica Data de Atualização do fluxo","type":"main","index":0}]]},"Code - Agrega itens do Loop para enviar um único e-mail":{"main":[[{"node":"GMail - Envia relatório do backup","type":"main","index":0}]]},"Filter - Descarta fluxos antigos que não tiveram atualização nas últimas 24h":{"main":[[{"node":"Loop Over Items - Tratamento dos fluxos","type":"main","index":0}]]},"Code - Verifica Data de Atualização do fluxo":{"main":[[{"node":"Filter - Descarta fluxos antigos que não tiveram atualização nas últimas 24h","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"729682a6-d379-4fc3-a4a6-de1beda7c3f2","triggerCount":1,"shared":[{"updatedAt":"2025-11-01T12:44:48.332Z","createdAt":"2025-11-01T12:44:48.332Z","role":"workflow:owner","workflowId":"4e2tnKPBymyBiZhR","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":4,"yesterdayDate":"2025-10-31T12:48:21.101Z"}