Workflows/Candidatura para Trabalhar no Modal - 2025-11-01.json
{"updatedAt":"2025-11-01T12:49:50.650Z","createdAt":"2025-11-01T12:49:50.005Z","id":"sXhHkUEjw2VO2ET9","name":"Candidatura para Trabalhar no Modal","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"trabalhe-no-modal","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3168,96],"id":"adfdc635-7971-4651-8c77-c3aaf5ff29e2","name":"Webhook","webhookId":"6e2f72b3-bd23-4bc1-833c-5c3879b7f15d"},{"parameters":{"documentId":{"__rl":true,"value":"1tiIFQ6_1nZoAWZASKwExU2Qe8GHFwV7W9ASa0pP7o14","mode":"list","cachedResultName":"Candidaturas para Trabalhar no Modal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tiIFQ6_1nZoAWZASKwExU2Qe8GHFwV7W9ASa0pP7o14/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2122945682,"mode":"list","cachedResultName":"Perfis de Vagas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tiIFQ6_1nZoAWZASKwExU2Qe8GHFwV7W9ASa0pP7o14/edit#gid=2122945682"},"filtersUI":{"values":[{"lookupColumn":"Vaga","lookupValue":"={{ $json[\"Vaga Pretendida\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2720,96],"id":"44de8acd-d690-4410-b4b5-9cfb6e7de24a","name":"Recupera descrição do Perfil da Vaga","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"url":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Link para Currículo\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2272,96],"id":"3506151c-92a6-4cea-97eb-c650fddc8a27","name":"Baixa Currículo"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      ...items[0].json,\n      requestId: Date.now().toString() + Math.random().toString(36).substring(2, 8)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2496,96],"id":"ec5a596a-c4ca-4db8-bb65-9dc54984a8a2","name":"Gera requestId"},{"parameters":{"assignments":{"assignments":[{"id":"bdacc717-4346-4868-930f-b51d945ebf6a","name":"Nome do(a) Candidato(a)","value":"={{ $json.body.name_1 }}","type":"string"},{"id":"52bb1b4c-30ba-4589-8884-3dd00d35c8db","name":"E-mail do(a) Candidato(a)","value":"={{ $json.body.email_1 }}","type":"string"},{"id":"4e3d9f83-63d4-41fd-bcbf-19dafbb0dfc4","name":"Telefone do(a) Candidato(a)","value":"={{ $json.body.phone_1 }}","type":"string"},{"id":"f8899e4d-ee2e-4991-bbac-adf1ffe27b0f","name":"Perfil no LinkedIn","value":"={{ $json.body.url_1 }}","type":"string"},{"id":"3f4c2432-e9ef-47d2-b266-7ece530f41f5","name":"Vaga Pretendida","value":"={{ $json.body.select_1 }}","type":"string"},{"id":"05c40655-a0d4-4a1c-bcaf-262d70d69f82","name":"Nível de Formação Acadêmica","value":"={{ $json.body.select_2 }}","type":"string"},{"id":"8851d74c-aefc-4a48-a2e2-8d447b53a5a9","name":"Anos de Experiência em Desenvolvimento","value":"={{ $json.body.select_3 }}","type":"string"},{"id":"bc8f776e-52ba-4fcc-9868-7536b7cdb081","name":"Já trabalhou com metodologias ágeis","value":"={{ $json.body.select_6 }}","type":"string"},{"id":"8c066849-75f3-403b-a08f-66199cf8fe36","name":"Descrição da Experiência Profissional","value":"={{ $json.body.textarea_1 }}","type":"string"},{"id":"d3c3cec9-8c52-4055-990a-8bf33b4912de","name":"Projetos mais Significativos","value":"={{ $json.body.textarea_2 }}","type":"string"},{"id":"2d5a1d57-db06-469d-9571-fffbcb46793f","name":"Motivação para trabalhar no Modal","value":"={{ $json.body.textarea_3 }}","type":"string"},{"id":"ded43535-f600-4794-ace2-ad2bec2aa937","name":"Link para Currículo","value":"={{ $json.body.upload_1 }}","type":"string"},{"id":"0c43961b-ba12-4ce0-a6b1-fce4075e0478","name":"Data de Envio da Candidatura","value":"={{ $json.body.entry_time }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2944,96],"id":"54f9f037-e4c1-4b2f-9d44-b99545b18e3c","name":"Renomeia Variáveis do Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"262b0328-0c38-4c13-9d35-11f100f25db4","name":"requestId","value":"={{ $('Gera requestId').item.json.requestId }}","type":"string"},{"id":"43b3be1a-163d-4092-ae7e-ee7d031e7f88","name":"Vaga","value":"={{ $('Recupera descrição do Perfil da Vaga').item.json.Vaga }}","type":"string"},{"id":"8d1b9909-2e55-4bbe-b7d9-2cf771d4bf4d","name":"Perfil da Vaga","value":"={{ $('Recupera descrição do Perfil da Vaga').item.json['Perfil da Vaga'] }}","type":"string"},{"id":"a5d6feb7-7603-4e38-ae5b-be8587b8f5c5","name":"Nome do(a) Candidato(a)","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Nome do(a) Candidato(a)\"] }}","type":"string"},{"id":"6dfa9a36-b471-4943-8191-d4b28480fc09","name":"E-mail do(a) Candidato(a)","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"E-mail do(a) Candidato(a)\"] }}","type":"string"},{"id":"3bc7b9d5-3cdd-4518-b89f-b4d74873bf35","name":"Telefone do(a) Candidato(a)","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Telefone do(a) Candidato(a)\"] }}","type":"string"},{"id":"eb0b60b5-e901-488e-9aa6-2a52e9662bac","name":"Perfil no LinkedIn","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Perfil no LinkedIn\"] }}","type":"string"},{"id":"e0ffa936-1976-4d6b-887e-c69a543b3470","name":"Nível de Formação Acadêmica","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Nível de Formação Acadêmica\"] }}","type":"string"},{"id":"7f701b6f-66ca-49f7-bd01-af81e32e0f57","name":"Anos de Experiência na Área da Vaga","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Anos de Experiência em Desenvolvimento\"] }}","type":"string"},{"id":"eba53c66-9275-4f42-a20f-5fde0fd4f4e4","name":"Já trabalhou com metodologias ágeis","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Já trabalhou com metodologias ágeis\"] }}","type":"string"},{"id":"745ec4ba-daca-4245-8fcd-92fdbc29ed5c","name":"Descrição da Experiência Profissional","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Descrição da Experiência Profissional\"] }}","type":"string"},{"id":"f3aac9ba-7a46-4cca-901a-feb859ecc5e6","name":"Projetos mais Significativos","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Projetos mais Significativos\"] }}","type":"string"},{"id":"c6de5066-2dd6-4a4e-aab1-a823c6d9b29c","name":"Motivação para trabalhar no Modal","value":"={{ $('Renomeia Variáveis do Webhook').item.json['Motivação para trabalhar no Modal'] }}","type":"string"},{"id":"1e816b25-509d-4f86-abec-9dc203831f10","name":"Link para Currículo","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Link para Currículo\"] }}","type":"string"},{"id":"0b08c559-0df3-4d93-94b5-c035667482a0","name":"Resumo do Currículo","value":"={{ $('Formata Resumo do Currículo').item.json[\"output\"]}}","type":"string"},{"id":"dd0a0643-8cd0-4342-9655-36ee7a79469d","name":"Data de Envio da Candidatura","value":"={{ $('Renomeia Variáveis do Webhook').item.json[\"Data de Envio da Candidatura\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,96],"id":"bf4ed391-91a5-40ea-9bf9-4c4ddb12eda4","name":"Renomeia todas as Variáveis"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-728,320],"id":"ac86fae1-181e-4d46-805b-a5092bf68fa1","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"QZofl0lyjWPk4QuC","name":"Modal - OpenAI"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tiIFQ6_1nZoAWZASKwExU2Qe8GHFwV7W9ASa0pP7o14","mode":"list","cachedResultName":"Candidaturas para Trabalhar no Modal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tiIFQ6_1nZoAWZASKwExU2Qe8GHFwV7W9ASa0pP7o14/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Candidaturas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tS_5UFBafgKE3qoMKeeGkrYJ1T_gAPn8wdzTTIAHfp4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Perfil no LinkedIn":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Perfil no LinkedIn\"] }}","Já trabalhou com metodologias ágeis":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Já trabalhou com metodologias ágeis\"] }}","Resumo do Currículo":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Resumo do Currículo\"] }}","Pontuação por IA":"={{ $json[\"Pontuação da IA\"] }}","Pontos Fortes":"={{ $json[\"Pontos Fortes\"] }}","Pontos Fracos":"={{ $json[\"Pontos Fracos\"] }}","Sugestões para o Candidato":"={{ $json[\"Sugestões\"] }}","RequestID":"={{$node[\"Renomeia todas as Variáveis\"].json[\"requestId\"] }}","Data da Candidatura":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Data de Envio da Candidatura\"] }}","Nome completo":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Nome do(a) Candidato(a)\"] }}","E-mail":"={{$node[\"Renomeia todas as Variáveis\"].json[\"E-mail do(a) Candidato(a)\"] }}","Telefone":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Telefone do(a) Candidato(a)\"] }}","Vaga":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Vaga\"]}}","Formação Acadêmica":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Nível de Formação Acadêmica\"] }}","Anos de experiência na área da vaga":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Anos de Experiência na Área da Vaga\"] }}","Experiência profissional":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Descrição da Experiência Profissional\"] }}","Projetos mais significativos":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Projetos mais Significativos\"] }}","Motivação para trabalhar no Instituto Modal":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Motivação para trabalhar no Modal\"] }}","Link para currículo":"={{$node[\"Renomeia todas as Variáveis\"].json[\"Link para Currículo\"] }}"},"matchingColumns":[],"schema":[{"id":"RequestID","displayName":"RequestID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data da Candidatura","displayName":"Data da Candidatura","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome completo","displayName":"Nome completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Perfil no LinkedIn","displayName":"Perfil no LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vaga","displayName":"Vaga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Formação Acadêmica","displayName":"Formação Acadêmica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Anos de experiência na área da vaga","displayName":"Anos de experiência na área da vaga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Já trabalhou com metodologias ágeis","displayName":"Já trabalhou com metodologias ágeis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Experiência profissional","displayName":"Experiência profissional","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Projetos mais significativos","displayName":"Projetos mais significativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Motivação para trabalhar no Instituto Modal","displayName":"Motivação para trabalhar no Instituto Modal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link para currículo","displayName":"Link para currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resumo do Currículo","displayName":"Resumo do Currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pontuação por IA","displayName":"Pontuação por IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pontos Fortes","displayName":"Pontos Fortes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pontos Fracos","displayName":"Pontos Fracos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sugestões para o Candidato","displayName":"Sugestões para o Candidato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"RAW"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-224,96],"id":"73671701-cd11-454d-a918-2b157971f1cb","name":"Grava Candidatura na Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"MD2zkKGpn6A1MWoL","name":"Modal - Google Sheets (admin@modal.org.br)"}}},{"parameters":{"jsCode":"// Captura a saída do nó IA Agent\nconst outputIA = $json[\"output\"] || \"\";\n\n// Normaliza a string para evitar problemas com formatações diferentes\nconst normalizedText = outputIA\n    .replace(/### /g, \"\")  // Remove títulos Markdown como \"### Pontuação\"\n    .replace(/- \\*\\*/g, \"\") // Remove prefixos como \"- **Pontuação:**\"\n    .replace(/\\*\\*:/g, \":\") // Remove \"**: \" do título para torná-lo mais legível\n    .replace(/\\*\\*/g, \"\");  // Remove negrito restante para evitar confusão\n\n// Função para encontrar o conteúdo de uma seção baseado em um título\nfunction extractSection(text, startMarker, endMarker) {\n    const startIndex = text.indexOf(startMarker);\n    if (startIndex === -1) return \"N/A\";  // Retorna N/A se a seção não existir\n\n    let endIndex = text.indexOf(endMarker, startIndex + startMarker.length);\n    if (endIndex === -1) endIndex = text.length; // Se não encontrar o fim, vai até o final\n\n    return text.substring(startIndex + startMarker.length, endIndex).trim();\n}\n\n// Extrai os blocos de informação\nconst pontuacao = extractSection(normalizedText, \"Pontuação:\", \"\\n\");\nconst pontosFortes = extractSection(normalizedText, \"Pontos Fortes:\", \"Pontos Fracos:\");\nconst pontosFracos = extractSection(normalizedText, \"Pontos Fracos:\", \"Sugestões para o Candidato:\");\nconst sugestoes = extractSection(normalizedText, \"Sugestões para o Candidato:\", \"Essa pontuação\");\n\n// Função para remover formatação Markdown e adicionar quebras de linha\nfunction formatText(text) {\n    return text\n        .replace(/\\n\\s*\\d+\\.\\s*/g, \"\\n\") // Remove numeração automática (1., 2., 3.)\n        .replace(/\\n/g, \"\\n\") // Mantém as quebras de linha\n        .trim();\n}\n\n// Retorna os dados formatados corretamente\nreturn [\n  {\n    json: {\n      \"Pontuação da IA\": pontuacao,\n      \"Pontos Fortes\": formatText(pontosFortes),\n      \"Pontos Fracos\": formatText(pontosFracos),\n      \"Sugestões\": formatText(sugestoes)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,96],"id":"8f0010dd-870e-4da3-806f-0ba3e7ebd2f1","name":"Formata saída da Avaliação da IA"},{"parameters":{"promptType":"define","text":"=Atue como um especialista em recrutamento e seleção de candidatos para uma empresa de tecnologia com foco em inteligência artificial e inovação. Avalie o candidato a seguir em relação à vaga pretendida. Analise suas competências, nível de experiência e compatibilidade com o perfil desejado.\n\nDetalhes da vaga:\n- Título da Vaga: {{ $json.Vaga }}\n- Perfil da Vaga: {{ $json['Perfil da Vaga'] }}\n\nInformações do Candidato:\n- Nome: {{ $json['Nome do(a) Candidato(a)'] }}\n- E-mail: {{ $json['E-mail do(a) Candidato(a)'] }}\n- Telefone: {{ $json['Telefone do(a) Candidato(a)'] }}\n- Perfil no LinkedIn: {{ $json['Perfil no LinkedIn'] }}\n- Nível de Formação: {{ $json['Nível de Formação Acadêmica'] }}\n- Anos de Experiência na Área da Vaga: {{ $json['Anos de Experiência na Área da Vaga'] }}\n- Já trabalhou com Metodologias Ágeis (Kanban, Scrum etc.): {{ $json['Já trabalhou com metodologias ágeis'] }}\n- Descrição da Experiência Profissional: {{ $json['Descrição da Experiência Profissional'] }}\n- Projeto(s) Mais Significativo(s): {{ $json['Projetos mais Significativos'] }}\n- Motivação para trabalhar na empresa: {{ $json['Motivação para trabalhar no Modal'] }}\n- Link para o currículo: {{ $json['Link para Currículo'] }}\n- Resumo do Currículo: {{ $('Resume Currículo').item.json.output }}\n\nSolicitação à IA:\n1. Avalie se as habilidades do candidato estão alinhadas com os critérios da vaga.\n2. Atribua uma pontuação de 0 a 10 para a compatibilidade do candidato em relação à vaga.\n3. Explique os pontos fortes e fracos do candidato em relação à vaga.\n4. Faça sugestões ao candidato, sempre referenciando as exigências da vaga, de melhorias de formação, experiência profissional e outras habilidades que o candidato pode desenvolver para aumentar suas chances de conquistar a oportunidade.\n5. Seja objetivo e vá direto ao ponto, sem escrever introduções ou conclusões genéricas.\n\nFormato da resposta esperado:\n- Pontuação: X/10\n- Pontos Fortes: (Listar os pontos positivos)\n- Pontos Fracos: (Listar os pontos que precisam ser melhorados)\n- Sugestões para o Candidato: (Indicar melhorias possíveis)","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-800,96],"id":"a68472fb-8f96-4da5-a5fd-38103512dc86","name":"Avaliação do Candidato por IA"},{"parameters":{"sendTo":"={{$node[\"Renomeia todas as Variáveis\"].json[\"E-mail do(a) Candidato(a)\"] }}","subject":"=Candidatura de {{$node[\"Renomeia todas as Variáveis\"].json[\"Nome do(a) Candidato(a)\"] }} para a vaga {{$node[\"Renomeia todas as Variáveis\"].json[\"Vaga\"] }} - Avaliação do seu perfil","message":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body {\n            font-family: 'Roboto Light', 'Roboto', 'Sans Serif';\n            font-size: 16px;\n            line-height: 1.6;\n            color: #333;\n        }\n        h1, h2, h3, h4, h5, h6 {\n            font-family: 'Lato', 'Roboto Light', 'Roboto', 'Sans Serif';\n            color: #00004d;\n        }\n        a {\n            color: #000080;\n            text-decoration: none;\n        }\n        a:hover {\n            color: #ff9900;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 5px;\n            background-color: #f9f9f9;\n        }\n        .logo {\n            text-align: center;\n            margin-bottom: 20px;\n        }\n        .logo img {\n            max-width: 200px;\n        }\n        .section {\n            margin-bottom: 20px;\n        }\n        .footer {\n            text-align: center;\n            font-size: 14px;\n            color: #777;\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"container\">\n        <div class=\"logo\">\n            <a href=\"https://www.modal.org.br/\" target=_blank>\n                <img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_simplificada.png\" alt=\"Instituto Modal\" width=\"300\" alignt=\"center\">\n            </a>\n        </div>\n\n        <h2>Olá, {{$node[\"Renomeia todas as Variáveis\"].json[\"Nome do(a) Candidato(a)\"] }}!</h2>\n\n        <p>Recebemos sua candidatura para a vaga <strong>{{$node[\"Renomeia todas as Variáveis\"].json[\"Vaga\"] }}</strong> e realizamos uma análise automatizada do seu perfil. Essa etapa é preliminar e não determina sua aprovação ou desclassificação para a vaga. Estamos enviando este retorno em reconhecimento ao tempo que você dedicou para participar do nosso processo seletivo e esperamos que seja útil para você!</p>\n\n        <h2>Análise do seu Perfil em Relação à Vaga</h2>\n\n        <h3>Avaliação do seu perfil</h3>\n        <p>{{ $json[\"Pontos Fortes\"] }}</p>\n\n        <!-- <h3>Observações em relação à adequação para a vaga</h3>\n        <p>{{ $json['Sugestões para o Candidato'] }}</p> -->\n\n        <hr>\n        <p>O processo seletivo ainda está em andamento e esse e-mail é apenas uma avaliação preliminar do seu currículo e das informações que você enviou. Caso seja selecionado(a) para a próxima fase, você receberá um novo contato por e-mail, Whatsapp ou telefone para agendar uma conversa por vídeoconferência.</p>\n\n        <div class=\"footer\">\n            <p>Se precisar de mais informações, entre em contato conosco.</p>\n            <p><a href=\"https://www.modal.org.br/\" target=_blank>Instituto Modal de Ciência, Tecnologia e Inovação</a></p>\n        </div>\n    </div>\n\n</body>\n</html>\n","options":{"replyTo":"talentos@modal.org.br"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,0],"id":"7c5b38a0-faca-4980-8500-a2f5489b6459","name":"Envia Resultado para o Candidato","webhookId":"5d73321f-bb3b-4b7f-abfb-112e3370550f","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"sendTo":"=talentos@modal.org.br","subject":"=Candidatura de {{$node[\"Renomeia todas as Variáveis\"].json[\"Nome do(a) Candidato(a)\"] }} para a vaga {{$node[\"Renomeia todas as Variáveis\"].json[\"Vaga\"] }} - Avaliação do perfil","message":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body {\n            font-family: 'Roboto Light', 'Roboto', 'Sans Serif';\n            font-size: 16px;\n            line-height: 1.6;\n            color: #333;\n        }\n        h1, h2, h3, h4, h5, h6 {\n            font-family: 'Lato', 'Roboto Light', 'Roboto', 'Sans Serif';\n            color: #00004d;\n        }\n        a {\n            color: #000080;\n            text-decoration: none;\n        }\n        a:hover {\n            color: #ff9900;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 5px;\n            background-color: #f9f9f9;\n        }\n        .logo {\n            text-align: center;\n            margin-bottom: 20px;\n        }\n        .logo img {\n            max-width: 200px;\n        }\n        .section {\n            margin-bottom: 20px;\n        }\n        .footer {\n            text-align: center;\n            font-size: 14px;\n            color: #777;\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"container\">\n        <div class=\"logo\">\n            <a href=\"https://www.modal.org.br/\" target=_blank>\n                <img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_simplificada.png\" alt=\"Instituto Modal\" width=\"300\" alignt=\"center\">\n            </a>\n        </div>\n\n        <h2>Olá, Equipe de RH do Modal!</h2>\n\n        <p>Recebemos uma candidatura para a vaga <strong>{{$node[\"Renomeia todas as Variáveis\"].json[\"Vaga\"] }}</strong> de <strong>{{$node[\"Renomeia todas as Variáveis\"].json[\"Nome do(a) Candidato(a)\"] }}</strong> e realizamos a análise automática do perfil. Seguem todas as informações enviadas pelo(a) candidato(a) e o resultado da avaliação por IA:</p>\n\n        <h3>Informações Sobre a Vaga</h3>\n\t<ul>\n\t  <li><strong>Vaga Pretendida:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Vaga\"] }}</li>\n\t  <li><strong>Perfil da Vaga:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Perfil da Vaga\"] }}</li>\n\t</ul>\n\n        <h3>Informações do(a) Candidato(a)</h3>\n\t<ul>\n\t  <li><strong>Nome:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Nome do(a) Candidato(a)\"] }}</li>\n\t  <li><strong>Data da Candidatura:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Data de Envio da Candidatura\"] }}</li>\n\t  <li><strong>E-mail:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"E-mail do(a) Candidato(a)\"] }}</li>\n\t  <li><strong>Telefone:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Telefone do(a) Candidato(a)\"] }}</li>\n\t  <li><strong>Perfil no LinkedIn:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Perfil no LinkedIn\"] }}</li>\n\t  <li><strong>Nível de Formação:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Nível de Formação Acadêmica\"] }}</li>\n\t  <li><strong>Anos de Experiência na Área da Vaga:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Anos de Experiência na Área da Vaga\"] }}</li>\n\t  <li><strong>Conhece Metodologias Ágeis:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Já trabalhou com metodologias ágeis\"] }}</li>\n\t  <li><strong>Descrição da Experiência Profissional:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Descrição da Experiência Profissional\"] }}</li>\n\t  <li><strong>Projeto(s) Mais Significativo(s):</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Projetos mais Significativos\"] }}</li>\n\t  <li><strong>Motivação para Trabalhar no Modal:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Motivação para trabalhar no Modal\"] }}</li>\n\t  <li><strong>Resumo do Currículo (gerado por IA):</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Resumo do Currículo\"] }}</li>\n\t  <li><strong>Link para o Currículo Completo:</strong> {{$node[\"Renomeia todas as Variáveis\"].json[\"Link para Currículo\"] }}</li>\n\t</ul>\n\n        <h3>Resumo da Avaliação</h3>\n        <p><strong>Pontuação:</strong> {{ $json['Pontuação por IA'] }}</p>\n\n        <h3>Pontos Fortes</h3>\n        <p>{{ $json[\"Pontos Fortes\"] }}</p>\n\n        <h3>Pontos Fracos</h3>\n        <p>{{ $json[\"Pontos Fracos\"] }}</p>\n\n        <h3>Sugestões para o(a) Candidato(a) Melhorar</h3>\n        <p>{{ $json['Sugestões para o Candidato'] }}</p>\n\n        <hr>\n        <div class=\"footer\">\n            <p>Se precisar de mais informações, entre em contato conosco.</p>\n            <p><a href=\"https://www.modal.org.br/\" target=_blank>Instituto Modal de Ciência, Tecnologia e Inovação</a></p>\n        </div>\n    </div>\n\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,192],"id":"0dffaca7-da3c-49cf-a811-4f246a4b85dd","name":"Envia Resultado para o RH","webhookId":"5d73321f-bb3b-4b7f-abfb-112e3370550f","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"operation":"pdf","options":{"maxPages":7}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2048,96],"id":"ff7fdcc7-9413-47d6-a4d6-b76b86c9ed0a","name":"Extrai Texto do Currículo"},{"parameters":{"promptType":"define","text":"=Você é um algoritmo de extração especialista. Extraia todas as informações referentes a experiências profissionais, formação e capacitação texto a seguir. Estruture a sua resposta da seguinte forma:\nExperiências Profissionais:\n- Empresa | Cargo | Período | Responsabilidades\n\nFormação e Capacitação:\n- Curso | Nível | Duração\n\nTexto para extração:\n{{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1824,96],"id":"2337feb4-f97d-448f-9783-620da794b006","name":"Resume Currículo"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1752,320],"id":"3383bafd-0f83-433d-9a88-547166c8cde6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"QZofl0lyjWPk4QuC","name":"Modal - OpenAI"}}},{"parameters":{"jsCode":"// Recebe o array com a string de saída do nó de Agente de IA\nconst input = items[0].json.output;\n\n// Divide a string em seções de Experiências Profissionais e Formação e Capacitação\nconst [experiencias, formacao] = input.split('\\n\\n');\n\n// Processa as Experiências Profissionais\nconst experienciasArray = experiencias\n  .replace('**Experiências Profissionais:**\\n', '')\n  .split('\\n')\n  .map(item => {\n    const [empresa, cargo, periodo, responsabilidades] = item.split(' | ');\n    return `\n      <tr>\n        <td>${empresa}</td>\n        <td>${cargo}</td>\n        <td>${periodo}</td>\n        <td>${responsabilidades}</td>\n      </tr>\n    `;\n  })\n  .join('');\n\n// Processa a Formação e Capacitação\nconst formacaoArray = formacao\n  .replace('**Formação e Capacitação:**\\n', '')\n  .split('\\n')\n  .map(item => {\n    const [curso, nivel, duracao] = item.split(' | ');\n    return `\n      <tr>\n        <td>${curso}</td>\n        <td>${nivel}</td>\n        <td>${duracao}</td>\n      </tr>\n    `;\n  })\n  .join('');\n\n// Cria o HTML final (sem as tags <html>, <body> e <style>)\nconst outputHtml = `\n    <h2>Experiências Profissionais</h2>\n    <table>\n      <tr>\n        <th>Empresa</th>\n        <th>Cargo</th>\n        <th>Período</th>\n        <th>Responsabilidades</th>\n      </tr>\n      ${experienciasArray}\n    </table>\n\n    <h2>Formação e Capacitação</h2>\n    <table>\n      <tr>\n        <th>Curso</th>\n        <th>Nível</th>\n        <th>Duração</th>\n      </tr>\n      ${formacaoArray}\n    </table>\n`;\n\n// Retorna o HTML\nreturn [{\n  json: {\n    output: outputHtml\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1472,96],"id":"c2ee33ed-4d94-4af8-aaab-9c55c1eb8a71","name":"Formata Resumo do Currículo"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1024,96],"id":"9690326e-5bfd-4c97-bf4b-277449de67ab","name":"Wait","webhookId":"afa68535-73ea-4680-9ace-cb7ac56fbaa5"}],"connections":{"Webhook":{"main":[[{"node":"Renomeia Variáveis do Webhook","type":"main","index":0}]]},"Recupera descrição do Perfil da Vaga":{"main":[[{"node":"Gera requestId","type":"main","index":0}]]},"Baixa Currículo":{"main":[[{"node":"Extrai Texto do Currículo","type":"main","index":0}]]},"Renomeia Variáveis do Webhook":{"main":[[{"node":"Recupera descrição do Perfil da Vaga","type":"main","index":0}]]},"Gera requestId":{"main":[[{"node":"Baixa Currículo","type":"main","index":0}]]},"Renomeia todas as Variáveis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Avaliação do Candidato por IA","type":"ai_languageModel","index":0}]]},"Avaliação do Candidato por IA":{"main":[[{"node":"Formata saída da Avaliação da IA","type":"main","index":0}]]},"Formata saída da Avaliação da IA":{"main":[[{"node":"Grava Candidatura na Planilha","type":"main","index":0}]]},"Grava Candidatura na Planilha":{"main":[[{"node":"Envia Resultado para o Candidato","type":"main","index":0},{"node":"Envia Resultado para o RH","type":"main","index":0}]]},"Extrai Texto do Currículo":{"main":[[{"node":"Resume Currículo","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Resume Currículo","type":"ai_languageModel","index":0}]]},"Resume Currículo":{"main":[[{"node":"Formata Resumo do Currículo","type":"main","index":0}]]},"Formata Resumo do Currículo":{"main":[[{"node":"Renomeia todas as Variáveis","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Avaliação do Candidato por IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"close","host":"n8n.modal.org.br","x-forwarded-scheme":"https","x-forwarded-proto":"https","x-forwarded-for":"189.50.84.194","x-real-ip":"189.50.84.194","content-length":"3922","user-agent":"WordPress/6.7.1; https://www.modal.org.br ForminatorWebhook/1.0","accept-encoding":"deflate, gzip, br, zstd","accept":"application/json","content-type":"application/json"},"params":{},"query":{},"body":{"name_1":"Bruno Carvalho Castro Souza","email_1":"brunocpt@gmail.com","phone_1":"+55 61 99278-0605","url_1":"https://www.linkedin.com/in/brunocpt/","select_1":"Redator de Propostas e Projetos","select_2":"Mestrado/Doutorado","select_3":"6-10 anos","select_6":"Sim","textarea_1":"Tenho ampla experiência na redação e gestão de propostas para captação de recursos junto a órgãos de fomento e investidores privados, além de participação em licitações e editais. Atualmente, como Diretor de Governança e Diretor de Pesquisa e Inovação no Instituto Modal, sou responsável por elaborar e supervisionar projetos de pesquisa e inovação, garantindo conformidade com critérios técnicos e financeiros exigidos por editais públicos e privados. Atuei também no Centro de Pesquisa em Arquitetura da Informação (CPAI) da Universidade de Brasília, desenvolvendo propostas para órgãos como Ministério do Trabalho e Emprego e Caixa Econômica Federal. No Tribunal Superior Eleitoral, contribui para projetos de modernização administrativa. Minha atuação na academia, como professor e coordenador, me permitiu desenvolver documentos técnicos para credenciamento de cursos pelo Ministério da Educação. Com mestrado em Engenharia de Produção pela UFSC e especializações em Inovação e Empreendedorismo","textarea_2":"Participei de diversos projetos estratégicos, como o desenvolvimento de propostas para o Programa Espacial Brasileiro, em parceria com a Agência Espacial Brasileira, focado na gestão da informação espacial. No Instituto Modal, liderei a formulação de propostas para o projeto de Inteligência Artificial para Automação Industrial, em parceria com a X-SENSORS, visando captação de financiamento e estruturação de documentação técnica. Também atuei na gestão da informação para a Política Nacional de Resíduos Sólidos, financiada pelo Ministério do Meio Ambiente, e na estruturação de soluções para recursos hídricos em parceria com a Tecnipar Ambiental. Além disso, participei da implantação de programas de pós-graduação e credenciamento de instituições de ensino junto ao MEC, sempre focando na criação de propostas robustas e alinhadas às demandas do mercado e de órgãos financiadores.","textarea_3":"Vejo nesta oportunidade a chance de unir minha experiência em redação de propostas e projetos com meu entusiasmo por inovação e tecnologia. Sou motivado pelo desafio de estruturar iniciativas que gerem impacto real, e a abordagem da empresa no uso de inteligência artificial para desenvolver soluções em benefício da sociedade me inspira. A possibilidade de contribuir para projetos que aliam estratégia, inovação e transformação social reforça meu interesse em fazer parte da equipe, ajudando a potencializar a captação de recursos e viabilizar novas iniciativas que tragam mudanças significativas.","referer_url":"https://www.modal.org.br/trabalhe-com-o-modal/","_wp_http_referer":"/wp-admin/admin-ajax.php","page_id":"114711","form_type":"default","current_url":"https://www.modal.org.br/2025/01/06/redator-de-propostas-e-projetos/","render_id":"0","save_draft":"false","input_13":"","upload_1":"https://www.modal.org.br/wp-content/uploads/forminator/115561_386b2f7e66eaa69572dec120350b793d/uploads/WV0dGAdvvBYF-2025-01-14-Bruno-Souza-Curriculo-Lattes.pdf","_forminator_user_ip":null,"form_title":"Candidatura para Trabalhar no Modal","entry_time":"2025-01-30 16:54:45"},"webhookUrl":"https://n8n.modal.org.br/webhook/trabalhe-no-modal","executionMode":"production"}}]},"versionId":"942f0b29-b005-4745-9a45-d26e55edb18a","triggerCount":1,"shared":[{"updatedAt":"2025-11-01T12:49:50.005Z","createdAt":"2025-11-01T12:49:50.005Z","role":"workflow:owner","workflowId":"sXhHkUEjw2VO2ET9","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":10,"yesterdayDate":"2025-10-31T13:30:20.296Z"}