Workflows/Compartilha post do Wordpress no Linkedin - 2025-11-01.json
{"updatedAt":"2025-11-01T12:55:58.911Z","createdAt":"2025-11-01T12:55:58.911Z","id":"xg1NrG5LO2eWLWHq","name":"Compartilha post do Wordpress no Linkedin","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","returnAll":true,"options":{"after":"={{ new Date(new Date($json.timestamp).getTime() - 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] + 'T00:00:00' }}","categories":[445,446]}},"name":"Get Many Posts","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[224,272],"id":"098b2bdb-3906-447b-a0a0-2615ed2555bf","credentials":{"wordpressApi":{"id":"E3GmQKGvF20ljgVe","name":"Modal - Wordpress (bruno.souza)"}}},{"parameters":{"url":"={{ $json.source_url }}","responseFormat":"file","options":{}},"name":"Download Featured Image","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[224,0],"id":"18c31f38-fa67-47c4-b2d8-f1c58b26ab64"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,272],"id":"24399d48-4729-43d3-b509-0039fc919ed9","name":"Schedule Trigger1"},{"parameters":{"url":"={{ $json.mediaUrl }}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"b232dbf5-9633-4ffc-88b4-3546f802ed8f","name":"HTTP Request"},{"parameters":{"jsCode":"return $input.all().map(item => {\n    return {\n        json: {\n            ...item.json,\n            mediaUrl: item.json._links[\"wp:featuredmedia\"]?.[0]?.href || null\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,272],"id":"8c87cf20-210f-4c18-b395-d8cab55b487a","name":"Code"},{"parameters":{"person":"SFjebObkz6","text":"={{ \n  $('Code').item.json.title.rendered + \"\\n\\n\" + \n  $('Code').item.json.excerpt.rendered\n    .replace(/<\\/?[^>]+(>|$)/g, \"\") // Remove HTML\n    .replace(/&[^;]+;/g, \"\") + \"\\n\\n\" + \n  \"Leia mais: \" + $('Code').item.json.link \n}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[672,0],"id":"402d4f3a-68e2-4326-8e3f-9b6661335945","name":"LinkedIn1","credentials":{"linkedInOAuth2Api":{"id":"0wxLyBnbjBD4tgtv","name":"Bruno - LinkedIn"}}},{"parameters":{"jsCode":"console.log($json);\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"0e01ddb2-549b-4fab-8ac2-81fcde19a460","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7c816da-e44b-4799-bdc7-efa124d577d9","leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,272],"id":"55d42dae-bec4-4995-9d5e-5fc2e065aff1","name":"If - Testa se há novos posts"},{"parameters":{"person":"SFjebObkz6","text":"={{ \n  $('Code').item.json.title.rendered + \"\\n\\n\" + \n  $('Code').item.json.excerpt.rendered\n    .replace(/<\\/?[^>]+(>|$)/g, \"\") // Remove HTML\n    .replace(/&[^;]+;/g, \"\") + \"\\n\\n\" + \n  \"Leia mais: \" + $('Code').item.json.link \n}}","shareMediaCategory":"ARTICLE","additionalFields":{"originalUrl":"={{ $json.link }}","title":"={{ $json.title.rendered }}","visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[880,272],"id":"e01d3816-5517-4a29-bed8-17add7da561b","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"0wxLyBnbjBD4tgtv","name":"Bruno - LinkedIn"}}}],"connections":{"Get Many Posts":{"main":[[{"node":"If - Testa se há novos posts","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Many Posts","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download Featured Image","type":"main","index":0}]]},"Code":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Download Featured Image":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"LinkedIn1","type":"main","index":0}]]},"If - Testa se há novos posts":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95c5b7fe-7202-4ef4-b5b4-42d8efd7de42","triggerCount":0,"shared":[{"updatedAt":"2025-11-01T12:55:58.911Z","createdAt":"2025-11-01T12:55:58.911Z","role":"workflow:owner","workflowId":"xg1NrG5LO2eWLWHq","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":10,"yesterdayDate":"2025-11-01T05:00:04.689Z"}