Workflows/Compartilha post do Wordpress no Linkedin - 2025-06-16.json
{"createdAt":"2025-01-22T12:47:36.095Z","updatedAt":"2025-06-16T16:18:59.478Z","id":"owwjoPMQqWkn24uI","name":"Compartilha post do Wordpress no Linkedin","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","returnAll":true,"options":{"after":"={{ new Date(new Date($json.timestamp).getTime() - 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] + 'T00:00:00' }}","categories":[445,446]}},"name":"Get Many Posts","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-300,60],"id":"4aa23502-8750-4d9f-8146-7361bba1287a","credentials":{"wordpressApi":{"id":"R8a3QOsUYYIK0spi","name":"Wordpress - Modal"}}},{"parameters":{"url":"={{ $json.source_url }}","responseFormat":"file","options":{}},"name":"Download Featured Image","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-300,-200],"id":"63c237c3-99f3-4fe6-8559-1d5e2b18660f"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-520,60],"id":"da8362ed-dd76-4b83-ae01-042d4eece3be","name":"Schedule Trigger1"},{"parameters":{"url":"={{ $json.mediaUrl }}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-520,-200],"id":"6ab97efc-88da-44ad-85fc-fe881406ff63","name":"HTTP Request"},{"parameters":{"jsCode":"return $input.all().map(item => {\n    return {\n        json: {\n            ...item.json,\n            mediaUrl: item.json._links[\"wp:featuredmedia\"]?.[0]?.href || null\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,60],"id":"aaf88f4b-f1be-410f-896d-321993dfac51","name":"Code"},{"parameters":{"person":"SFjebObkz6","text":"={{ \n  $('Code').item.json.title.rendered + \"\\n\\n\" + \n  $('Code').item.json.excerpt.rendered\n    .replace(/<\\/?[^>]+(>|$)/g, \"\") // Remove HTML\n    .replace(/&[^;]+;/g, \"\") + \"\\n\\n\" + \n  \"Leia mais: \" + $('Code').item.json.link \n}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[140,-200],"id":"cef77a71-5dd4-4dd5-9c16-875ffecb1023","name":"LinkedIn1","credentials":{"linkedInOAuth2Api":{"id":"GdlGiiJJzVBpQvBK","name":"Bruno - LinkedIn"}}},{"parameters":{"jsCode":"console.log($json);\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-200],"id":"b0f413e3-b097-48d5-a73f-fcc5d43d586f","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7c816da-e44b-4799-bdc7-efa124d577d9","leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,60],"id":"0f975eca-a852-485b-a06d-2b36f93fda99","name":"If - Testa se há novos posts"},{"parameters":{"person":"SFjebObkz6","text":"={{ \n  $('Code').item.json.title.rendered + \"\\n\\n\" + \n  $('Code').item.json.excerpt.rendered\n    .replace(/<\\/?[^>]+(>|$)/g, \"\") // Remove HTML\n    .replace(/&[^;]+;/g, \"\") + \"\\n\\n\" + \n  \"Leia mais: \" + $('Code').item.json.link \n}}","shareMediaCategory":"ARTICLE","additionalFields":{"originalUrl":"={{ $json.link }}","title":"={{ $json.title.rendered }}","visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[360,60],"id":"fadcc28a-0393-4a5f-ae51-7af3cc3b66ac","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"GdlGiiJJzVBpQvBK","name":"Bruno - LinkedIn"}}}],"connections":{"Get Many Posts":{"main":[[{"node":"If - Testa se há novos posts","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Many Posts","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download Featured Image","type":"main","index":0}]]},"Code":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Download Featured Image":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"LinkedIn1","type":"main","index":0}]]},"If - Testa se há novos posts":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e494abc-360a-4eab-a442-4d31aa4e5be0","triggerCount":1,"shared":[{"createdAt":"2025-01-22T12:47:36.095Z","updatedAt":"2025-01-22T12:47:36.095Z","role":"workflow:owner","workflowId":"owwjoPMQqWkn24uI","projectId":"RH3R3AhFCLYYjSTt"}],"tags":[],"totalWorkflows":15,"yesterdayDate":"2025-09-12T15:32:34.065Z"}