Workflows/Faxineiro n8n - 2025-11-01.json
{"updatedAt":"2025-11-01T13:05:20.372Z","createdAt":"2025-11-01T13:05:12.257Z","id":"g1zJ90QnlwVHT2UG","name":"Faxineiro n8n","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":2}]}},"id":"2ffe52f6-c438-46ab-8afd-6180f850608a","name":"Cron Diário","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-672,96]},{"parameters":{"resource":"execution","returnAll":true,"filters":{},"options":{},"requestOptions":{}},"id":"6c3dd483-9fb8-4f0c-b3ce-d3fc14685620","name":"Get Many Executions","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-448,96],"credentials":{"n8nApi":{"id":"glWIv777xwFO4fcQ","name":"Modal - n8n"}}},{"parameters":{"batchSize":50,"options":{}},"id":"be00580f-05cd-402b-a87a-92786658f576","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[0,192]},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{$json.id}}","requestOptions":{}},"id":"8f74876f-e8f7-4a15-a60d-e0d8a91e3d11","name":"Delete Execution","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[448,176],"credentials":{"n8nApi":{"id":"glWIv777xwFO4fcQ","name":"Modal - n8n"}}},{"parameters":{"jsCode":"const cutoff = Date.now() - 10*24*60*60*1000;\nconst out = [];\nfor (const item of items) {\n  const ex = item.json;\n  const t = new Date(ex.stoppedAt || ex.startedAt).getTime();\n  if (Number.isFinite(t) && t < cutoff) {\n    out.push({\n      json: {\n        id: String(ex.id),\n        workflowId: String(ex.workflowId || \"\")\n      }\n    });\n  }\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,96],"id":"c0bc7a33-5d47-45fb-8613-e6bf1ffbcffc","name":"Filtrar antigos >10 dias"},{"parameters":{"jsCode":"const TEN_DAYS = 10 * 24 * 60 * 60 * 1000;\nconst cutoff = Date.now() - TEN_DAYS;\n\nconst counts = new Map();\nlet total = 0;\n\nfor (const item of items) {\n  const ex = item.json;\n  const t = new Date(ex.stoppedAt || ex.startedAt || ex.createdAt).getTime();\n  if (!Number.isFinite(t) || t >= cutoff) continue;\n\n  const name = ex?.workflowData?.name || `Workflow ${ex.workflowId || 'desconhecido'}`;\n  counts.set(name, (counts.get(name) || 0) + 1);\n  total++;\n}\n\nconst lines = [];\nfor (const [name, q] of [...counts.entries()].sort((a,b)=>a[0].localeCompare(b[0]))) {\n  lines.push(`• ${name}: ${q}`);\n}\nconst dateStr = new Date().toISOString().slice(0,10);\n\nconst subject = `[n8n] Limpeza de execuções (>10 dias) — ${total} removidas`;\nconst text = total === 0\n  ? `Nenhuma execução com mais de 10 dias encontrada para limpeza em ${dateStr}.`\n  : `Resumo da limpeza em ${dateStr} (total ${total}):\\n\\n` + lines.join('\\n');\nconst html = total === 0\n  ? `<p>Nenhuma execução com mais de 10 dias encontrada para limpeza em ${dateStr}.</p>`\n  : `<p>Resumo da limpeza em ${dateStr} (total <b>${total}</b>):</p><ul>` +\n    lines.map(l => `<li>${l.substring(2)}</li>`).join('') + `</ul>`;\n\nreturn [{\n  json: { subject, text, html, total }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"d7325d1e-2292-41e2-9920-346bc4be87d4","name":"Prepara e-mail"},{"parameters":{"sendTo":"admin@modal.org.br","subject":"={{$json.subject}}","message":"={{$json.html}}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,0],"id":"4dd12d18-1d79-4d33-a71c-3adc7e19c8e5","name":"Envia e-mail com o resultado","webhookId":"0be32549-0ae1-4bcd-b62f-ebac86771092","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94c1caf3-7de3-4014-9d54-31acdc0751d5","leftValue":"={{$json.id}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2504caf5-d73e-4ac6-8924-1bfa7c0833ca","leftValue":"={{$json.workflowId}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,192],"id":"80f866bd-bb75-41ea-9c22-d3ee3d7e76b6","name":"Teste para garantir que somente execuções antigas sejam deletadas"}],"connections":{"Cron Diário":{"main":[[{"node":"Get Many Executions","type":"main","index":0}]]},"Get Many Executions":{"main":[[{"node":"Filtrar antigos >10 dias","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Teste para garantir que somente execuções antigas sejam deletadas","type":"main","index":0}]]},"Filtrar antigos >10 dias":{"main":[[{"node":"Split In Batches","type":"main","index":0},{"node":"Prepara e-mail","type":"main","index":0}]]},"Prepara e-mail":{"main":[[{"node":"Envia e-mail com o resultado","type":"main","index":0}]]},"Teste para garantir que somente execuções antigas sejam deletadas":{"main":[[{"node":"Delete Execution","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95560eeb-7bdf-4647-8b34-a750d2198777","triggerCount":1,"shared":[{"updatedAt":"2025-11-01T13:05:12.257Z","createdAt":"2025-11-01T13:05:12.257Z","role":"workflow:owner","workflowId":"g1zJ90QnlwVHT2UG","projectId":"dOg1kukijbsds31a"}],"tags":[{"updatedAt":"2025-11-01T13:05:04.150Z","createdAt":"2025-11-01T13:05:04.150Z","id":"HUZU0KKyz74cNlwi","name":"gestão"},{"updatedAt":"2025-11-01T13:05:04.151Z","createdAt":"2025-11-01T13:05:04.151Z","id":"GjCOHCPihZbPGpQM","name":"v3rtech"}],"totalWorkflows":10,"yesterdayDate":"2025-11-01T05:00:04.689Z"}