Workflows/Faxineiro n8n - 2025-09-13.json
{"createdAt":"2025-09-13T15:25:35.348Z","updatedAt":"2025-09-13T15:27:57.663Z","id":"1GmFwndoPv0ndpcn","name":"Faxineiro n8n","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":2}]}},"id":"c489ae4a-a911-4e9a-9ab4-8a7bd4c4f8d3","name":"Cron Diário","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-672,96]},{"parameters":{"resource":"execution","returnAll":true,"filters":{},"options":{},"requestOptions":{}},"id":"c5a51c01-6e30-4d05-b595-d73fa6cae316","name":"Get Many Executions","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-448,96],"credentials":{"n8nApi":{"id":"ts1CC88wd4FRIZ7M","name":"n8n account"}}},{"parameters":{"batchSize":50,"options":{}},"id":"1c4a5cce-20a3-4155-adeb-c0adc6c0157e","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[0,192]},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{$json.id}}","requestOptions":{}},"id":"c92cec32-101a-43e9-a555-c917a374f718","name":"Delete Execution","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[448,176],"credentials":{"n8nApi":{"id":"ts1CC88wd4FRIZ7M","name":"n8n account"}}},{"parameters":{"jsCode":"const cutoff = Date.now() - 10*24*60*60*1000;\nconst out = [];\nfor (const item of items) {\n  const ex = item.json;\n  const t = new Date(ex.stoppedAt || ex.startedAt).getTime();\n  if (Number.isFinite(t) && t < cutoff) {\n    out.push({\n      json: {\n        id: String(ex.id),\n        workflowId: String(ex.workflowId || \"\")\n      }\n    });\n  }\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,96],"id":"6c03474b-4448-4e6e-9aa3-12e8431ff61d","name":"Filtrar antigos >10 dias"},{"parameters":{"jsCode":"const TEN_DAYS = 10 * 24 * 60 * 60 * 1000;\nconst cutoff = Date.now() - TEN_DAYS;\n\nconst counts = new Map();\nlet total = 0;\n\nfor (const item of items) {\n  const ex = item.json;\n  const t = new Date(ex.stoppedAt || ex.startedAt || ex.createdAt).getTime();\n  if (!Number.isFinite(t) || t >= cutoff) continue;\n\n  const name = ex?.workflowData?.name || `Workflow ${ex.workflowId || 'desconhecido'}`;\n  counts.set(name, (counts.get(name) || 0) + 1);\n  total++;\n}\n\nconst lines = [];\nfor (const [name, q] of [...counts.entries()].sort((a,b)=>a[0].localeCompare(b[0]))) {\n  lines.push(`• ${name}: ${q}`);\n}\nconst dateStr = new Date().toISOString().slice(0,10);\n\nconst subject = `[n8n] Limpeza de execuções (>10 dias) — ${total} removidas`;\nconst text = total === 0\n  ? `Nenhuma execução com mais de 10 dias encontrada para limpeza em ${dateStr}.`\n  : `Resumo da limpeza em ${dateStr} (total ${total}):\\n\\n` + lines.join('\\n');\nconst html = total === 0\n  ? `<p>Nenhuma execução com mais de 10 dias encontrada para limpeza em ${dateStr}.</p>`\n  : `<p>Resumo da limpeza em ${dateStr} (total <b>${total}</b>):</p><ul>` +\n    lines.map(l => `<li>${l.substring(2)}</li>`).join('') + `</ul>`;\n\nreturn [{\n  json: { subject, text, html, total }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"2b0e2dd0-50b5-4699-bb16-a030c87042ff","name":"Prepara e-mail"},{"parameters":{"sendTo":"admin@modal.org.br","subject":"={{$json.subject}}","message":"={{$json.html}}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,0],"id":"c9b931c4-3852-4448-8370-170bc2d92530","name":"Envia e-mail com o resultado","webhookId":"0be32549-0ae1-4bcd-b62f-ebac86771092","credentials":{"gmailOAuth2":{"id":"XBoCUhna8dNyfU7G","name":"Gmail admin@modal.org.br"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94c1caf3-7de3-4014-9d54-31acdc0751d5","leftValue":"={{$json.id}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2504caf5-d73e-4ac6-8924-1bfa7c0833ca","leftValue":"={{$json.workflowId}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,192],"id":"e1a61f0a-141e-4496-829f-06c2ecbf7f13","name":"Teste para garantir que somente execuções antigas sejam deletadas"}],"connections":{"Cron Diário":{"main":[[{"node":"Get Many Executions","type":"main","index":0}]]},"Get Many Executions":{"main":[[{"node":"Filtrar antigos >10 dias","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Teste para garantir que somente execuções antigas sejam deletadas","type":"main","index":0}]]},"Filtrar antigos >10 dias":{"main":[[{"node":"Split In Batches","type":"main","index":0},{"node":"Prepara e-mail","type":"main","index":0}]]},"Prepara e-mail":{"main":[[{"node":"Envia e-mail com o resultado","type":"main","index":0}]]},"Teste para garantir que somente execuções antigas sejam deletadas":{"main":[[{"node":"Delete Execution","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"47766592-9bb8-47ce-acf6-1c1210472a6b","triggerCount":1,"shared":[{"createdAt":"2025-09-13T15:25:35.348Z","updatedAt":"2025-09-13T15:25:35.348Z","role":"workflow:owner","workflowId":"1GmFwndoPv0ndpcn","projectId":"RH3R3AhFCLYYjSTt"}],"tags":[{"createdAt":"2025-09-13T15:25:54.154Z","updatedAt":"2025-09-13T15:25:54.154Z","id":"pmWozWM2lHdqoK8N","name":"v3rtech"},{"createdAt":"2025-09-13T15:25:54.154Z","updatedAt":"2025-09-13T15:25:54.154Z","id":"5DvaJlAD4P3Bm6vP","name":"gestão"}],"totalWorkflows":15,"yesterdayDate":"2025-09-12T15:32:13.343Z"}