Workflows/Manage attendee registrations and send emails - 2025-01-11.json
{"createdAt":"2025-01-11T21:43:12.741Z","updatedAt":"2025-01-11T21:43:12.741Z","id":"gg4KoNhPF5LxgIqK","name":"Manage attendee registrations and send emails","active":false,"isArchived":false,"nodes":[{"parameters":{"formId":"RknoIFsl"},"name":"Attendee Registrations","type":"n8n-nodes-base.typeformTrigger","position":[0,0],"webhookId":"6314f4db-12ca-4c5e-a6c5-062bb0437734","typeVersion":1,"id":"dee82dc9-7973-49ab-9da4-8e630648e035","credentials":{"typeformApi":{"id":null,"name":"Typeform Burner Account"}}},{"parameters":{"authentication":"oAuth2","operation":"append","sheetId":"1nlnsTQKGgQZN-Rtd07K9bn0ROm0aFBC2O4kzM2YaTBI","range":"Attendees!A:F","options":{}},"name":"Add to Sheets","type":"n8n-nodes-base.googleSheets","position":[200,0],"typeVersion":1,"id":"046b3a92-889d-4c53-9531-89a18f9cd5e7","credentials":{"googleSheetsOAuth2Api":{"id":null,"name":"google-sheets"}}},{"parameters":{"resource":"user","operation":"create","username":"={{$json[\"Great, can we get your full name?\"].split(\" \").join(\"\")}}-{{new Date().getHours()}}","authService":"email","email":"={{$json[\"And what's your email address?\"]}}","password":"=P!_{{$json[\"And what's your email address?\"].split(\" \").join(\"\")}}-{{new Date().getHours()}}{{new Date().getDate()}}","additionalFields":{"first_name":"={{$json[\"Great, can we get your full name?\"]}}"}},"name":"Create Account","type":"n8n-nodes-base.mattermost","position":[400,0],"typeVersion":1,"id":"3498c80d-2597-4ed8-afa2-ab439920c88c","credentials":{"mattermostApi":{"id":null,"name":"Mattermost Credentials"}}},{"parameters":{"resource":"user","operation":"invite","teamId":"ee3ddsn98i8d3xizkcttras5nw","emails":"={{$node[\"Attendee Registrations\"].json[\"And what's your email address?\"]}}"},"name":"Add to team","type":"n8n-nodes-base.mattermost","position":[600,0],"typeVersion":1,"id":"14a75fad-1ea1-4e78-a735-4f7ab5460caf","credentials":{"mattermostApi":{"id":null,"name":"Mattermost Credentials"}}},{"parameters":{"functionCode":"const newItems = [];\nfor (let i=0;i<$node[\"Attendee Registrations\"].json[\"Which sessions would you like to attend?\"].length;i++) {\n\tnewItems.push({\n    \tjson: {\n        \tSession: $node[\"Attendee Registrations\"].json[\"Which sessions would you like to attend?\"][i]\n        }\n     });\n}\n\nreturn newItems;"},"name":"Array to Rows","type":"n8n-nodes-base.function","position":[800,0],"typeVersion":1,"id":"4ed2ded7-1a7e-4bbb-b125-b19b2cb4c5ec"},{"parameters":{"authentication":"oAuth2","sheetId":"1nlnsTQKGgQZN-Rtd07K9bn0ROm0aFBC2O4kzM2YaTBI","range":"Sessions!A:F","options":{}},"name":"Get Session Details","type":"n8n-nodes-base.googleSheets","position":[800,200],"typeVersion":1,"id":"87369507-1c53-4ac8-8fce-26d285c46b00","credentials":{"googleSheetsOAuth2Api":{"id":null,"name":"google-sheets"}}},{"parameters":{"mode":"mergeByKey","propertyName1":"Session","propertyName2":"Session"},"name":"Merge Data","type":"n8n-nodes-base.merge","position":[980,140],"typeVersion":1,"id":"6a78a1c8-71fc-46c9-98d8-db3e8ae29b43"},{"parameters":{"resource":"channel","operation":"addUser","channelId":"={{$json[\"Mattermost Channel ID\"]}}","userId":"={{$node[\"Create Account\"].json[\"id\"]}}"},"name":"Add to channels","type":"n8n-nodes-base.mattermost","position":[1180,140],"typeVersion":1,"id":"cb9c5c0d-e8c8-4d7f-bf51-8d568e619d47","credentials":{"mattermostApi":{"id":null,"name":"Mattermost Credentials"}}},{"parameters":{"operation":"update","calendar":"3ne32v2nlrrd2l3624v5qpg6qk@group.calendar.google.com","eventId":"={{$node[\"Merge Data\"].json[\"Google Calendar Event ID\"]}}","updateFields":{"attendees":["={{$node[\"Attendee Registrations\"].json[\"And what's your email address?\"]}}"]}},"name":"Add to Event","type":"n8n-nodes-base.googleCalendar","position":[1380,140],"typeVersion":1,"id":"e859e4e5-561f-433f-a54a-1d579835598e","credentials":{"googleCalendarOAuth2Api":{"id":null,"name":"Google Calendar Credentials"}}},{"parameters":{"resource":"message","subject":"Welcome to n8nConf","message":"=Dear {{$node[\"Attendee Registrations\"].json[\"Great, can we get your full name?\"]}},\n\nWelcome to n8nConf, the world's largest no-code automation conference!\n\nThis email is to confirm your registration to the following sessions:\n- {{$node[\"Attendee Registrations\"].json[\"Which sessions would you like to attend?\"].join('\\n- ')}}\n\nYou should receive Google Calendar invites to these events on your email. Please consult those for the Google Meet joining information.\n\nYou can also interact with the rest of the community via our Mattermost chat. We created an account just for you!\nLook for the channel corresponding to your session to join the discussion!\n\nLogin URL: https://mm.failedmachine.com/\nUsername: {{$node[\"Create Account\"].json[\"username\"]}}\nPassword: {{$node[\"Create Account\"].parameter[\"password\"]}}\n\nRemember to change your password immediately after your first login!\n\nIf you have any troubles with joining the event, or using the chat rooms; please feel free to let us know on support@n8nconf.com\n\nWe look forward to your participation!\n\nBest,\nTeam n8n","toList":["={{$node[\"Attendee Registrations\"].json[\"And what's your email address?\"]}}"],"additionalFields":{}},"name":"Welcome Email","type":"n8n-nodes-base.gmail","position":[1580,140],"typeVersion":1,"id":"9ef1c1e2-f38d-44b1-b926-fc3d3a0a2008","credentials":{"gmailOAuth2":{"id":null,"name":"gmail"}}}],"connections":{"Merge Data":{"main":[[{"node":"Add to channels","type":"main","index":0}]]},"Add to team":{"main":[[{"node":"Array to Rows","type":"main","index":0}]]},"Add to Event":{"main":[[{"node":"Welcome Email","type":"main","index":0}]]},"Add to Sheets":{"main":[[{"node":"Create Account","type":"main","index":0}]]},"Array to Rows":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Create Account":{"main":[[{"node":"Add to team","type":"main","index":0}]]},"Add to channels":{"main":[[{"node":"Add to Event","type":"main","index":0}]]},"Get Session Details":{"main":[[{"node":"Merge Data","type":"main","index":1}]]},"Attendee Registrations":{"main":[[{"node":"Add to Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3324582a-a654-4b07-a13a-c35d758801a0","triggerCount":0,"shared":[{"createdAt":"2025-01-11T21:43:12.741Z","updatedAt":"2025-01-11T21:43:12.741Z","role":"workflow:owner","workflowId":"gg4KoNhPF5LxgIqK","projectId":"RH3R3AhFCLYYjSTt"}],"tags":[],"totalWorkflows":15,"yesterdayDate":"2025-09-12T15:32:34.065Z"}