Workflows/Modal - Contato Avançado e Diagnóstico - 2025-11-01.json
{"updatedAt":"2025-11-01T13:25:19.752Z","createdAt":"2025-11-01T13:05:55.286Z","id":"AkT6JlPpsb6lbQSg","name":"Modal - Contato Avançado e Diagnóstico","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [\n  {\n    json: {\n      ...items[0].json,\n      requestId: Date.now().toString() + Math.random().toString(36).substring(2, 8)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,48],"id":"987cbc20-588c-4e9f-b528-33f0b5a84b33","name":"Gera RequestID"},{"parameters":{"httpMethod":"POST","path":"contato","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-128,48],"id":"966d86d1-b00a-4683-875a-0b7abf46ff33","name":"Recebe dados do Form no site do Modal","webhookId":"972d15a3-fe6a-453f-be35-441ecde6e468"},{"parameters":{"url":"={{ $json.Site }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"text","outputPropertyName":"site_data"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,-112],"id":"78aa857e-b685-4008-82d1-2f18aff164f9","name":"Extrai Dados do site da Empresa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"12f40ea2-9799-44cf-b50f-f971eceae107","leftValue":"={{ $json.Site }}","rightValue":"http","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,48],"id":"ed1d224e-5656-4eb4-8e44-eaf2d6be826b","name":"Testa se o site da empresa foi informado"},{"parameters":{"assignments":{"assignments":[{"id":"9d6833cf-326f-4dd1-9e08-184ae00a4756","name":"Data do Contato","value":"={{ $json.body.entry_time }}","type":"string"},{"id":"b98976ac-07db-41db-b48f-0f21a20b8bec","name":"Empresa","value":"={{ $json.body.text_1 }}","type":"string"},{"id":"b5909a4c-5789-4d8b-b690-4948b74d0b57","name":"Site","value":"={{ $json.body.url_1.startsWith('http://') ? 'https://' + $json.body.url_1.substring(7) : ($json.body.url_1.startsWith('https://') ? $json.body.url_1 : 'https://' + $json.body.url_1) }}","type":"string"},{"id":"2c939a6b-e933-4478-995d-4131360d9b1d","name":"Setor de Atuação","value":"={{ $json.body.select_1 }}","type":"string"},{"id":"05bdf87b-6bf5-4079-b200-87aa7ea61944","name":"Responsável","value":"={{ $json.body.name_1 }}","type":"string"},{"id":"92037937-41f8-4b51-b9e2-7bdd5c986762","name":"Cargo","value":"={{ $json.body.select_2 }}","type":"string"},{"id":"99f3f60b-6e9b-4dc7-9b28-eba4fb8225dc","name":"E-mail","value":"={{ $json.body.email_1 }}","type":"string"},{"id":"340516f4-8861-4901-9a91-941c028dc695","name":"Telefone","value":"={{ $json.body.phone_1 }}","type":"string"},{"id":"02bbcf64-6ad4-49e7-aa64-031c87ab7ca7","name":"Principais Desafios","value":"={{ $json.body.checkbox_1 }}","type":"string"},{"id":"acb548d1-cec3-434a-9ad5-e0ba0f8ca7ce","name":"Principais Obstáculos","value":"={{ $json.body.checkbox_2 }}","type":"string"},{"id":"1126a5bb-0164-4b70-aa9c-6daea2f5e8ee","name":"Descrição do Problema","value":"={{ $json.body.textarea_1 }}","type":"string"},{"id":"53aa2755-a924-412b-b2e7-6db8f2919b0d","name":"Tentativas de Solução do Problema","value":"={{ $json.body.radio_1 }}","type":"string"},{"id":"3bccc6a3-7917-4092-bc14-fe73528b1de1","name":"Nível de Abertura à Inovação","value":"={{ $json.body.slider_1 }}","type":"string"},{"id":"9f9620c7-b15e-4113-9698-6b1dd19dfd97","name":"Uso de IA e Tecnologias Avançadas","value":"={{ $json.body.radio_2 }}","type":"string"},{"id":"1b6207ae-b928-4c93-a0f1-cd577af57c93","name":"Já Desenvolveu Projetos Inovadores","value":"={{ $json.body.radio_3 }}","type":"string"},{"id":"d671d3bd-cae5-45df-91c5-171a5a03b249","name":"Preferência de Contato","value":"={{ $json.body.checkbox_3 }}","type":"string"},{"id":"2af4526b-1ae0-4138-9800-3a5d1c025901","name":"Melhor Período para Contato","value":"={{ $json.body.radio_4 }}","type":"string"},{"id":"7cf6bcfb-7c17-4b92-bfd4-e844fd55159e","name":"Consentimentos","value":"={{ $json.body.checkbox_4 }}","type":"string"},{"id":"4fe69705-87a8-4a5c-8bea-870068f99657","name":"Newsletter","value":"={{ $json.body.checkbox_5 }}","type":"string"},{"id":"cc1a0b09-9631-4a7b-94fe-5316aca1089e","name":"requestId","value":"={{ $json.requestId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,48],"id":"699006c8-3c51-4ca5-8bac-03f949e98981","name":"Organiza Variáveis"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[848,416],"id":"d6a065f3-4afc-4d7c-bdff-a391e9d4a3f5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"QZofl0lyjWPk4QuC","name":"Modal - OpenAI"}}},{"parameters":{"jsCode":"const html = $input.first().json.site_data;\n\n// Remove tags desnecessárias manualmente (como <script> e <style>)\nlet cleanedHtml = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n                      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n                      .replace(/<\\/?[^>]+(>|$)/g, '') // Remove todas as tags HTML\n                      .replace(/\\s+/g, ' ') // Remove múltiplos espaços\n                      .trim();\n\n// Retorna o texto limpo\nreturn [{ extractedText: cleanedHtml }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,-112],"id":"33920f0b-f8eb-4e3a-9453-96b5e86c1dee","name":"Formata HTML do site da empresa"},{"parameters":{"promptType":"define","text":"=Atue como um especialista em análise de negócios do Instituto Modal, com ampla experiência no desenvolvimento de soluções tecnológicas com base em inteligência artificial. Seu perfil analítico é objetivo, minucioso e embasado em dados concretos. Suas análises são assertivas e detalhadas, sempre fundamentadas em fontes verificáveis e acompanhadas de exemplos práticos e alinhados à realidade do cliente.\n\nSobre o Instituto Modal:\nO Instituto Modal é uma organização sem fins lucrativos dedicada ao desenvolvimento de soluções tecnológicas que conectam pesquisa científica às necessidades da sociedade.\n\nPropósito: Desenvolver tecnologias de inteligência artificial e outras ferramentas que transformem o mercado e gerem impacto positivo na sociedade.\n\nPrincipais serviços do Instituto Modal:\n- Inteligência Artificial: O Instituto Modal aplica inteligência artificial em múltiplas abordagens, de machine learning a soluções híbridas, para entregar inovação e resultados personalizados aos desafios de cada cliente.\n- Ambiente Promotor de Inovação: Espaço colaborativo, físico ou virtual, que conecta empresas, governo e instituições para promover inovação e resolver desafios estratégicos.\n- Universidade Corporativa: Metodologia de capacitação contínua que alinha a aprendizagem dos colaboradores aos objetivos estratégicos da empresa.\n- Projetos de CT&I: Iniciativas que combinam ciência, tecnologia e inovação para impulsionar a competitividade, reduzir custos e alinhar empresas às tendências do mercado.\n\n\nAgora que você conhece o Instituto Modal, avalie as informações fornecidas pela empresa {{ $json.Empresa }}, um potencial cliente interessado em um diagnóstico preliminar. Com base nos dados recebidos, elabore um relatório de diagnóstico em português brasileiro com no mínimo 2000 palavras, abordando de forma detalhada os seguintes pontos:\n\n1. Análise situacional do cliente:\n- Ramo de negócio, mercado e contexto operacional.\n- Principais concorrentes diretos e indiretos.\n- Desafios específicos enfrentados por pequenas empresas no setor do cliente.\n\n2. Análise SWOT detalhada:\n- Forças (diferenciais e vantagens internas).\n- Fraquezas (pontos de atenção e limitações internas).\n- Oportunidades (tendências e vantagens externas que podem ser exploradas).\n- Ameaças (riscos do mercado e desafios externos).\n\n3. Soluções do Instituto Modal aplicáveis ao cliente:\n- Relacione apenas as soluções realmente úteis para o cliente {{ $json.Empresa }}.\n- Descubra serviços e soluções que o Instituto Modal pode oferecer que ajudem a empresa {{ $json.Empresa }} a abordar seus desafios, superar os obstáculos e resolver os problemas descritos.\n- Justifique cada recomendação com base na análise SWOT e no mercado.\n\n4. Oportunidades e estratégias para crescimento:\n- Identifique abordagens estratégicas para superar desafios e alavancar oportunidades.\n- Relacione essas estratégias às soluções do Instituto Modal e ao contexto do cliente.\n\n5. Impacto das soluções recomendadas:\n- Explique como cada solução do Instituto Modal pode transformar a operação da empresa.\n- Utilize exemplos práticos e estudos de caso quando aplicável.\n\n6. Considerações adicionais:\n- Qualquer insight relevante que não tenha sido abordado nos tópicos anteriores.\n\nEscreva de maneira clara, estruturada e objetiva, evitando floreios desnecessários. O foco deve ser na geração de valor para o cliente, demonstrando conhecimento de mercado e alinhamento estratégico.\n\nImportante:\n- Inicie o relatório diretamente com a Análise situacional do cliente, sem escrever introduções genéricas ou justificativas sobre a elaboração do documento.\n- Não inclua saudações, explicações sobre o formato do relatório ou assinaturas no início e nem no final.\n\nSeguem as informações da empresa {{ $json.Empresa }}:\n\n# Dados da Empresa\n- Nome da Empresa: **{{ $json.Empresa }}**\n- Site: **{{ $json.Site }}**\n- Setor de Atuação: **{{ $json['Setor de Atuação'] }}**\n- Principais Desafios: **{{ $json['Principais Desafios'] }}**\n- Principais Obstáculos: **{{ $json['Principais Obstáculos'] }}**\n- Descrição do Problema: **{{ $json['Descrição do Problema'] }}**\n- Tentativas para solucionar o problema: **{{ $json['Tentativas de Solução do Problema'] }}**\n- Nível de abertura a soluções inovadoras (de 1 a 5 - quanto maior o nível, maior a abertura para trabalhar com inovação): **{{ $json['Nível de Abertura à Inovação'] }}**\n- Já utiliza Inteligência Artificial ou outras tecnologias avançadas? **{{ $json['Uso de IA e Tecnologias Avançadas'] }}**\n- Já desenvolveu projetos de inovação? **{{ $json['Já Desenvolveu Projetos Inovadores'] }}**\n\n# Dados extraídos do site da Empresa (se aplicável):\n**{{ $json.extractedText }}**","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1360,-112],"id":"03a3a7d0-1bd8-4c83-a339-2e2d8aa7ef57","name":"Analisa informações e gera diagnóstico (com site da empresa)"},{"parameters":{"promptType":"define","text":"=Atue como um especialista em análise de negócios do Instituto Modal, com ampla experiência no desenvolvimento de soluções tecnológicas com base em inteligência artificial. Seu perfil analítico é objetivo, minucioso e embasado em dados concretos. Suas análises são assertivas e detalhadas, sempre fundamentadas em fontes verificáveis e acompanhadas de exemplos práticos e alinhados à realidade do cliente.\n\nSobre o Instituto Modal:\nO Instituto Modal é uma organização sem fins lucrativos dedicada ao desenvolvimento de soluções tecnológicas que conectam pesquisa científica às necessidades da sociedade.\n\nPropósito: Desenvolver tecnologias de inteligência artificial e outras ferramentas que transformem o mercado e gerem impacto positivo na sociedade.\n\nPrincipais serviços do Instituto Modal:\n- Inteligência Artificial: O Instituto Modal aplica inteligência artificial em múltiplas abordagens, de machine learning a soluções híbridas, para entregar inovação e resultados personalizados aos desafios de cada cliente.\n- Ambiente Promotor de Inovação: Espaço colaborativo, físico ou virtual, que conecta empresas, governo e instituições para promover inovação e resolver desafios estratégicos.\n- Universidade Corporativa: Metodologia de capacitação contínua que alinha a aprendizagem dos colaboradores aos objetivos estratégicos da empresa.\n- Projetos de CT&I: Iniciativas que combinam ciência, tecnologia e inovação para impulsionar a competitividade, reduzir custos e alinhar empresas às tendências do mercado.\n\n\nAgora que você conhece o Instituto Modal, avalie as informações fornecidas pela empresa {{ $json.Empresa }}, um potencial cliente interessado em um diagnóstico preliminar. Com base nos dados recebidos, elabore um relatório de diagnóstico em português brasileiro com no mínimo 2000 palavras, abordando de forma detalhada os seguintes pontos:\n\n1. Análise situacional do cliente:\n- Ramo de negócio, mercado e contexto operacional.\n- Principais concorrentes diretos e indiretos.\n- Desafios específicos enfrentados por pequenas empresas no setor do cliente.\n\n2. Análise SWOT detalhada:\n- Forças (diferenciais e vantagens internas).\n- Fraquezas (pontos de atenção e limitações internas).\n- Oportunidades (tendências e vantagens externas que podem ser exploradas).\n- Ameaças (riscos do mercado e desafios externos).\n\n3. Soluções do Instituto Modal aplicáveis ao cliente:\n- Relacione apenas as soluções realmente úteis para o cliente {{ $json.Empresa }}.\n- Descubra serviços e soluções que o Instituto Modal pode oferecer que ajudem a empresa {{ $json.Empresa }} a abordar seus desafios, superar os obstáculos e resolver os problemas descritos.\n- Justifique cada recomendação com base na análise SWOT e no mercado.\n\n4. Oportunidades e estratégias para crescimento:\n- Identifique abordagens estratégicas para superar desafios e alavancar oportunidades.\n- Relacione essas estratégias às soluções do Instituto Modal e ao contexto do cliente.\n\n5. Impacto das soluções recomendadas:\n- Explique como cada solução do Instituto Modal pode transformar a operação da empresa.\n- Utilize exemplos práticos e estudos de caso quando aplicável.\n\n6. Considerações adicionais:\n- Qualquer insight relevante que não tenha sido abordado nos tópicos anteriores.\n\nEscreva de maneira clara, estruturada e objetiva, evitando floreios desnecessários. O foco deve ser na geração de valor para o cliente, demonstrando conhecimento de mercado e alinhamento estratégico.\n\nImportante:\n- Inicie o relatório diretamente com a Análise situacional do cliente, sem escrever introduções genéricas ou justificativas sobre a elaboração do documento.\n- Não inclua saudações, explicações sobre o formato do relatório ou assinaturas no início e nem no final.\n\nSeguem as informações da empresa {{ $json.Empresa }}:\n\n# Dados da Empresa\n- Nome da Empresa: **{{ $json.Empresa }}**\n- Site: **{{ $json.Site }}**\n- Setor de Atuação: **{{ $json['Setor de Atuação'] }}**\n- Principais Desafios: **{{ $json['Principais Desafios'] }}**\n- Principais Obstáculos: **{{ $json['Principais Obstáculos'] }}**\n- Descrição do Problema: **{{ $json['Descrição do Problema'] }}**\n- Tentativas para solucionar o problema: **{{ $json['Tentativas de Solução do Problema'] }}**\n- Nível de abertura a soluções inovadoras (de 1 a 5 - quanto maior o nível, maior a abertura para trabalhar com inovação): **{{ $json['Nível de Abertura à Inovação'] }}**\n- Já utiliza Inteligência Artificial ou outras tecnologias avançadas? **{{ $json['Uso de IA e Tecnologias Avançadas'] }}**\n- Já desenvolveu projetos de inovação? **{{ $json['Já Desenvolveu Projetos Inovadores'] }}**","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[768,192],"id":"db05f63c-df02-4bfd-bb9f-81aacd54e4f4","name":"Analisa informações e gera diagnóstico (sem site da empresa)"}],"connections":{"Gera RequestID":{"main":[[{"node":"Organiza Variáveis","type":"main","index":0}]]},"Recebe dados do Form no site do Modal":{"main":[[{"node":"Gera RequestID","type":"main","index":0}]]},"Testa se o site da empresa foi informado":{"main":[[{"node":"Extrai Dados do site da Empresa","type":"main","index":0}],[{"node":"Analisa informações e gera diagnóstico (sem site da empresa)","type":"main","index":0}]]},"Organiza Variáveis":{"main":[[{"node":"Testa se o site da empresa foi informado","type":"main","index":0}]]},"Extrai Dados do site da Empresa":{"main":[[{"node":"Formata HTML do site da empresa","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Analisa informações e gera diagnóstico (sem site da empresa)","type":"ai_languageModel","index":0},{"node":"Analisa informações e gera diagnóstico (com site da empresa)","type":"ai_languageModel","index":0}]]},"Formata HTML do site da empresa":{"main":[[{"node":"Analisa informações e gera diagnóstico (com site da empresa)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Recebe dados do Form no site do Modal":[{"json":{"headers":{"connection":"close","host":"n8n.modal.org.br","x-forwarded-scheme":"https","x-forwarded-proto":"https","x-forwarded-for":"189.50.84.194","x-real-ip":"189.50.84.194","content-length":"2617","user-agent":"WordPress/6.7.1; https://www.modal.org.br ForminatorWebhook/1.0","accept-encoding":"deflate, gzip, br, zstd","accept":"application/json","content-type":"application/json"},"params":{},"query":{},"body":{"text_1":"V3RTECH Tecnologia, Consultoria e Inovação Ltda.","url_1":"http://v3rtech.com.br","select_1":"Tecnologia","name_1":"Bruno Souza","select_2":"CEO / Presidente","email_1":"bruno.souza@v3rtech.com.br","phone_1":"+55 61 99278-0605","checkbox_1":"Aumento da eficiência produtiva, Melhor aproveitamento de dados para tomada de decisão, Integração de novas tecnologias, Aplicação de inteligência artificial para melhorar a eficiência da empresa","checkbox_2":"Falta de especialistas internos, Baixo orçamento para inovação","textarea_1":"A V3RTECH é uma startup que pretende oferecer serviços de tecnologia, identidade visual e capacitação para micro e pequenos empresários a baixo custo. Para conseguir fazer isso, precisamos otimizar processos e incluir tecnologia para automatizar diversos processos, que vão desde o atendimento ao cliente, prospecção, acompanhamento de projetos e deploy de serviços - tudo isso é feito manualmente, com alto grau de intervenção humana, o que demanda tempo e esforço da nossa equipe. A margem operacional da V3RTECH é pequena, uma vez que nosso interesse é oferecer baixo custo para nossos clientes, mas isso somente será possível se conseguirmos melhorar nossa produtividade e eficiência, ao mesmo tempo em que reduzimos o esforço necessário para nossa atuação.","radio_1":"Sim, mas tentamos resolver internamente","slider_1":"5","radio_2":"Não utilizamos, mas temos interesse","radio_3":"Sim, mas com dificuldades de implementação","checkbox_3":"E-mail, Whatsapp, Reunião virtual","radio_4":"Noite","checkbox_4":"Concordo que o Instituto Modal entre em contato comigo para fornecer o diagnóstico e discutir possíveis soluções, Concordo que o Instituto Modal utilize os dados informados para elaborar um diagnóstico personalizado para minha empresa, Declaro que as informações fornecidas são verdadeiras e refletem a realidade da minha empresa","checkbox_5":"Sim, desejo receber artigos e estudos de caso do Instituto Modal, Sim, desejo ser informado sobre eventos e oportunidades de inovação","referer_url":"","_wp_http_referer":"/wp-admin/admin-ajax.php","page_id":"115607","form_type":"default","current_url":"https://www.modal.org.br/2025/02/07/contato-avancado/","render_id":"0","save_draft":"false","input_19":"","_forminator_user_ip":null,"form_title":"Contato Avançado","entry_time":"2025-02-07 11:17:34"},"webhookUrl":"https://n8n.modal.org.br/webhook/contato","executionMode":"production"}}],"Organiza Variáveis":[{"json":{"Data do Contato":"2025-02-07 11:17:34","Empresa":"V3RTECH Tecnologia, Consultoria e Inovação Ltda.","Site":"https://v3rtech.com.br/","Setor de Atuação":"Tecnologia","Responsável":"Bruno Souza","Cargo":"CEO / Presidente","E-mail":"bruno.souza@v3rtech.com.br","Telefone":"+55 61 99278-0605","Principais Desafios":"Aumento da eficiência produtiva, Melhor aproveitamento de dados para tomada de decisão, Integração de novas tecnologias, Aplicação de inteligência artificial para melhorar a eficiência da empresa","Principais Obstáculos":"Falta de especialistas internos, Baixo orçamento para inovação","Descrição do Problema":"A V3RTECH é uma startup que pretende oferecer serviços de tecnologia, identidade visual e capacitação para micro e pequenos empresários a baixo custo. Para conseguir fazer isso, precisamos otimizar processos e incluir tecnologia para automatizar diversos processos, que vão desde o atendimento ao cliente, prospecção, acompanhamento de projetos e deploy de serviços - tudo isso é feito manualmente, com alto grau de intervenção humana, o que demanda tempo e esforço da nossa equipe. A margem operacional da V3RTECH é pequena, uma vez que nosso interesse é oferecer baixo custo para nossos clientes, mas isso somente será possível se conseguirmos melhorar nossa produtividade e eficiência, ao mesmo tempo em que reduzimos o esforço necessário para nossa atuação.","Tentativas de Solução do Problema":"Sim, mas tentamos resolver internamente","Nível de Abertura à Inovação":"5","Uso de IA e Tecnologias Avançadas":"Não utilizamos, mas temos interesse","Já Desenvolveu Projetos Inovadores":"Sim, mas com dificuldades de implementação","Preferência de Contato":"E-mail, Whatsapp, Reunião virtual","Melhor Período para Contato":"Noite","Consentimentos":"Concordo que o Instituto Modal entre em contato comigo para fornecer o diagnóstico e discutir possíveis soluções, Concordo que o Instituto Modal utilize os dados informados para elaborar um diagnóstico personalizado para minha empresa, Declaro que as informações fornecidas são verdadeiras e refletem a realidade da minha empresa","Newsletter":"Sim, desejo receber artigos e estudos de caso do Instituto Modal, Sim, desejo ser informado sobre eventos e oportunidades de inovação","requestId":"1738947140583djnb0y"}}]},"versionId":"82c5de8a-7b07-400f-996a-8a8133fde66c","triggerCount":1,"shared":[{"updatedAt":"2025-11-01T13:05:55.286Z","createdAt":"2025-11-01T13:05:55.286Z","role":"workflow:owner","workflowId":"AkT6JlPpsb6lbQSg","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":10,"yesterdayDate":"2025-10-31T13:30:20.296Z"}