Workflows/My workflow - 2025-09-13.json
{"createdAt":"2025-09-13T15:28:33.319Z","updatedAt":"2025-09-13T15:33:11.497Z","id":"3TcREwBdyYwCWz3f","name":"My workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1344,264],"id":"01b1ae82-2e85-420b-81bb-7c60d31e4331","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1120,264],"id":"658da4ad-cf37-4e54-b47f-7ca36736549a","name":"Recupera todos os fluxos","credentials":{"n8nApi":{"id":"ts1CC88wd4FRIZ7M","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"brunosouza-modal","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/brunosouza-modal/n8n-workflows"},"filePath":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.fileName }}","fileContent":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.content }}","commitMessage":"=Criação do fluxo {{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.fileName }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[672,264],"id":"233ecffc-0a68-4fa8-9697-aaec58598819","name":"GitHub - Cria novo arquivo","webhookId":"da172ba9-b1bc-456f-993a-451d179574e6","credentials":{"githubApi":{"id":"56QJAj8FcyJji8V9","name":"GitHub Modal"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"brunosouza-modal","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/brunosouza-modal/n8n-workflows"},"filePath":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.fileName }}","fileContent":"={{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.content }}","commitMessage":"=Atualização do fluxo {{ $('Edit Fields - Recupera nome e conteúdo do fluxo').item.json.content }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[672,456],"id":"473c6e07-bd7f-4857-b7df-415b0f3afea0","name":"GitHub - Atualiza Fluxo","webhookId":"f26bae43-edea-43dd-b065-b1660988dd4d","credentials":{"githubApi":{"id":"56QJAj8FcyJji8V9","name":"GitHub Modal"}}},{"parameters":{"assignments":{"assignments":[{"id":"6d22003f-44e9-4988-9b83-c274656d8107","name":"fileName","value":"=Workflows/{{ $json.name }} - {{ new Date($json.updatedAt).toISOString().split('T')[0] }}.json","type":"string"},{"id":"babb32ea-cec7-4e88-b001-88fc436b6839","name":"content","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"d99d2a3f-c414-440e-a1dd-d6907e991340","name":"Edit Fields - Recupera nome e conteúdo do fluxo"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"brunosouza-modal","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/brunosouza-modal/n8n-workflows"},"filePath":"={{ $json.fileName }}","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[224,192],"id":"fae90ac8-3be8-48eb-82e1-15e9161ec319","name":"GitHub - Identifica se fluxo existe","webhookId":"3c9d572f-1cac-479f-993d-f6c387abe138","credentials":{"githubApi":{"id":"56QJAj8FcyJji8V9","name":"GitHub Modal"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5e7e4e6-5f01-4af7-8b3b-b150e6599708","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,192],"id":"192f2032-432a-43b6-aff6-9ce9efb5ada4","name":"If - Testa se é novo fluxo ou atualização"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,264],"id":"cc03826b-e857-4ddd-b3aa-4c2e0f411e25","name":"Loop Over Items - Tratamento dos fluxos"},{"parameters":{"jsCode":"const totalWorkflows = items.length;\nconst newItems = items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      totalWorkflows: totalWorkflows\n    }\n  };\n});\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,264],"id":"4e364fd5-4eff-4e4c-be18-463c02d81a0e","name":"Code - Conta a quantidade de fluxos"},{"parameters":{"sendTo":"admin@modal.org.br","subject":"=Backup diário do n8n concluído - {{ new Date().toLocaleString('pt-BR') }}!","message":"=<h3>Relatório do Backup Diário do n8n</h3>\n<p>O backup dos workflows foi executado com sucesso!</p>\n<p>Detalhes:</p>\n<ul>\n  <li><strong>Status:</strong> Sucesso</li>\n  <li><strong>Data/Hora:</strong> {{ new Date().toLocaleString() }}</li>\n  <li><strong>Nº de workflows comitados:</strong> {{ $json.totalWorkflows }}</li>\n</ul>\n<h4>Workflows atualizados/criados:</h4>\n{{ $json.updatedWorkflowsList }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,0],"id":"2695f76c-6ebc-435f-ae8e-0d9483ccca47","name":"GMail - Envia relatório do backup","webhookId":"9c837d7c-1f38-4ae1-ba00-12acc801ceb0","credentials":{"gmailOAuth2":{"id":"XBoCUhna8dNyfU7G","name":"Gmail admin@modal.org.br"}}},{"parameters":{"jsCode":"// Este código unifica a saída em um único item para o e-mail\n// e coleta a lista de workflows atualizados.\n\n// Conta o número total de itens processados pelo loop\nconst totalItems = items.length;\n\n// Prepara uma lista em HTML dos workflows atualizados\nlet updatedWorkflowsList = '';\nif (totalItems > 0) {\n  updatedWorkflowsList += '<ul>';\n  for (const item of items) {\n    // Acessa o nome do fluxo a partir do JSON original do n8n\n    const workflowName = item.json.content.name; // <--- Linha corrigida aqui\n    // O nó GitHub retorna a URL do commit no campo 'commit.html_url'\n    const commitUrl = item.json.commit.html_url;\n\n    updatedWorkflowsList += `<li><a href=\"${commitUrl}\">${workflowName}</a></li>`;\n  }\n  updatedWorkflowsList += '</ul>';\n} else {\n  updatedWorkflowsList = 'Nenhum workflow foi atualizado nas últimas 24 horas.';\n}\n\n// Cria um novo item de dados para a saída do fluxo\nreturn [{\n  json: {\n    totalWorkflows: totalItems,\n    updatedWorkflowsList: updatedWorkflowsList\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"15b02d2d-974c-4c23-9caa-72497417a817","name":"Code - Agrega itens do Loop para enviar um único e-mail"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62e32e63-7657-49bd-a64c-7aa146ff4532","leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $json.yesterdayDate }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-448,264],"id":"906ed5dc-7362-4b23-a845-f80af4472e29","name":"Filter - Descarta fluxos antigos que não tiveram atualização nas últimas 24h"},{"parameters":{"jsCode":"const yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\n\n// Anexa a data de ontem a cada item do fluxo para que seja lida pelo nó Filter\nreturn items.map(item => {\n  return {\n    ...item,\n    json: {\n      ...item.json,\n      yesterdayDate: yesterday.toISOString()\n    }\n  }\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,264],"id":"18c27c10-d6f4-40c4-abaa-efdbaeca306f","name":"Code - Verifica Data de Atualização do fluxo"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Recupera todos os fluxos","type":"main","index":0}]]},"Recupera todos os fluxos":{"main":[[{"node":"Code - Conta a quantidade de fluxos","type":"main","index":0}]]},"GitHub - Atualiza Fluxo":{"main":[[{"node":"Loop Over Items - Tratamento dos fluxos","type":"main","index":0}]]},"GitHub - Cria novo arquivo":{"main":[[{"node":"Loop Over Items - Tratamento dos fluxos","type":"main","index":0}]]},"Edit Fields - Recupera nome e conteúdo do fluxo":{"main":[[{"node":"GitHub - Identifica se fluxo existe","type":"main","index":0}]]},"GitHub - Identifica se fluxo existe":{"main":[[{"node":"If - Testa se é novo fluxo ou atualização","type":"main","index":0}]]},"If - Testa se é novo fluxo ou atualização":{"main":[[{"node":"GitHub - Cria novo arquivo","type":"main","index":0}],[{"node":"GitHub - Atualiza Fluxo","type":"main","index":0}]]},"Loop Over Items - Tratamento dos fluxos":{"main":[[{"node":"Code - Agrega itens do Loop para enviar um único e-mail","type":"main","index":0}],[{"node":"Edit Fields - Recupera nome e conteúdo do fluxo","type":"main","index":0}]]},"Code - Conta a quantidade de fluxos":{"main":[[{"node":"Code - Verifica Data de Atualização do fluxo","type":"main","index":0}]]},"Code - Agrega itens do Loop para enviar um único e-mail":{"main":[[{"node":"GMail - Envia relatório do backup","type":"main","index":0}]]},"Filter - Descarta fluxos antigos que não tiveram atualização nas últimas 24h":{"main":[[{"node":"Loop Over Items - Tratamento dos fluxos","type":"main","index":0}]]},"Code - Verifica Data de Atualização do fluxo":{"main":[[{"node":"Filter - Descarta fluxos antigos que não tiveram atualização nas últimas 24h","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6db6cfea-647d-43d6-a2e2-6496b439d069","triggerCount":1,"shared":[{"createdAt":"2025-09-13T15:28:33.319Z","updatedAt":"2025-09-13T15:28:33.319Z","role":"workflow:owner","workflowId":"3TcREwBdyYwCWz3f","projectId":"RH3R3AhFCLYYjSTt"}],"tags":[],"totalWorkflows":15,"yesterdayDate":"2025-09-12T15:33:21.534Z"}