Workflows/Newsletter Semanal - 2025-11-01.json
{"updatedAt":"2025-11-01T12:41:35.061Z","createdAt":"2025-11-01T12:41:34.482Z","id":"8WVhPmzSgVX4IrPy","name":"Newsletter Semanal","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":5,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,272],"id":"7f4f3aee-1937-45a0-b1e5-7635a1f84ce9","name":"Schedule Trigger - Executa toda segunda, às 6h30"},{"parameters":{"operation":"getAll","returnAll":true,"options":{"after":"={{ $now.minus({days: 7}).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}","categories":[445,446]}},"name":"Recupera Posts dos últimos 7 dias","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-160,272],"id":"aa5468df-630e-4e5e-a8b5-6b2b80588a7f","credentials":{"wordpressApi":{"id":"E3GmQKGvF20ljgVe","name":"Modal - Wordpress (bruno.souza)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5e2734a-3c22-4661-9b2a-3d5dd2bb2da7","leftValue":"{{ $json }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,272],"id":"894c96fe-32f7-4859-a6a4-de9e9cf835cc","name":"Testa se há posts publicados"},{"parameters":{"url":"={{ $json._links[\"wp:featuredmedia\"][0].href }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,416],"id":"8effd73b-b8b3-4391-a378-8040cbc3c587","name":"Recupera URLs das imagens"},{"parameters":{"model":"gpt-4o","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[496,192],"id":"c8ca3158-ce35-4913-be7c-82b899ab4ebe","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"QZofl0lyjWPk4QuC","name":"Modal - OpenAI"}}},{"parameters":{"promptType":"define","text":"=Escreva uma introdução envolvente e instigante para uma newsletter semanal com os seguintes resumos de posts: {{ $json.posts }}.\n\nUse linguagem simples e objetiva, combinando um estilo reflexivo e levemente sarcástico, sem transmitir uma imagem negativa.\nNão tente fazer piadas.\nMetáforas e referências culturais são bem-vindas, desde que contribuam para o engajamento emocional e a provocação intelectual.\nSempre que apropriado, inclua exemplos concretos que facilitem a conexão do leitor com o tema.\nNão escreva na primeira pessoa.\nEvite gírias, expressões idiomáticas ou linguagem excessivamente informal.\nNão utilize emoticons, emojis ou outros elementos visuais.\nO texto deve ter no máximo 10 linhas e capturar a atenção do leitor de forma direta e instigante.\nComece diretamente com a introdução, sem explicações sobre o que será escrito.\nNão inclua comentários finais, conclusões ou resumos sobre a introdução.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[496,16],"id":"52f771ad-d5c0-4301-bf7d-7f3402dcaaf9","name":"Escreve Introdução"},{"parameters":{"jsCode":"// Obtem todos os posts retornados pelo nó anterior ao \"Recupera URLs das imagens\"\nconst posts = $('Testa se há posts publicados').all();\n\n// Processa os posts para consolidar os dados\nreturn posts.map(post => {\n  const featuredMediaId = post.json.featured_media; // ID da imagem destacada do post\n\n  // Busca a imagem correspondente pelo ID no nó \"Recupera URLs das imagens\"\n  const imageData = $('Recupera URLs das imagens').all().find(img => img.json.body.id === featuredMediaId);\n  const imageUrl = imageData ? imageData.json.body.guid.rendered : 'URL_IMAGEM_PADRAO'; // Define a URL da imagem ou uma padrão\n\n  // Formata a data e o horário no padrão dd/mm/yyyy hh:mm\n  const formattedDateTime = post.json.date\n    ? new Date(post.json.date).toLocaleDateString(\"pt-BR\", {\n        day: \"2-digit\",\n        month: \"2-digit\",\n        year: \"numeric\"\n      }) +\n      \" \" +\n      new Date(post.json.date).toLocaleTimeString(\"pt-BR\", {\n        hour: \"2-digit\",\n        minute: \"2-digit\"\n      })\n    : \"Data e horário não disponíveis\";\n\n  // Retorna os dados consolidados\n  return {\n    id: post.json.id,\n    title: post.json.title?.rendered || \"Título não disponível\",\n    link: post.json.link,\n    excerpt: (post.json.excerpt?.rendered || \"Resumo não disponível\").substring(0, 150) + \"...\",\n    date: formattedDateTime, // Usa a data e o horário formatados\n    imageUrl: imageUrl\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,416],"id":"5b426a2d-b580-4c19-9b34-edcc4ae5dfb9","name":"Consolida Dados Posts"},{"parameters":{"jsCode":"// Obtém os dados de ambos os nós conectados\nconst posts = $('Consolida Dados Posts').all(); // Dados consolidados dos posts\nconst introText = $('Escreve Introdução').first().json.output; // Texto da introdução gerado pela IA\n\n// Inicializa as linhas da tabela\nlet tableRows = '';\n\n// Itera sobre cada post para criar as linhas da tabela\nfor (const post of posts) {\n  tableRows += `\n    <tr>\n      <td style=\"padding: 10px; text-align: center;\">\n        <img src=\"${post.json.imageUrl}\" alt=\"Imagem destacada\" style=\"width: 150px; height: auto; border-radius: 5px;\">\n      </td>\n      <td style=\"padding: 10px; text-align: left;\">\n        <h3><a href=\"${post.json.link}\" style=\"text-decoration: none; color: #2d5016;\">${post.json.title}</a></h3>\n        <p>${post.json.excerpt}</p>\n        <p><b>Data:</b> ${post.json.date}</p>\n      </td>\n    </tr>\n  `;\n}\n\n// Monta o HTML completo do e-mail\nconst emailBody = `\n  <div style=\"font-family: Lato, Sans Serif; line-height: 1.6; color: #4d4d4d;\">\n    <!-- Cabeçalho -->\n    <div style=\"text-align: center;\">\n      <a href=\"https://www.modal.org.br/\" style=\"display: inline-block;\">\n        <img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_simplificada.png\" alt=\"Logo Modal\" style=\"width: 300px; margin-bottom: 10px;\">\n      </a>\n    </div>\n    <hr style=\"border: none; border-top: 1px solid #00004d; margin: 10px 0;\">\n\n    <!-- Título -->\n    <h1 style=\"text-align: center; color: #00004d; font-family: Ubuntu, Lato, Sans Serif; font-weight: bold;\">Newsletter Semanal</h1>\n\n    <!-- Introdução -->\n    <p style=\"text-align: left; font-size: 12pt;\">${introText}</p>\n    <h2 style=\"text-align: center; color: #00004d; font-family: Ubuntu, Lato, Sans Serif; font-weight: bold;\">Confira as publicações da última semana no Blog CT&I:</h2>\n    <hr>\n\n    <!-- Tabela de posts -->\n    <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n      ${tableRows}\n    </table>\n\n    <!-- Link para o blog -->\n    <p style=\"text-align: center;\">\n      <a href=\"https://www.modal.org.br/blog-cti/\" style=\"background-color: #00004d; color: white; padding: 10px 20px; text-decoration: none; border-radius: 0px;\">Quer saber mais? Visite o <b>Blog CT&I do Instituto Modal</b>!</a>\n    </p>\n\n    <!-- Rodapé -->\n    <hr style=\"border: none; border-top: 1px solid #00004d; margin: 20px 0;\">\n    <p style=\"font-size: small; text-align: center;\">\n      Você está recebendo esse e-mail porque concorda que o Instituto Modal envie informações, notícias e outras mensagens que julgamos ser de seu interesse. Mas se isso não for verdade, por favor nos avise! Envie um e-mail para <a href=\"mailto:suporte@modal.org.br\" style=\"color: #2d5016; text-decoration: none;\">suporte@modal.org.br</a> e retiraremos o seu e-mail da lista imediatamente.\n    </p>\n    <hr style=\"border: none; border-top: 1px solid #00004d; margin: 10px 0;\">\n  </div>\n`;\n\n// Retorna o corpo do e-mail como saída\nreturn [\n  {\n    json: {\n      emailBody: emailBody\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,272],"id":"115826dd-0952-45ba-b243-9eb869207dd2","name":"Gera Corpo do E-mail"},{"parameters":{"sendTo":"informes@modal.org.br","subject":"={{ `As novidades do Blog CT&I de ${new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: 'long', year: 'numeric' })} estão aqui!` }}\n","message":"={{ $('Gera Corpo do E-mail').first().json.emailBody }}","options":{"replyTo":"noreply@modal.org.br"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1312,272],"id":"8bb39db1-caa9-4116-a0b3-216bcf23be9b","name":"Gmail","webhookId":"865eaac6-86f6-493a-8154-396c20849db9","credentials":{"gmailOAuth2":{"id":"2KwPjOKQcEDPMqgD","name":"Modal - Gmail (admin@modal.org.br)"}}},{"parameters":{"jsCode":"return [\n    {\n        json: {\n            posts: $input.all()\n                .map(item => `- ${item.json.excerpt.rendered}`) // Garante que o título seja extraído\n                .join('\\n') // Junta os títulos com quebras de linha\n        }\n    }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,128],"id":"a074ce5e-418c-417c-87ac-07e344636f0a","name":"Recupera títulos dos posts para a IA escrever a introdução"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[880,272],"id":"b78e8c92-6f5d-4d47-962a-5a3fcb934080","name":"Merge"}],"connections":{"Schedule Trigger - Executa toda segunda, às 6h30":{"main":[[{"node":"Recupera Posts dos últimos 7 dias","type":"main","index":0}]]},"Recupera Posts dos últimos 7 dias":{"main":[[{"node":"Testa se há posts publicados","type":"main","index":0}]]},"Testa se há posts publicados":{"main":[[{"node":"Recupera URLs das imagens","type":"main","index":0},{"node":"Recupera títulos dos posts para a IA escrever a introdução","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Escreve Introdução","type":"ai_languageModel","index":0}]]},"Recupera URLs das imagens":{"main":[[{"node":"Consolida Dados Posts","type":"main","index":0}]]},"Escreve Introdução":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Consolida Dados Posts":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Gera Corpo do E-mail":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Recupera títulos dos posts para a IA escrever a introdução":{"main":[[{"node":"Escreve Introdução","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Gera Corpo do E-mail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger - Executa toda segunda, às 6h30":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"9d3cdcf1-34e6-4e82-a221-add0a869533e","triggerCount":1,"shared":[{"updatedAt":"2025-11-01T12:41:34.482Z","createdAt":"2025-11-01T12:41:34.482Z","role":"workflow:owner","workflowId":"8WVhPmzSgVX4IrPy","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":10,"yesterdayDate":"2025-10-31T13:30:20.296Z"}