Workflows/Novo Colaborador Modal - 2025-11-01.json
{"updatedAt":"2025-11-01T13:24:10.431Z","createdAt":"2025-11-01T13:22:57.348Z","id":"lbVN9eYdVffAjwG1","name":"Novo Colaborador Modal","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"novo-colaborador-modal","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1312,560],"id":"78e11a55-44ff-4c84-a58f-579f9a01213b","name":"Webhook","webhookId":"a6423546-5e51-44ef-be56-2fc091dfebe1"},{"parameters":{"assignments":{"assignments":[{"id":"b6db0655-026d-430c-8660-9f8f25679b5f","name":"Data da Solicitação","value":"={{ \n  ($json.body.entry_time || '').split(' ')[0] \n}}","type":"string"},{"id":"95ef4ab6-db8f-4dc1-8fbf-ace3bf42ad36","name":"NumID","value":"={{\n  $json.body.text_1?.trim()\n    ? $json.body.text_11.trim()\n    : Date.now().toString(36)\n}}","type":"string"},{"id":"5aa3bf96-a7a7-4b18-8fb0-934a7667be1e","name":"Nome do(a) Colaborador(a)","value":"={{ (() => {\n  const rawName = $json.body.name_1 || '';\n  const lowerCaseWords = ['da', 'de', 'do', 'das', 'dos', 'e'];\n  return rawName\n    .toLowerCase()\n    .split(' ')\n    .map((word, index) => {\n      if (lowerCaseWords.includes(word) && index !== 0) {\n        return word;\n      }\n      return word.charAt(0).toUpperCase() + word.slice(1);\n    })\n    .join(' ');\n})()\n }}","type":"string"},{"id":"19e630b8-dc01-4a47-a407-cd76866d26de","name":"E-mail Particular","value":"={{ $json.body.email_1 }}","type":"string"},{"id":"898504c8-3a21-42a9-846a-b812974e8682","name":"Celular","value":"={{ $json.body.phone_1 }}","type":"string"},{"id":"442779d5-9cef-4a25-8a6a-47b98dfa04d0","name":"CPF","value":"={{\n  (() => {\n    const raw = $json.body.text_2 || '';\n    const cleaned = raw.replace(/\\D/g, '');\n    \n    if (cleaned.length === 0) return 'Não Informado';\n    if (cleaned.length !== 11) return 'Inválido';\n    \n    // Validação básica de CPF\n    const isRepeated = /^(\\d)\\1+$/.test(cleaned);\n    if (isRepeated) return 'Inválido';\n    \n    const calcCheckDigit = (digits, factor) => {\n      let sum = 0;\n      for (let i = 0; i < digits.length; i++) {\n        sum += parseInt(digits[i]) * factor--;\n      }\n      const result = (sum * 10) % 11;\n      return result === 10 ? 0 : result;\n    };\n    \n    const digit1 = calcCheckDigit(cleaned.slice(0, 9), 10);\n    const digit2 = calcCheckDigit(cleaned.slice(0, 10), 11);\n    \n    if (digit1 !== parseInt(cleaned[9]) || digit2 !== parseInt(cleaned[10])) {\n      return 'Inválido';\n    }\n\n    // Formatar como 999.999.999-99\n    return cleaned.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n  })()\n}}","type":"string"},{"id":"636659df-41e7-4ae4-b474-1531fc04a9c7","name":"RG","value":"={{ $json.body.text_3 }}","type":"string"},{"id":"22278e38-cc95-482c-a021-1b46d5c62227","name":"Endereço","value":"={{\n  (() => {\n    const rua = ($json.body.address_1_street_address || '').trim();\n    const cidade = ($json.body.address_1_city || '').trim();\n    const estado = ($json.body.address_1_state || '').trim();\n    const cep = ($json.body.address_1_zip || '').trim();\n\n    const cidadeEstado = cidade && estado ? `${cidade}/${estado}` :\n                         cidade ? cidade :\n                         estado ? estado : '';\n\n    const partes = [];\n    if (rua) partes.push(rua);\n    if (cidadeEstado) partes.push(cidadeEstado);\n    if (cep) partes.push(`CEP ${cep}`);\n\n    return partes.length > 0 ? partes.join(' - ') : 'Não Informado';\n  })()\n}}","type":"string"},{"id":"ae026f00-af6b-4307-81b1-697f24de74f4","name":"Estado Civil","value":"={{ $json.body.radio_1 }}","type":"string"},{"id":"14432e54-98f9-4720-9064-c20aafc20774","name":"Tipo de Contratação","value":"={{ $json.body.radio_2 }}","type":"string"},{"id":"b3ff1feb-2620-4e3f-b88f-2c54cccf3d05","name":"Tipo de Bolsa","value":"={{ $json.body.radio_3 }}","type":"string"},{"id":"3377d15c-026c-42bc-b6ab-65da13d49078","name":"Cargo / Função","value":"={{ $json.body.text_8 }}","type":"string"},{"id":"c02e0d40-c6ff-4b86-ab32-6986636f4c92","name":"Gestor(a) Imediato(a)","value":"={{ $json.body.select_1 }}","type":"string"},{"id":"91103475-9003-4f71-9af1-eb5c26e02fe8","name":"Nome do(a) Solicitante","value":"={{ $json.body.name_2 }}","type":"string"},{"id":"3dbac052-57d9-472f-8608-e652e9b3ba61","name":"E-mail do(a) Solicitante","value":"={{ $json.body.email_2 }}","type":"string"},{"id":"e1c39c52-1601-4a92-a4f6-c135ab4a28a8","name":"Razão Social","value":"={{ $json.body.text_4 }}","type":"string"},{"id":"01a28e5d-bf1a-48de-b215-9f28276af2ff","name":"Nome Fantasia","value":"={{ $json.body.text_5 }}","type":"string"},{"id":"e71239fe-2d80-492d-8cca-2c83d3039c44","name":"Endereço Comercial","value":"={{\n  (() => {\n    const rua = ($json.body.address_2_street_address || '').trim();\n    const cidade = ($json.body.address_2_city || '').trim();\n    const estado = ($json.body.address_2_state || '').trim();\n    const cep = ($json.body.address_2_zip || '').trim();\n\n    const cidadeEstado = cidade && estado ? `${cidade}/${estado}` :\n                         cidade ? cidade :\n                         estado ? estado : '';\n\n    const partes = [];\n    if (rua) partes.push(rua);\n    if (cidadeEstado) partes.push(cidadeEstado);\n    if (cep) partes.push(`CEP ${cep}`);\n\n    return partes.length > 0 ? partes.join(' - ') : 'Não Informado';\n  })()\n}}","type":"string"},{"id":"d7573dfc-b35a-46bb-b4ef-a82945d25661","name":"Site","value":"={{ $json.body.url_1 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,560],"id":"eda34fec-7dc3-434c-a4ef-f1bc929a29f9","name":"Organiza e valida dados","onError":"continueRegularOutput"},{"parameters":{"firstName":"={{ $json.givenName }}","lastName":"={{ $json.familyName }}","password":"={{ $json.password }}","username":"={{ $json.username }}","domain":"=modal.org.br","additionalFields":{"changePasswordAtNextLogin":true,"phoneUi":{"phoneValues":[{"type":"mobile","value":"={{ $('Organiza e valida dados').item.json.Celular }}","primary":true}]},"emailUi":{"emailValues":[{"type":"home","address":"={{ $('Organiza e valida dados').item.json['E-mail Particular'] }}"}]}}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-640,368],"id":"a9bd3742-38ee-4567-9dd7-c58300a652d2","name":"Google Workspace Admin","credentials":{"gSuiteAdminOAuth2Api":{"id":"5G6foFuA90euMZyY","name":"Modal - Google Workspace Admin (admin@modal.org.br)"}}},{"parameters":{"method":"POST","url":"https://modal.org.br/wp-json/wp/v2/users","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"username\": \"{{ $json.primaryEmail }}\",\n  \"first_name\": \"{{ $('Separa nome e sobrenome').item.json.givenName }}\",\n  \"last_name\": \"{{ $('Separa nome e sobrenome').item.json.familyName }}\",\n  \"email\": \"{{ $json.primaryEmail }}\",\n  \"password\": \"{{ $('Separa nome e sobrenome').item.json.password }}\",\n  \"name\": \"{{ $json.name.givenName }} {{ $json.name.familyName }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,368],"id":"8e93fd17-2e1f-424e-a391-78cb6bef2edb","name":"Cria usuário no Wordpress","credentials":{"wordpressApi":{"id":"E3GmQKGvF20ljgVe","name":"Modal - Wordpress (bruno.souza)"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://cursos.modal.org.br/webservice/rest/server.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"wstoken\": \"e480755b5cf5d4fa5aa189189afefcfc\",\n  \"wsfunction\": \"core_user_create_users\",\n  \"moodlewsrestformat\": \"json\",\n  \"users[0][username]\": \"{{ $('Separa nome e sobrenome').item.json.username }}\",\n  \"users[0][password]\": \"{{ $('Separa nome e sobrenome').item.json.password }}\",\n  \"users[0][firstname]\": \"{{ $('Separa nome e sobrenome').item.json.givenName }}\",\n  \"users[0][lastname]\": \"{{ $('Separa nome e sobrenome').item.json.familyName }}\",\n  \"users[0][email]\": \"{{ $json.primaryEmail }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,560],"id":"5dfdfe52-1bb3-4e4d-b651-e93760424a1c","name":"Cria Usuário no Moodle","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://cursos.modal.org.br/webservice/rest/server.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"wstoken\": \"e480755b5cf5d4fa5aa189189afefcfc\",\n  \"wsfunction\": \"enrol_manual_enrol_users\",\n  \"moodlewsrestformat\": \"json\",\n  \"enrolments[0][roleid]\": \"5\",\n  \"enrolments[0][userid]\": \"{{ $('Cria Usuário no Moodle').item.json.id }}\",\n  \"enrolments[0][courseid]\": \"19\",\n  \"enrolments[1][roleid]\": \"5\",\n  \"enrolments[1][userid]\": \"{{ $('Cria Usuário no Moodle').item.json.id }}\",\n  \"enrolments[1][courseid]\": \"21\",\n  \"enrolments[2][roleid]\": \"5\",\n  \"enrolments[2][userid]\": \"{{ $('Cria Usuário no Moodle').item.json.id }}\",\n  \"enrolments[2][courseid]\": \"6\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,560],"id":"af743d32-13c5-4d13-bb4f-619d7e2cd73c","name":"Inscreve o usuário nos cursos necessários","alwaysOutputData":true},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[48,544],"id":"051a509d-a983-411b-91c4-5d8c79e5a666","name":"Organiza Informações para mandar por e-mail","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const partes = $input.first().json['Nome do(a) Colaborador(a)'].trim().split(/\\s+/);\n\n// Função para remover acentos e caracteres especiais\nconst normalizarTexto = (texto) => {\n  return texto\n    .normalize('NFD')                 // Separa os acentos das letras\n    .replace(/[\\u0300-\\u036f]/g, '')  // Remove os sinais de acento\n    .replace(/[^a-zA-Z0-9\\s]/g, '');  // Remove outros caracteres especiais (ex: cedilha, pontuação)\n};\n\nconst givenName = normalizarTexto(partes[0]);\nconst familyName = normalizarTexto(partes.slice(1).join(' '));\nconst ultimoNome = normalizarTexto(partes[partes.length - 1]);\n\n// Geração de senha aleatória com 8 caracteres incluindo letras, números e caracteres especiais\nconst gerarSenha = () => {\n  const letrasMaiusculas = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';\n  const letrasMinusculas = 'abcdefghijklmnopqrstuvwxyz';\n  const numeros = '0123456789';\n  const especiais = '!@#$%^&*()_+[]{}|;:,.<>?';\n\n  const todas = letrasMaiusculas + letrasMinusculas + numeros + especiais;\n\n  let senha = '';\n  senha += letrasMaiusculas.charAt(Math.floor(Math.random() * letrasMaiusculas.length));\n  senha += letrasMinusculas.charAt(Math.floor(Math.random() * letrasMinusculas.length));\n  senha += numeros.charAt(Math.floor(Math.random() * numeros.length));\n  senha += especiais.charAt(Math.floor(Math.random() * especiais.length));\n\n  for (let i = senha.length; i < 8; i++) {\n    senha += todas.charAt(Math.floor(Math.random() * todas.length));\n  }\n\n  return senha.split('').sort(() => 0.5 - Math.random()).join('');\n};\n\nconst senha = gerarSenha();\n\nconst username = `${givenName.toLowerCase()}.${ultimoNome.toLowerCase()}`; // usado para gerar o email no formato esperado\n\nconst anotacoes = `\nCPF: ${$json.CPF}\nRG: ${$json.RG}\nEndereço: ${$json[\"Endereço\"]}\nTelefone: ${$json.Telefone}\nE-mail pessoal: ${$json[\"E-mail Particular\"]}\n`.trim();\n\nreturn [\n  {\n    json: {\n      username,\n      givenName,\n      familyName,\n      password: senha,\n      notes: anotacoes,\n      Telefone: $json.Telefone,\n      Endereço: $json[\"Endereço\"]\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,560],"id":"b03e7fb2-08d4-4e4b-b2ea-d1e1d5444c53","name":"Separa nome e sobrenome"},{"parameters":{"operation":"create","displayName":"={{ $json.givenName }} {{ $json.familyName }}","userPrincipalName":"={{ $json.username }}@modal.org.br","mailNickname":"={{ $json.username }}","password":"={{ $json.password }}","additionalFields":{"companyName":"Instituto Modal","givenName":"={{ $json.givenName }}","jobTitle":"={{ $('Organiza e valida dados').item.json['Cargo / Função'] }}","surname":"={{ $json.familyName }}","mobilePhone":"={{ $('Webhook').item.json.body.phone_1 }}","otherMails":["={{ $('Organiza e valida dados').item.json['E-mail Particular'] }}"]},"requestOptions":{}},"type":"n8n-nodes-base.microsoftEntra","typeVersion":1,"position":[-192,752],"id":"d5fe122f-bff9-4b5c-affa-64a4a05f27cb","name":"Cria o Usuário na Microsoft Entra ID","credentials":{"microsoftEntraOAuth2Api":{"id":"3yO6cJDLLKMc0IEt","name":"Modal - Microsoft Entra ID (Azure Active Directory)"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"Suporte Modal <suporte@modal.org.br>","toEmail":"={{ $('Organiza e valida dados').item.json['E-mail Particular'] }}","ccEmail":"=suporte@modal.org.br,talentos@modal.org.br,{{ $json.username }}","subject":"=Seu novo e-mail {{ $json.username }} já foi criado e está pronto para você usar!","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Bem-vindo ao Instituto Modal</title>\n</head>\n<body style=\"margin:0;padding:0;background-color:#F8F9FA;font-family:Arial,sans-serif;\">\n\n  <table align=\"center\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;margin:auto;background-color:#FFFFFF;border-collapse:collapse;\">\n\n    <!-- Cabeçalho com logo -->\n    <tr>\n      <td style=\"background-color:#ffffff;padding:20px;text-align:center;\">\n        <img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_simplificada.png\" alt=\"Instituto Modal\" style=\"max-width:250px;height:auto;\" />\n      </td>\n    </tr>\n\n    <!-- Saudação -->\n    <tr>\n      <td style=\"padding:30px 20px 10px 20px;\">\n        <h1 style=\"color:#ff9900;font-size:24px;margin:0 0 10px;\">Olá, {{ $('Separa nome e sobrenome').item.json.givenName }}!</h1>\n        <p style=\"color:#333333;font-size:16px;margin:0;\">\n          Sua jornada com o <strong>Instituto Modal</strong> está começando! Suas contas de acesso foram criadas com sucesso e você já está inscrito(a) nos cursos necessários.\n        </p>\n      </td>\n    </tr>\n\n    <!-- Dados de acesso comuns -->\n    <tr>\n      <td style=\"padding:20px;\">\n        <div style=\"background-color:#F8F9FA;border:1px solid #00004d;border-radius:8px;padding:20px;\">\n          <h3 style=\"color:#00004d;font-size:18px;margin-top:0;\">Seus dados de acesso:</h3>\n          <p style=\"color:#333333;margin:8px 0;\"><strong>E-mail institucional:</strong> {{ $json.email }}</p>\n          <p style=\"color:#333333;margin:8px 0;\"><strong>Senha inicial:</strong> {{ $('Separa nome e sobrenome').item.json.password }}</p>\n          <p style=\"color:#333333;margin:8px 0;\"><strong>E-mail pessoal cadastrado:</strong> {{ $('Organiza e valida dados').item.json['E-mail Particular'] }}</p>\n          <p style=\"color:#ff9900;margin:8px 0;font-weight:bold;\">Importante: você deverá alterar sua senha no primeiro acesso a cada sistema.</p>\n        </div>\n      </td>\n    </tr>\n\n    <!-- Acesso ao Google Workspace -->\n    <tr>\n      <td style=\"padding:20px;\">\n        <div style=\"background-color:#fef9f4;border-left:6px solid #ff9900;border-radius:4px;padding:16px;\">\n          <h3 style=\"color:#ff9900;font-size:18px;margin-top:0;\">Acesso ao seu e-mail (Google Workspace)</h3>\n          <ol style=\"color:#333333;padding-left:20px;margin-top:10px;\">\n            <li>Acesse o <a href=\"https://mail.google.com\" target=\"_blank\" style=\"color:#ff9900;\">Gmail</a>.</li>\n            <li>Digite seu e-mail institucional: <strong>{{ $json.email }}</strong>.</li>\n            <li>Informe a senha inicial acima.</li>\n            <li>No primeiro acesso, será solicitado que você defina uma nova senha.</li>\n          </ol>\n        </div>\n      </td>\n    </tr>\n\n    <!-- Acesso ao Microsoft Entra ID -->\n    <tr>\n      <td style=\"padding:20px;\">\n        <div style=\"background-color:#f4f8fb;border-left:6px solid #00004d;border-radius:4px;padding:16px;\">\n          <h3 style=\"color:#00004d;font-size:18px;margin-top:0;\">Acesso aos serviços Microsoft (Entra ID)</h3>\n          <p style=\"color:#333333;margin-top:0;\">Você também possui uma conta na plataforma Microsoft Entra ID, que poderá ser utilizada em serviços como o Microsoft Teams, OneDrive e outros.</p>\n          <ol style=\"color:#333333;padding-left:20px;margin-top:10px;\">\n            <li>Acesse: <a href=\"https://portal.office.com\" target=\"_blank\" style=\"color:#00004d;\">https://portal.office.com</a></li>\n            <li>Login: <strong>{{ $json.email }}</strong></li>\n            <li>Senha: mesma senha inicial informada acima.</li>\n          </ol>\n        </div>\n      </td>\n    </tr>\n\n    <!-- Acesso ao Site do Modal -->\n    <tr>\n      <td style=\"padding:20px;\">\n        <div style=\"background-color:#fef9f4;border-left:6px solid #ff9900;border-radius:4px;padding:16px;\">\n          <h3 style=\"color:#ff9900;font-size:18px;margin-top:0;\">Acesso ao site do Instituto Modal</h3>\n          <p style=\"color:#333333;margin-top:0;\">Você já pode acessar a área restrita do nosso site para consultar conteúdos e informações exclusivas.</p>\n          <ol style=\"color:#333333;padding-left:20px;margin-top:10px;\">\n            <li>Acesse: <a href=\"https://modal.org.br/\" target=\"_blank\" style=\"color:#ff9900;\">https://modal.org.br/</a></li>\n            <li>Utilize seu e-mail institucional e a senha inicial.</li>\n          </ol>\n        </div>\n      </td>\n    </tr>\n\n    <!-- Acesso ao Moodle -->\n    <tr>\n      <td style=\"padding:20px;\">\n        <div style=\"background-color:#f4f8fb;border-left:6px solid #00004d;border-radius:4px;padding:16px;\">\n          <h3 style=\"color:#00004d;font-size:18px;margin-top:0;\">Acesso à Plataforma de Cursos (Moodle)</h3>\n          <ol style=\"color:#333333;padding-left:20px;margin-top:10px;\">\n            <li>Acesse: <a href=\"https://cursos.modal.org.br/login/index.php\" target=\"_blank\" style=\"color:#00004d;\">https://cursos.modal.org.br/login/index.php</a></li>\n            <li>Nome de usuário: <strong>{{ $json.email }}</strong></li>\n            <li>Senha: mesma senha inicial.</li>\n          </ol>\n          <p style=\"color:#333333;margin-top:10px;\">Você já está inscrito(a) nos cursos obrigatórios para sua atuação no Modal:</p>\n\t  <ul>\n\t    <li>Onboarding: Instituto Modal</b></li>\n\t    <li><b>Construindo Ambientes Saudáveis no Trabalho</b></li>\n\t    <li><b>Introdução à Lei Geral de Proteção de Dados</b></li>\n\t  </ul>\n        </div>\n      </td>\n    </tr>\n\n    <!-- Observações finais -->\n    <tr>\n      <td style=\"padding:20px 20px 40px 20px;\">\n        <p style=\"color:#333333;font-size:14px;margin-bottom:10px;\">\n          Em caso de dúvidas ou dificuldades, entre em contato com nossa equipe pelo e-mail\n          <a href=\"mailto:suporte@modal.org.br\" style=\"color:#ff9900;\">suporte@modal.org.br</a>.\n        </p>\n        <p style=\"color:#333333;font-size:14px;\">\n          Seja bem-vindo(a) ao Instituto Modal!\n        </p>\n      </td>\n    </tr>\n\n    <!-- Rodapé -->\n    <tr>\n      <td style=\"background-color:#00004d;padding:20px;text-align:center;\">\n        <p style=\"color:#FFFFFF;font-size:12px;margin:0;\">\n          © {{ new Date().getFullYear() }} Instituto Modal – Todos os direitos reservados.\n        </p>\n      </td>\n    </tr>\n\n  </table>\n\n</body>\n</html>\n"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[272,560],"id":"d1aae853-ac02-4ec7-9a08-e45cc72652e1","name":"Envia e-mail ao usuário","credentials":{"mailgunApi":{"id":"RRw4qLJ491M1Hfty","name":"Modal - Mailgun"}}},{"parameters":{"method":"POST","url":"https://assets.modal.org.br/api/v1/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"first_name\": \"{{ $('Separa nome e sobrenome').item.json.givenName }}\",\n\t\"last_name\": \"{{ $('Separa nome e sobrenome').item.json.familyName }}\",\n\t\"username\": \"{{ $('Separa nome e sobrenome').item.json.username }}\",\n\t\"email\": \"{{ $json.primaryEmail }}\",\n\t\"phone\": \"{{ $json.phones[0].value }}\",\n    \"company_id\": 1,\n    \"location_id\": 2,\n\t\"activated\": true,\n\t\"send_welcome_email\": true,\n\t\"password\": \"{{ $('Separa nome e sobrenome').item.json.password }}\",\n\t\"password_confirmation\": \"{{ $('Separa nome e sobrenome').item.json.password }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,224],"id":"d5f4cb76-4fd4-4d98-a08e-4e6a6d140ee4","name":"Cria usuário no Snipe-IT","onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Organiza e valida dados","type":"main","index":0}]]},"Google Workspace Admin":{"main":[[{"node":"Cria usuário no Wordpress","type":"main","index":0},{"node":"Cria Usuário no Moodle","type":"main","index":0}]]},"Cria usuário no Wordpress":{"main":[[{"node":"Organiza Informações para mandar por e-mail","type":"main","index":0}]]},"Cria Usuário no Moodle":{"main":[[{"node":"Inscreve o usuário nos cursos necessários","type":"main","index":0}]]},"Inscreve o usuário nos cursos necessários":{"main":[[{"node":"Organiza Informações para mandar por e-mail","type":"main","index":1}]]},"Organiza Informações para mandar por e-mail":{"main":[[{"node":"Envia e-mail ao usuário","type":"main","index":0}]]},"Organiza e valida dados":{"main":[[{"node":"Separa nome e sobrenome","type":"main","index":0}]]},"Separa nome e sobrenome":{"main":[[{"node":"Google Workspace Admin","type":"main","index":0},{"node":"Cria o Usuário na Microsoft Entra ID","type":"main","index":0}]]},"Cria o Usuário na Microsoft Entra ID":{"main":[[{"node":"Organiza Informações para mandar por e-mail","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"close","host":"n8n.modal.org.br","x-forwarded-scheme":"https","x-forwarded-proto":"https","x-forwarded-for":"189.50.84.194","x-real-ip":"189.50.84.194","content-length":"1653","user-agent":"WordPress/6.8.1; https://www.modal.org.br ForminatorWebhook/1.0","accept-encoding":"deflate, gzip, br, zstd","accept":"application/json","content-type":"application/json"},"params":{},"query":{},"body":{"text_1":"","name_1":"Marcelo Augusto Rhormens Sauguellis","email_1":"marsauguellis@gmail.com","phone_1":"+55 61 99258-7040","text_2":"482.763.831-49","text_3":"1175137 SSPSF","address_1_street_address":"Setor de Habitações Individuais Norte, Q CA 2, nº 16, Bloco G, PLTIS 3, Apt 16","address_1_city":"Brasília","address_1_state":"DF","address_1_zip":"71.503-502","radio_1":"Casado(a)","radio_2":"PJ","text_4":"57.568.050 MARCELO AUGUSTO RHORMENS SAUGUELLIS","text_5":"","text_6":"57.568.050/0001-97","text_7":"","address_2_street_address":"Setor de Habitações Individuais Norte, Q CA 2, nº 16, Bloco G, PLTIS 3, Apt 16","address_2_city":"Brasília","address_2_state":"DF","address_2_zip":"71.503-502","address_2_country":"Brasil","url_1":"","text_8":"Consultor","select_1":"Welington Evangelista","name_2":"Bárbara Mendonça","email_2":"barbara@modal.org.br","referer_url":"","_wp_http_referer":"/wp-admin/admin-ajax.php","page_id":"115798","form_type":"default","current_url":"https://www.modal.org.br/2025/06/15/criacao-usuario-novo-colaborador/","render_id":"0","input_23":"","address_1":"{\"street_address\":\"Setor de Habita\\u00e7\\u00f5es Individuais Norte, Q CA 2, n\\u00ba 16, Bloco G, PLTIS 3, Apt 16\",\"city\":\"Bras\\u00edlia\",\"state\":\"DF\",\"zip\":\"71.503-502\"}","address_2":"{\"street_address\":\"Setor de Habita\\u00e7\\u00f5es Individuais Norte, Q CA 2, n\\u00ba 16, Bloco G, PLTIS 3, Apt 16\",\"city\":\"Bras\\u00edlia\",\"state\":\"DF\",\"zip\":\"71.503-502\",\"country\":\"Brasil\"}","_forminator_user_ip":null,"form_title":"Novo Colaborador Modal","entry_time":"2025-07-14 17:27:25"},"webhookUrl":"https://n8n.modal.org.br/webhook/novo-colaborador-modal","executionMode":"production"}}],"Google Workspace Admin":[{"json":{"kind":"admin#directory#user","id":"101444772864779199555","etag":"\"U5jgVIXCNTG3aVS2I7qVc3eJqqYBcv2x7MnKJR5RfS4/q3Vfc_Zb3hXg2UaT6JatjEpsq0c\"","primaryEmail":"marcelo.sauguellis@modal.org.br","name":{"givenName":"Marcelo","familyName":"Augusto Rhormens Sauguellis"},"isAdmin":false,"isDelegatedAdmin":false,"creationTime":"2025-07-14T20:51:51.000Z","emails":[{"address":"marsauguellis@gmail.com","type":"home"}],"phones":[{"value":"+55 61 99258-7040","primary":true,"type":"mobile"}],"customerId":"C03k6hj5a","orgUnitPath":"/","isMailboxSetup":false}}],"Separa nome e sobrenome":[{"json":{"username":"marcelo.sauguellis","givenName":"Marcelo","familyName":"Augusto Rhormens Sauguellis","password":"@3Kb}cOE","notes":"CPF: 482.763.831-49\nRG: 1175137 SSPSF\nEndereço: Setor de Habitações Individuais Norte, Q CA 2, nº 16, Bloco G, PLTIS 3, Apt 16 - Brasília/DF - CEP 71.503-502\nTelefone: undefined\nE-mail pessoal: marsauguellis@gmail.com","Endereço":"Setor de Habitações Individuais Norte, Q CA 2, nº 16, Bloco G, PLTIS 3, Apt 16 - Brasília/DF - CEP 71.503-502"}}]},"versionId":"ad7586bc-8495-46e8-84a2-6bf947650bf2","triggerCount":1,"shared":[{"updatedAt":"2025-11-01T13:22:57.348Z","createdAt":"2025-11-01T13:22:57.348Z","role":"workflow:owner","workflowId":"lbVN9eYdVffAjwG1","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":10,"yesterdayDate":"2025-10-31T13:30:20.296Z"}