Workflows/Publica posts do Wordpress no LinkedIn - 2025-11-01.json
{"updatedAt":"2025-11-01T13:25:08.606Z","createdAt":"2025-11-01T13:25:08.606Z","id":"3FrPw5GypLaitsai","name":"Publica posts do Wordpress no LinkedIn","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","returnAll":true,"options":{"after":"={{ new Date(new Date($json.timestamp).getTime() - 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] + 'T00:00:00' }}","categories":[445,446,449]}},"name":"Get Many Posts","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[224,0],"id":"8cd4e1a4-a69f-4fba-8e3e-400aae97aee7","credentials":{"wordpressApi":{"id":"E3GmQKGvF20ljgVe","name":"Modal - Wordpress (bruno.souza)"}}},{"parameters":{"url":"={{ $json.source_url }}","responseFormat":"file","options":{}},"name":"Download Featured Image","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1104,0],"id":"805b15bb-11f5-49bf-b8a7-59ff0ecb9478"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"317d3e83-e6c6-43a6-a17b-4fbc9ef8140f","name":"Schedule Trigger1"},{"parameters":{"url":"={{ $json.mediaUrl }}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0],"id":"74caef93-33e6-4690-9969-a21c5ddfd1a7","name":"HTTP Request"},{"parameters":{"jsCode":"return $input.all().map(item => {\n    return {\n        json: {\n            ...item.json,\n            mediaUrl: item.json._links[\"wp:featuredmedia\"]?.[0]?.href || null\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"5442e760-c29b-48a6-926d-6e266f935016","name":"Code"},{"parameters":{"authentication":"communityManagement","person":"SFjebObkz6","text":"={{ \n  $('Code').item.json.title.rendered + \"\\n\\n\" + \n  $('Code').item.json.excerpt.rendered\n    .replace(/<\\/?[^>]+(>|$)/g, \"\") // Remove HTML\n    .replace(/&[^;]+;/g, \"\") + \"\\n\\n\" + \n  \"Leia mais: \" + $('Code').item.json.link \n}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1552,0],"id":"85017871-087e-41db-bd82-c75dbcd5d670","name":"LinkedIn1","credentials":{"linkedInCommunityManagementOAuth2Api":{"id":"J1Ua5JDVuMZiUAWR","name":"Bruno - LinkedIn Community Management"}}},{"parameters":{"jsCode":"console.log($json);\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,0],"id":"ba612062-af34-4f8d-b55e-e6703d01c883","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7c816da-e44b-4799-bdc7-efa124d577d9","leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"id":"08d9a1d2-766d-49fa-9dc2-0c76ef2fca0a","name":"If - Testa se há novos posts"}],"connections":{"Get Many Posts":{"main":[[{"node":"If - Testa se há novos posts","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Many Posts","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download Featured Image","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Download Featured Image":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"LinkedIn1","type":"main","index":0}]]},"If - Testa se há novos posts":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"90db565b-81a3-466a-9d93-7669ef2f651e","triggerCount":0,"shared":[{"updatedAt":"2025-11-01T13:25:08.606Z","createdAt":"2025-11-01T13:25:08.606Z","role":"workflow:owner","workflowId":"3FrPw5GypLaitsai","projectId":"dOg1kukijbsds31a"}],"tags":[],"totalWorkflows":10,"yesterdayDate":"2025-10-31T13:30:20.296Z"}