Workflows/Publica posts do Wordpress no LinkedIn - 2025-06-16.json
{"createdAt":"2025-01-17T17:28:35.389Z","updatedAt":"2025-06-16T16:18:44.504Z","id":"ZkhSspcAuMCeH397","name":"Publica posts do Wordpress no LinkedIn","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","returnAll":true,"options":{"after":"={{ new Date(new Date($json.timestamp).getTime() - 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] + 'T00:00:00' }}","categories":[445,446,449]}},"name":"Get Many Posts","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-300,-40],"id":"9d62665c-70e2-4838-ab7f-35854f0f8212","credentials":{"wordpressApi":{"id":"R8a3QOsUYYIK0spi","name":"Wordpress - Modal"}}},{"parameters":{"url":"={{ $json.source_url }}","responseFormat":"file","options":{}},"name":"Download Featured Image","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[580,-40],"id":"db6f4cd7-e5bc-4fba-af98-f94fec8e8c81"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-520,-40],"id":"d922405b-a81c-442b-9eae-d6910e1826cb","name":"Schedule Trigger1"},{"parameters":{"url":"={{ $json.mediaUrl }}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,-40],"id":"f24476b1-60ed-4a97-8124-b30c08cdd8a9","name":"HTTP Request"},{"parameters":{"jsCode":"return $input.all().map(item => {\n    return {\n        json: {\n            ...item.json,\n            mediaUrl: item.json._links[\"wp:featuredmedia\"]?.[0]?.href || null\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,-40],"id":"7ec4aae5-a7b3-45ab-a2e3-beb922013c91","name":"Code"},{"parameters":{"person":"SFjebObkz6","text":"={{ \n  $('Code').item.json.title.rendered + \"\\n\\n\" + \n  $('Code').item.json.excerpt.rendered\n    .replace(/<\\/?[^>]+(>|$)/g, \"\") // Remove HTML\n    .replace(/&[^;]+;/g, \"\") + \"\\n\\n\" + \n  \"Leia mais: \" + $('Code').item.json.link \n}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1020,-40],"id":"45e248fe-5ed4-41ab-8693-1ef83951423a","name":"LinkedIn1","credentials":{"linkedInOAuth2Api":{"id":"GdlGiiJJzVBpQvBK","name":"Bruno - LinkedIn"}}},{"parameters":{"jsCode":"console.log($json);\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-40],"id":"b84aa2e0-e464-4eca-b76f-189f1d1fdceb","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7c816da-e44b-4799-bdc7-efa124d577d9","leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-40],"id":"2e0d5fa9-8e5a-4406-8fd6-b9267868f22e","name":"If - Testa se há novos posts"}],"connections":{"Get Many Posts":{"main":[[{"node":"If - Testa se há novos posts","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Many Posts","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download Featured Image","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Download Featured Image":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"LinkedIn1","type":"main","index":0}]]},"If - Testa se há novos posts":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[34]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37046e92-fbe0-4a19-b473-49b23a799351","triggerCount":1,"shared":[{"createdAt":"2025-01-17T17:28:35.389Z","updatedAt":"2025-01-17T17:28:35.389Z","role":"workflow:owner","workflowId":"ZkhSspcAuMCeH397","projectId":"RH3R3AhFCLYYjSTt"}],"tags":[],"totalWorkflows":15,"yesterdayDate":"2025-09-12T15:32:34.065Z"}