Workflows/Solicitação de Pagamento - 2025-05-26.json
{"createdAt":"2025-05-16T11:17:02.001Z","updatedAt":"2025-05-26T20:49:10.345Z","id":"9voJrd5Fgse0hnj0","name":"Solicitação de Pagamento","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"solicitacao-pagamento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,200],"id":"ca3610e0-2ea4-4016-b0eb-418a387f860c","name":"Webhook","webhookId":"fb7afce9-53e2-43be-9612-858b0b297668"},{"parameters":{"assignments":{"assignments":[{"id":"1d4aad71-7497-4b01-950f-4a55883cbe56","name":"Data da Solicitação","value":"={{\n  (() => {\n    const raw = $node[\"Webhook\"].json.body.entry_time;\n    if (!raw || typeof raw !== 'string') return null;\n    const parts = raw.split(' ');\n    return parts.length > 0 ? parts[0] : null;\n  })()\n}}","type":"string"},{"id":"372a260e-8541-4697-97d4-ba3124429fb5","name":"Fornecedor","value":"={{ $node[\"Webhook\"].json.body.name_1 }}","type":"string"},{"id":"62d5342b-e5e0-4c63-8a46-ae693b278fe2","name":"CNPJ / CPF","value":"={{\n  (() => {\n    const valor = ($node[\"Webhook\"].json.body.text_1 || '').replace(/\\D/g, ''); // remove tudo que não for número\n\n    if (valor.length === 11) {\n      // CPF: 999.999.999-99\n      return valor.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n    } else if (valor.length === 14) {\n      // CNPJ: 99.999.999/9999-99\n      return valor.replace(/(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})/, '$1.$2.$3/$4-$5');\n    } else {\n      // Valor inválido ou não identificável como CPF/CNPJ\n      return $node[\"Webhook\"].json.body.text_1 || '';\n    }\n  })()\n}}","type":"string"},{"id":"4c17da85-55d8-4bb0-bd12-95bc9be3f5ba","name":"Tipo de Pagamento","value":"={{ $node[\"Webhook\"].json.body.select_1 }}","type":"string"},{"id":"70ec0eff-45d2-46c7-9cdc-3cf60509e028","name":"Descrição da Despesa","value":"={{ $node[\"Webhook\"].json.body.text_2 }}","type":"string"},{"id":"3be23dae-8e22-432f-a002-70641a549010","name":"Instrumento","value":"={{ $node[\"Webhook\"].json.body.select_3 }}","type":"string"},{"id":"2da60e4b-c331-46de-b9d7-f51d5a4cc4ab","name":"Valor","value":"={{ $node[\"Webhook\"].json.body.number_2 }}","type":"string"},{"id":"9156c200-9bbf-4a49-a44b-fd5daac87f8d","name":"Moeda","value":"={{ $node[\"Webhook\"].json.body.radio_1 }}","type":"string"},{"id":"8297e513-01a5-4345-8e89-05f84c150e22","name":"=Valor Convertido","value":"={{ \n  $('Webhook').item.json.body.radio_1 === 'USD' \n    ?  $('Webhook').item.json.body.number_2 * $json.USDBRL.bid\n    : $('Webhook').item.json.body.radio_1 === 'Euro' \n      ? $('Webhook').item.json.body.number_2 * $json.EURBRL.bid\n      : $('Webhook').item.json.body.number_2 \n}}","type":"string"},{"id":"775049ff-ccfe-4f50-ba09-247c0a9b0a6e","name":"Forma de Pagamento","value":"={{ $node[\"Webhook\"].json.body.select_5 }}","type":"string"},{"id":"3088c8bb-9cfa-4217-b2ce-0f8ff508d972","name":"Chave PIX / Dados para Transferência","value":"={{ $node[\"Webhook\"].json.body.text_4 }}","type":"string"},{"id":"1aa41378-9cb9-4478-b86b-1f9867e7bbac","name":"Data de Vencimento","value":"={{\n  (() => {\n    const raw = $node[\"Webhook\"].json.body.date_2;\n    if (!raw || typeof raw !== 'string') return null;\n\n    const parts = raw.split('/');\n    if (parts.length !== 3) return null;\n\n    const [d, m, y] = parts;\n    const date = new Date(`${y}-${m}-${d}`);\n    return isNaN(date) ? null : date.toISOString().slice(0, 10);\n  })()\n}}","type":"string"},{"id":"f7ff1f17-37e1-4c53-95fa-08192e2e9ae5","name":"Data de Pagamento","value":"={{\n  (() => {\n    const raw = $node[\"Webhook\"].json.body.date_3;\n    if (!raw || typeof raw !== 'string') return null;\n\n    const parts = raw.split('/');\n    if (parts.length !== 3) return null;\n\n    const [d, m, y] = parts;\n    const date = new Date(`${y}-${m}-${d}`);\n    return isNaN(date) ? null : date.toISOString().slice(0, 10);\n  })()\n}}","type":"string"},{"id":"0331ec2a-d5e3-4845-9ba3-3ce7598ad5d3","name":"Ano / Mês de Pagamento","value":"={{\n  (() => {\n    const raw = $node[\"Webhook\"].json.body.date_3;\n    if (!raw || typeof raw !== 'string') return null;\n\n    const parts = raw.split('/');\n    if (parts.length !== 3) return null;\n\n    const [d, m, y] = parts;\n    const date = new Date(`${y}-${m}-${d}`);\n    return isNaN(date) ? null : date.toISOString().slice(0, 7);\n  })()\n}}","type":"string"},{"id":"2ec4a047-860f-4b60-893e-5b28634d7e9f","name":"Documentos Anexados","value":"={{\n  (() => {\n    return Object.entries($node[\"Webhook\"].json.body)\n      .filter(([key, value]) => key.startsWith('upload_') && value)\n      .map(([_, value]) => value)\n      .join('\\n'); // ou use ', ' para separar por vírgulas\n  })()\n}}\n","type":"string"},{"id":"597a1f3d-e04f-458b-a792-7b220c0c1a7e","name":"Projeto","value":"={{ $('Webhook').item.json.body.select_6 }}","type":"string"},{"id":"e6c0113d-295e-4815-9a97-b3f74a000cd5","name":"Classificação","value":"={{ $('Webhook').item.json.body.select_7 }}","type":"string"},{"id":"989b5f34-0b6d-41f6-ac85-f84371259d1d","name":"Solicitante","value":"={{ $('Webhook').item.json.body.name_2 }}","type":"string"},{"id":"0ac40e47-6920-4bea-907a-ad3c47c461c7","name":"E-mail do Solicitante","value":"={{ $('Webhook').item.json.body.email_1 }}","type":"string"},{"id":"72ef5388-4874-41e8-9cec-bce3de7a7ca7","name":"Observações","value":"={{ $('Webhook').item.json.body.textarea_1 }}","type":"string"},{"id":"b428c918-7618-4a77-9042-daebb3c7488a","name":"=requestID","value":"={{\n  $('Webhook').item.json.body.text_5?.trim()\n    ? $('Webhook').item.json.body.text_5.trim()\n    : Date.now().toString(36)\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,200],"id":"e38c84c2-9aa5-47b2-a1f3-2425c5e576ca","name":"Dados de Despesas"},{"parameters":{"url":"https://economia.awesomeapi.com.br/json/last/USD-BRL,EUR-BRL","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,200],"id":"7498b733-6336-423a-9d26-4bbc785ed18e","name":"Recupera Cotações de Moedas"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PlDYD6grVjCH9YmXwtuOeeKzISUoRT9NpyEyaEK1udw","mode":"list","cachedResultName":"Solicitação de Pagamento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PlDYD6grVjCH9YmXwtuOeeKzISUoRT9NpyEyaEK1udw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1851385626,"mode":"list","cachedResultName":"Lançamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PlDYD6grVjCH9YmXwtuOeeKzISUoRT9NpyEyaEK1udw/edit#gid=1851385626"},"columns":{"mappingMode":"defineBelow","value":{"Observações":"={{ $json['Observações'] }}","E-mail do Solicitante":"={{ $json['E-mail do Solicitante'] }}","Solicitante":"={{ $json.Solicitante }}","Classificação Contábil":"={{ $json['Classificação'] }}","Anexos":"={{ $json['Documentos Anexados'] }}","Projeto":"={{ $json.Projeto }}","Ano / Mês de Pagamento":"={{ $json['Ano / Mês de Pagamento'] }}","Data de Pagamento":"={{ $json['Data de Pagamento'] }}","Data de Vencimento":"={{ $json['Data de Vencimento'] }}","Chave PIX / Dados Bancários":"={{ $json['Chave PIX / Dados para Transferência'] }}","Forma de Pagamento":"={{ $json['Forma de Pagamento'] }}","Valor Convertido":"={{ $json['Valor Convertido'] }}","Moeda":"={{ $json.Moeda }}","Valor":"={{ $json.Valor }}","Instrumento":"={{ $json.Instrumento }}","Descrição da Despesa":"={{ $json['Descrição da Despesa'] }}","Tipo de Pagamento":"={{ $json['Tipo de Pagamento'] }}","CNPJ/CPF":"={{ $json['CNPJ / CPF'] }}","Fornecedor":"={{ $json.Fornecedor }}","Data da Solicitação":"={{ $json['Data da Solicitação'] }}","RequestID":"={{ $json.requestID }}"},"matchingColumns":["RequestID"],"schema":[{"id":"RequestID","displayName":"RequestID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data da Solicitação","displayName":"Data da Solicitação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fornecedor","displayName":"Fornecedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ/CPF","displayName":"CNPJ/CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo de Pagamento","displayName":"Tipo de Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição da Despesa","displayName":"Descrição da Despesa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instrumento","displayName":"Instrumento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Moeda","displayName":"Moeda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Convertido","displayName":"Valor Convertido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Forma de Pagamento","displayName":"Forma de Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chave PIX / Dados Bancários","displayName":"Chave PIX / Dados Bancários","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Vencimento","displayName":"Data de Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Pagamento","displayName":"Data de Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ano / Mês de Pagamento","displayName":"Ano / Mês de Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anexos","displayName":"Anexos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Projeto","displayName":"Projeto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Classificação Contábil","displayName":"Classificação Contábil","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Solicitante","displayName":"Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail do Solicitante","displayName":"E-mail do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações","displayName":"Observações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[120,200],"id":"3fc02875-07bc-4e33-a1bb-f9f8658c767a","name":"Grava Despesa","credentials":{"googleSheetsOAuth2Api":{"id":"1hGtvvCxpfoty8PE","name":"Google Sheets - admin@modal.org.br"}}}],"connections":{"Webhook":{"main":[[{"node":"Recupera Cotações de Moedas","type":"main","index":0}]]},"Dados de Despesas":{"main":[[{"node":"Grava Despesa","type":"main","index":0}]]},"Recupera Cotações de Moedas":{"main":[[{"node":"Dados de Despesas","type":"main","index":0}]]},"Grava Despesa":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9911f841-3c85-4868-9cc7-5124844e53f0","triggerCount":1,"shared":[{"createdAt":"2025-05-16T11:17:02.001Z","updatedAt":"2025-05-16T11:17:02.001Z","role":"workflow:owner","workflowId":"9voJrd5Fgse0hnj0","projectId":"RH3R3AhFCLYYjSTt"}],"tags":[],"totalWorkflows":15,"yesterdayDate":"2025-09-12T15:32:34.065Z"}