Workflows/Submissão de Projeto de PDI - 2025-06-16.json
{"createdAt":"2025-02-11T15:11:33.288Z","updatedAt":"2025-06-16T16:17:25.760Z","id":"1jyuT0uH0EOCqtvL","name":"Submissão de Projeto de PDI","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Função para gerar um UUID manualmente\nfunction generateUUID() {\n  let dt = new Date().getTime();\n  const uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    let r = (dt + Math.random() * 16) % 16 | 0;\n    dt = Math.floor(dt / 16);\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n  return uuid;\n}\n\n// Captura os dados do formulário\nconst submissionTime = $json.body.entry_time;\nconst email = $json.body.email_1;\n\n// Gera um ID único\nconst idProjeto = generateUUID();\n\n// Retorna o ID junto com os dados originais\nreturn [{\n  json: {\n    id_projeto: idProjeto,\n    submissionTime: submissionTime,\n    email: email,\n    ...$json.body  // Mantém os dados originais\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"14c0c92a-4d2c-4639-bab5-4cea50a25880","name":"Gera id_projeto"},{"parameters":{"assignments":{"assignments":[{"id":"1f07a23b-6138-4a81-bdad-6d3318236c07","name":"id_projeto","value":"={{ $json.id_projeto }}","type":"string"},{"id":"3f0d42e0-2e25-4a8c-b217-df87113af9b6","name":"Data de Envio","value":"={{ $json.submissionTime }}","type":"string"},{"id":"df2c8f07-8889-49f0-b1ca-0cab5c0ac973","name":"Nome do Proponente","value":"={{ $json.name_1 }}","type":"string"},{"id":"0e3c529a-1ebf-44a7-b930-74ed382d002f","name":"E-mail do Proponente","value":"={{ $json.email_1 }}","type":"string"},{"id":"6b856d0c-7799-4103-a4bb-7f0d142b9985","name":"Telefone do Proponente","value":"={{ String($json[\"phone_1\"]) }}","type":"string"},{"id":"4cc91a87-8cfc-4c26-973b-1aa299a313af","name":"Setor / Departamento","value":"={{ $json.radio_1 }}","type":"string"},{"id":"1cf56af8-503b-4600-9933-b2454836fc67","name":"Possui Equipe Definida","value":"={{ $json.radio_2 }}","type":"string"},{"id":"1e51c5f6-af28-437b-b13a-b0ef806eb774","name":"Título do Projeto","value":"={{ $json.text_2 }}","type":"string"},{"id":"a357e215-bcd1-4cd1-85c2-76c662087e23","name":"Área Prioritária","value":"={{ $json.select_1 }}","type":"string"},{"id":"f36a2705-e82e-43dc-adf7-6455a102b69d","name":"Descrição Resumida","value":"={{ $json.textarea_1 }}","type":"string"},{"id":"3a438916-4f98-4f33-ae25-d3e4a3e079c4","name":"Problema que o Projeto Pretende Resolver","value":"={{ $json.textarea_2 }}","type":"string"},{"id":"eaa0f1a6-a1e8-4a09-985e-4e4a5e285b5d","name":"Objetivos e Resultados Esperados","value":"={{ $json.textarea_3 }}","type":"string"},{"id":"91bf7cd1-cc83-4b20-a67e-22e01415dfe5","name":"Alinhamento com as Prioridades do Instituto Modal","value":"={{ $json.textarea_4 }}","type":"string"},{"id":"179457de-652c-49dd-bc7d-618ba58533de","name":"Recursos Necessários","value":"={{ $json.checkbox_1 }}","type":"string"},{"id":"38cbea61-5f4d-4040-85f5-d50ea3bf4341","name":"Infraestrutura ou Equipamentos Específicos","value":"={{ $json.textarea_5 }}","type":"string"},{"id":"e608d24e-85ae-43da-9c40-62c140e0889c","name":"Viabilidade Técnica","value":"={{ $json.radio_3 }}","type":"string"},{"id":"cbdf3ce6-20cf-45a2-9ae5-09346f4f5d49","name":"Prazo Estimado","value":"={{ $json.radio_4 }}","type":"string"},{"id":"176f7775-a5c2-4772-98c7-715847cd3c80","name":"Viabilidade Financeira","value":"={{ $json.radio_5 }}","type":"string"},{"id":"717ca5f0-2d3f-411d-bad5-9a9573b20bda","name":"Fontes de Financiamento","value":"={{ $json.checkbox_2 }}","type":"string"},{"id":"6c08c6b2-3d64-4483-a9f4-e1859c2521d7","name":"Principais Riscos e Desafios","value":"={{ $json.textarea_6 }}","type":"string"},{"id":"558652d3-0658-4991-966b-b58a09c3d352","name":"Plano de Mitigação de Riscos","value":"={{ $json.textarea_7 }}","type":"string"},{"id":"f51b8db0-5d8b-4762-a8b8-a365a3debb6d","name":"Possível Geração de Propriedade Intelectual?","value":"={{ $json.radio_6 }}","type":"string"},{"id":"6ee5f7fc-25a0-4f3b-8ccb-f95c7c085b20","name":"Tipo de Propriedade Intelectual","value":"={{ $json.checkbox_3 }}","type":"string"},{"id":"3116a3d4-a8a7-4fe4-9dc2-3e1ae55e5095","name":"Existem Parceiros Externos Envolvidos?","value":"={{ $json.radio_7 }}","type":"string"},{"id":"80259bc2-5ca4-427a-9ed3-56c9aad59dcb","name":"Detalhes sobre Parceiros","value":"={{ $json.textarea_8 }}","type":"string"},{"id":"628c3362-dfc9-4e3c-92c7-8695a73407db","name":"Comentários Adicionais","value":"={{ $json.textarea_9 }}","type":"string"},{"id":"340f1c6d-bf0f-4daf-a7d8-26bf1c591ffa","name":"Documentação Complementar","value":"={{ $json.upload_1 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"ad89aa9f-66c4-4f56-a57d-a9a52606a9af","name":"Organiza Dados"},{"parameters":{"httpMethod":"POST","path":"submissao-projeto-pdi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b3d75241-f007-45cf-b8d7-ea4982652500","name":"Captura Dados do Form","webhookId":"8e4e82d3-0d88-498c-9390-9a6fa8d923ae"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[748,220],"id":"444c7c21-ffe0-4c4b-8edf-cd1f36d34462","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n8QU2pfiH24CItLv","name":"OpenAi API - Modal"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista do Instituto Modal responsável por avaliar projetos de PDI. Abaixo estão alguns dos principais aspectos da Política de PDI do Instituto Modal:\n\nÁreas Prioritárias\n- Jurídica: Desenvolvimento de plataformas inteligentes, como o RUI, para atender demandas específicas de entidades profissionais. Soluções de compliance e ferramentas de auxílio à adequação normativa.\n- Indústria: Aplicações de IA para otimização de processos produtivos, logística, manutenção preditiva e eficiência energética. Integração de IoT (Internet of Things) e automação avançada, buscando ganhos de produtividade e redução de custos.\n- Inteligência de Dados: Big Data e Analytics para processamento e análise de grandes volumes de informação, orientando decisões gerenciais e estratégicas. Modelagem preditiva e machine learning, com foco em descoberta de padrões e geração de insights em diversos cenários de negócio. Mineração de dados e visualização avançada, apoiando a compreensão de contextos complexos e a proposição de soluções de alto valor agregado.\n- Gestão: Ferramentas de planejamento e controle para aprimorar a eficiência operacional. Sistemas de apoio à governança corporativa, gestão de riscos e tomada de decisão baseada em dados.\n\nLinhas de Pesquisa e Tipos de Projetos Incentivados\n- Desenvolvimento de Modelos e Algoritmos de IA: Aprendizagem profunda (deep learning) e técnicas avançadas de machine learning, NLP (Processamento de Linguagem Natural) e visão computacional.\nSistemas especialistas e ontologias que permitam representações formais e inferências lógicas em contextos complexos.\n- Plataformas e Aplicativos de Suporte a Processos: Criação de protótipos para validação rápida de ideias (Minimum Viable Products – MVPs). Desenvolvimento de soluções escaláveis que possam ser integradas a sistemas corporativos e oferecidas como produtos comerciais.\n- Projetos de Automação e IoT: Integração de sensores e atuadores para monitorar e controlar processos industriais e logísticos. Modelagem e análise de dados oriundos de dispositivos IoT, com foco em identificação de anomalias e oportunidades de melhoria.\n- Pesquisa em Usabilidade e Design de Experiência de Usuário (UX): Criação de interfaces intuitivas para interagir com sistemas de IA, garantindo acessibilidade e engajamento de usuários.\nEstudos sobre adoção de novas tecnologias, mapeando desafios e propondo soluções que facilitem a implantação em ambientes corporativos e públicos.\n- Iniciativas de Cooperação Científica e Transferência de Tecnologia: Parcerias com universidades e centros de pesquisa para exploração de temas de fronteira em IA, ciência de dados e áreas correlatas. Projetos de transferência de tecnologia, viabilizando a aplicação prática e a absorção de inovações por parceiros externos.\n\nCritérios de Avaliação de Projetos\n- Qualidade Técnica e Científica: Rigor metodológico, originalidade da proposta, nível de inovação e adequação dos recursos tecnológicos empregados.\n- Potencial de Impacto: Relevância para a sociedade, setor produtivo e mercado. Alinhamento com o propósito do Instituto Modal de desenvolver tecnologias de inteligência artificial e outras ferramentas que transformem o mercado e gerem impacto positivo na sociedade.\n- Viabilidade Financeira: Análise detalhada dos custos estimados, fontes de financiamento e potencial de retorno financeiro. Possibilidade de atrair investimentos futuros ou gerar novas receitas.\n- Capacidade de Execução: Avaliação da experiência da equipe responsável pelo projeto. Adequação do cronograma e disponibilidade de infraestrutura.\n- Riscos Envolvidos: Identificação e análise dos riscos técnicos, financeiros, regulatórios e de imagem. Existência de planos de mitigação bem estruturados.\n\nAgora, avalie se o projeto abaixo atende aos critérios da política de PDI.\n\n**Título do Projeto**: {{$json[\"Título do Projeto\"]}}\n**Área Prioritária**: {{$json[\"Área Prioritária\"]}}\n**Descrição Resumida**: {{$json[\"Descrição Resumida\"]}}\n**Problema que o Projeto Pretende Resolver**: {{$json[\"Problema que o Projeto Pretende Resolver\"]}}\n**Objetivos e Resultados Esperados**: {{$json[\"Objetivos e Resultados Esperados\"]}}\n**Alinhamento com as Prioridades do Instituto Modal**: {{$json[\"Alinhamento com as Prioridades do Instituto Modal\"]}}\n**Detalhes sobre Possíveis Parceiros**: {{ $json['Detalhes sobre Parceiros'] }}\n**Comentários Adicionais**: {{ $json['Comentários Adicionais'] }}\n\n**Critérios de Avaliação:**\n1. O projeto está alinhado com as Áreas Prioritárias da Política de PDI do Instituto Modal?\n2. O projeto atende aos objetivos estratégicos do Instituto Modal?\n3. O projeto tem aplicabilidade real e impacto conforme as diretrizes?\n4. Existe algum ponto crítico que desqualifica o projeto?\n5. O projeto atente todos os critérios de avaliação?\n\nForneça uma análise detalhada, justificando cada resposta. Responda de maneira direta, sem introdução ou conclusão.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[660,0],"id":"7549dd82-fe02-47c7-8ac7-1cd57c8f7bc9","name":"Análise de Adequação à Política de PDI"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1036,0],"id":"ac7f954d-d621-457c-867c-b964ccf9fb1a","name":"Pausa 1","webhookId":"3f300a33-0a0e-4a7d-b39e-61beb71286f3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1344,220],"id":"feacd17d-7f7d-40dc-90fe-2c4294a846e6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"n8QU2pfiH24CItLv","name":"OpenAi API - Modal"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista em gestão de riscos. Analise os riscos do projeto e sugira estratégias para mitigá-los.\n\n**Título do Projeto**: {{ $('Organiza Dados').item.json['Título do Projeto'] }}\n**Área Prioritária**: {{ $('Organiza Dados').item.json['Área Prioritária'] }}\n**Descrição Resumida**: {{ $('Organiza Dados').item.json['Descrição Resumida'] }}\n**Infraestrutura ou Equipamentos Específicos**: {{ $('Organiza Dados').item.json['Recursos Necessários'] }}; {{ $('Organiza Dados').item.json['Infraestrutura ou Equipamentos Específicos'] }}\n**Viabilidade Técnica**: {{ $('Organiza Dados').item.json['Viabilidade Técnica'] }}\n**Principais Riscos e Desafios (informados pelo proponente)**: {{ $('Organiza Dados').item.json['Principais Riscos e Desafios'] }}\n**Plano de Mitigação de Riscos**: {{ $('Organiza Dados').item.json['Plano de Mitigação de Riscos'] }}\n\n**Critérios de Avaliação:**\n1. Existem riscos adicionais que não foram mencionados pelo proponente?\n2. O projeto apresenta riscos técnicos, financeiros ou operacionais significativos?\n3. Como esses riscos podem ser mitigados?\n\nForneça um relatório detalhado, destacando pontos críticos e estratégias para redução de riscos. Responda de maneira direta, sem introdução ou conclusão.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1256,0],"id":"0925dad2-56bc-4407-9988-c5dd7d2d940d","name":"Avaliação de Riscos do Projeto"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2536,220],"id":"aae565f2-aea4-4271-95f6-f327a20ee4f2","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"n8QU2pfiH24CItLv","name":"OpenAi API - Modal"}}},{"parameters":{"promptType":"define","text":"=Você é um avaliador técnico responsável por gerar um parecer final sobre projetos submetidos ao Instituto Modal. Com base na análise de adequação à Política de PDI, na avaliação de riscos e na estimativa de custo, atribua uma nota ao projeto e justifique sua decisão. Abaixo estão alguns dos principais aspectos da Política de PDI do Instituto Modal:\n\nÁreas Prioritárias\n- Jurídica: Desenvolvimento de plataformas inteligentes, como o RUI, para atender demandas específicas de entidades profissionais. Soluções de compliance e ferramentas de auxílio à adequação normativa.\n- Indústria: Aplicações de IA para otimização de processos produtivos, logística, manutenção preditiva e eficiência energética. Integração de IoT (Internet of Things) e automação avançada, buscando ganhos de produtividade e redução de custos.\n- Inteligência de Dados: Big Data e Analytics para processamento e análise de grandes volumes de informação, orientando decisões gerenciais e estratégicas. Modelagem preditiva e machine learning, com foco em descoberta de padrões e geração de insights em diversos cenários de negócio. Mineração de dados e visualização avançada, apoiando a compreensão de contextos complexos e a proposição de soluções de alto valor agregado.\n- Gestão: Ferramentas de planejamento e controle para aprimorar a eficiência operacional. Sistemas de apoio à governança corporativa, gestão de riscos e tomada de decisão baseada em dados.\n\nLinhas de Pesquisa e Tipos de Projetos Incentivados\n- Desenvolvimento de Modelos e Algoritmos de IA: Aprendizagem profunda (deep learning) e técnicas avançadas de machine learning, NLP (Processamento de Linguagem Natural) e visão computacional.\nSistemas especialistas e ontologias que permitam representações formais e inferências lógicas em contextos complexos.\n- Plataformas e Aplicativos de Suporte a Processos: Criação de protótipos para validação rápida de ideias (Minimum Viable Products – MVPs). Desenvolvimento de soluções escaláveis que possam ser integradas a sistemas corporativos e oferecidas como produtos comerciais.\n- Projetos de Automação e IoT: Integração de sensores e atuadores para monitorar e controlar processos industriais e logísticos. Modelagem e análise de dados oriundos de dispositivos IoT, com foco em identificação de anomalias e oportunidades de melhoria.\n- Pesquisa em Usabilidade e Design de Experiência de Usuário (UX): Criação de interfaces intuitivas para interagir com sistemas de IA, garantindo acessibilidade e engajamento de usuários.\nEstudos sobre adoção de novas tecnologias, mapeando desafios e propondo soluções que facilitem a implantação em ambientes corporativos e públicos.\n- Iniciativas de Cooperação Científica e Transferência de Tecnologia: Parcerias com universidades e centros de pesquisa para exploração de temas de fronteira em IA, ciência de dados e áreas correlatas. Projetos de transferência de tecnologia, viabilizando a aplicação prática e a absorção de inovações por parceiros externos.\n\nCritérios de Avaliação de Projetos\n- Qualidade Técnica e Científica: Rigor metodológico, originalidade da proposta, nível de inovação e adequação dos recursos tecnológicos empregados.\n- Potencial de Impacto: Relevância para a sociedade, setor produtivo e mercado. Alinhamento com o propósito do Instituto Modal de desenvolver tecnologias de inteligência artificial e outras ferramentas que transformem o mercado e gerem impacto positivo na sociedade.\n- Viabilidade Financeira: Análise detalhada dos custos estimados, fontes de financiamento e potencial de retorno financeiro. Possibilidade de atrair investimentos futuros ou gerar novas receitas.\n- Capacidade de Execução: Avaliação da experiência da equipe responsável pelo projeto. Adequação do cronograma e disponibilidade de infraestrutura.\n- Riscos Envolvidos: Identificação e análise dos riscos técnicos, financeiros, regulatórios e de imagem. Existência de planos de mitigação bem estruturados.\n\n**Título do Projeto**: {{ $('Organiza Dados').item.json['Título do Projeto'] }}\n**Área Prioritária**: {{ $('Organiza Dados').item.json['Área Prioritária'] }}\n**Descrição Resumida**: {{ $('Organiza Dados').item.json['Descrição Resumida'] }}\n**Análise de Adequação à Política de PDI**: {{ $('Análise de Adequação à Política de PDI').item.json.output }}\n**Avaliação de Riscos**: {{ $('Avaliação de Riscos do Projeto').item.json.output }}\n**Estimativa de Custos**: {{ $('Estimativa de Custo').item.json.output }}\n\n**Critérios de Avaliação e Pontuação:**\n- 0-3: O projeto não atende aos requisitos mínimos e apresenta riscos inaceitáveis.\n- 4-6: O projeto atende parcialmente aos requisitos, mas há riscos significativos.\n- 7-8: O projeto atende bem aos critérios, mas tem pontos a melhorar.\n- 9-10: O projeto é altamente alinhado com a Política de PDI e apresenta baixo risco.\n\n**Critérios de Avaliação do Custo do Projeto:**\n- 0-3: custo acima de R$ 100.000,01.\n- 4-6: custo entre R$ 50.000,01 e R$ 100.000,00.\n- 7-8: custo entre R$ 25.000,01 e R$ 50.000,00.\n- 9-10: custo até R$ 25.000,00.\nO resultado deve ser um número inteiro entre 0 e 10.\n\n**Resposta esperada:**\n1. Parecer final detalhado sobre o projeto.\n2. Justificativa para a nota atribuída.\n3. Nota final (0-10).\n4. Score de custo de projeto (0-10).\n\nResponda apenas no formato solicitado, sem introdução e sem conclusão.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2448,0],"id":"53385027-8e8b-4529-b99f-9dc092f1ebfb","name":"Geração do Parecer Final e Pontuação"},{"parameters":{"assignments":{"assignments":[{"id":"ba1f01c3-fb66-47b2-a115-b42ad4d70cc9","name":"Parecer Final","value":"={{ $json[\"Parecer Final\"] }}","type":"string"},{"id":"74b478ff-7936-444b-a4c5-2c275e303030","name":"Avaliação de Riscos","value":"={{ $json[\"Avaliação de Riscos\"] }}","type":"string"},{"id":"c2885ba6-df54-4862-aca8-b68165c03a67","name":"Alinhamento à Política de PDI","value":"={{ $json[\"Alinhamento à Política de PDI\"] }}","type":"string"},{"id":"01122d65-c826-404b-9a3e-bbd835421cea","name":"Estimativa de Custo","value":"={{ $json[\"Estimativa de Custo\"] }}","type":"string"},{"id":"4a02bc55-fca6-4e25-aa25-d69f16b3195a","name":"Nota","value":"={{ $json.Nota }}","type":"number"},{"id":"29a74d77-b3d3-4194-956b-317801ef277e","name":"Score de Custo do Projeto","value":"={{ $json[\"Score de Custo\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3044,0],"id":"e84d9553-4450-4440-9829-b2712addfd8e","name":"Renomeia Outputs de IA"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FwTGW7vRhG72l6mMuywIxBypfbCDzFe6XFzc04zDn-4","mode":"list","cachedResultName":"Projetos de PDI Enviados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwTGW7vRhG72l6mMuywIxBypfbCDzFe6XFzc04zDn-4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Propostas Enviadas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwTGW7vRhG72l6mMuywIxBypfbCDzFe6XFzc04zDn-4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"project_id":"={{ $('Organiza Dados').item.json.id_projeto }}","Data de Envio":"={{ $('Organiza Dados').item.json[\"Data de Envio\"] }}","Nome do Proponente":"={{ $('Organiza Dados').item.json[\"Nome do Proponente\"] }}","E-mail do Proponente":"={{ $('Organiza Dados').item.json[\"E-mail do Proponente\"] }}","Telefone do Proponente":"='{{ $('Organiza Dados').item.json[\"Telefone do Proponente\"] }}","Setor / Departamento":"={{ $('Organiza Dados').item.json[\"Setor / Departamento\"] }}","Possui Equipe Definida?":"={{ $('Organiza Dados').item.json[\"Possui Equipe Definida\"] }}","Título do Projeto":"={{ $('Organiza Dados').item.json[\"Título do Projeto\"] }}","Área Prioritária":"={{ $('Organiza Dados').item.json[\"Área Prioritária\"] }}","Descrição Resumida":"={{ $('Organiza Dados').item.json[\"Descrição Resumida\"] }}","Problema que o Projeto Pretende Resolver":"={{ $('Organiza Dados').item.json[\"Problema que o Projeto Pretende Resolver\"] }}","Objetivos e Resultados Esperados":"={{ $('Organiza Dados').item.json[\"Objetivos e Resultados Esperados\"] }}","Alinhamento com as Prioridades do Instituto Modal":"={{ $('Organiza Dados').item.json[\"Alinhamento com as Prioridades do Instituto Modal\"] }}","Recursos Necessários":"={{ $('Organiza Dados').item.json[\"Recursos Necessários\"] }}","Infraestrutura ou Equipamentos Específicos":"={{ $('Organiza Dados').item.json[\"Infraestrutura ou Equipamentos Específicos\"] }}","Viabilidade Técnica":"={{ $('Organiza Dados').item.json[\"Viabilidade Técnica\"] }}","Prazo Estimado":"={{ $('Organiza Dados').item.json[\"Prazo Estimado\"] }}","Viabilidade Financeira":"={{ $('Organiza Dados').item.json[\"Viabilidade Financeira\"] }}","Fontes de Financiamento":"={{ $('Organiza Dados').item.json[\"Fontes de Financiamento\"] }}","Principais Riscos e Desafios":"={{ $('Organiza Dados').item.json[\"Principais Riscos e Desafios\"] }}","Plano de Mitigação de Riscos":"={{ $('Organiza Dados').item.json[\"Plano de Mitigação de Riscos\"] }}","Possível Geração de Propriedade Intelectual":"={{ $('Organiza Dados').item.json[\"Possível Geração de Propriedade Intelectual?\"] }}","Tipos de Propriedade Intelectual":"={{ $('Organiza Dados').item.json[\"Tipo de Propriedade Intelectual\"] }}","Existem Parceiros Externos Envolvidos?":"={{ $('Organiza Dados').item.json[\"Existem Parceiros Externos Envolvidos?\"] }}","Detalhes sobre Parceiros":"={{ $('Organiza Dados').item.json[\"Detalhes sobre Parceiros\"] }}","Comentários Adicionais":"={{ $('Organiza Dados').item.json[\"Comentários Adicionais\"] }}","Documentação Complementar":"={{ $('Organiza Dados').item.json[\"Documentação Complementar\"] }}","Alinhamento à Política de PDI por IA":"={{ $json[\"Alinhamento à Política de PDI\"] }}","Avaliação de Riscos por IA":"={{ $json[\"Avaliação de Riscos\"] }}","Parecer Final por IA":"={{ $json[\"Parecer Final\"] }}","Nota do Projeto":"={{ $json.Nota }}","Estimativa de Custo por IA":"={{ $json[\"Estimativa de Custo\"] }}","Score de Custo do Projeto por IA":"={{ $json[\"Score de Custo do Projeto\"] }}"},"matchingColumns":["project_id"],"schema":[{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Envio","displayName":"Data de Envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Proponente","displayName":"Nome do Proponente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail do Proponente","displayName":"E-mail do Proponente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone do Proponente","displayName":"Telefone do Proponente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Setor / Departamento","displayName":"Setor / Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Possui Equipe Definida?","displayName":"Possui Equipe Definida?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Título do Projeto","displayName":"Título do Projeto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Área Prioritária","displayName":"Área Prioritária","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descrição Resumida","displayName":"Descrição Resumida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Problema que o Projeto Pretende Resolver","displayName":"Problema que o Projeto Pretende Resolver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Objetivos e Resultados Esperados","displayName":"Objetivos e Resultados Esperados","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Alinhamento com as Prioridades do Instituto Modal","displayName":"Alinhamento com as Prioridades do Instituto Modal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Recursos Necessários","displayName":"Recursos Necessários","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Infraestrutura ou Equipamentos Específicos","displayName":"Infraestrutura ou Equipamentos Específicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Viabilidade Técnica","displayName":"Viabilidade Técnica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prazo Estimado","displayName":"Prazo Estimado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Viabilidade Financeira","displayName":"Viabilidade Financeira","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fontes de Financiamento","displayName":"Fontes de Financiamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Principais Riscos e Desafios","displayName":"Principais Riscos e Desafios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Plano de Mitigação de Riscos","displayName":"Plano de Mitigação de Riscos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Possível Geração de Propriedade Intelectual","displayName":"Possível Geração de Propriedade Intelectual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipos de Propriedade Intelectual","displayName":"Tipos de Propriedade Intelectual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Existem Parceiros Externos Envolvidos?","displayName":"Existem Parceiros Externos Envolvidos?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Detalhes sobre Parceiros","displayName":"Detalhes sobre Parceiros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comentários Adicionais","displayName":"Comentários Adicionais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Documentação Complementar","displayName":"Documentação Complementar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Alinhamento à Política de PDI por IA","displayName":"Alinhamento à Política de PDI por IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Avaliação de Riscos por IA","displayName":"Avaliação de Riscos por IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estimativa de Custo por IA","displayName":"Estimativa de Custo por IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Score de Custo do Projeto por IA","displayName":"Score de Custo do Projeto por IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Parecer Final por IA","displayName":"Parecer Final por IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nota do Projeto","displayName":"Nota do Projeto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3264,-100],"id":"936670a1-e157-40dc-90f9-e52c2536ac10","name":"Persiste Dados no Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"1hGtvvCxpfoty8PE","name":"Google Sheets - admin@modal.org.br"}}},{"parameters":{"jsCode":"// Função para limpar a formatação Markdown básica\nfunction cleanMarkdown(text) {\n  if (!text || typeof text !== \"string\") return \"\";\n  return text\n    .replace(/\\*\\*(.*?)\\*\\*/g, \"$1\")    // Remove **negrito**\n    .replace(/\\*(.*?)\\*/g, \"$1\")          // Remove *itálico*\n    .replace(/###\\s*(.*)/g, \"\\n$1\")       // Ajusta títulos nível 3\n    .replace(/##\\s*(.*)/g, \"\\n$1\")        // Ajusta títulos nível 2\n    .replace(/#\\s*(.*)/g, \"\\n$1\")         // Ajusta títulos nível 1\n    .trim();\n}\n\n// Função que converte o texto (com quebras de linha) em HTML,\n// identificando itens de lista e seus subitens por meio da indentação.\n// Linhas que não forem itens de lista são encapsuladas em parágrafos.\nfunction convertMarkdownListsToHtmlNested(text) {\n  const lines = text.split(/\\r?\\n/);\n  let result = \"\";\n  // Stack para controlar os níveis aninhados; cada item: { indent: number, type: \"ul\" ou \"ol\" }\n  const stack = [];\n\n  // Função auxiliar para fechar listas abertas até um determinado nível\n  const closeListsUntil = (targetIndent) => {\n    while (stack.length > 0 && stack[stack.length - 1].indent > targetIndent) {\n      const popped = stack.pop();\n      result += `</${popped.type}>\\n`;\n    }\n  };\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    if (line.trim() === \"\") {\n      // Linha em branco: fecha quaisquer listas abertas e insere uma quebra\n      closeListsUntil(0);\n      result += \"\\n\";\n      continue;\n    }\n    \n    // Verifica se a linha é um item de lista não ordenada (usa \"-\" ou \"•\")\n    const unorderedMatch = line.match(/^(\\s*)[-•]\\s+(.*)/);\n    // Verifica se a linha é um item de lista ordenada (usa dígito seguido de \".\")\n    const orderedMatch = line.match(/^(\\s*)(\\d+)\\.\\s+(.*)/);\n\n    // Se for um item e o conteúdo (após o marcador) estiver vazio, ignora-o\n    if (unorderedMatch && unorderedMatch[2].trim() === \"\") continue;\n    if (orderedMatch && orderedMatch[3].trim() === \"\") continue;\n\n    if (unorderedMatch || orderedMatch) {\n      // Define dados comuns\n      let indent, content, listType;\n      if (unorderedMatch) {\n        indent = unorderedMatch[1].length;\n        content = unorderedMatch[2];\n        listType = \"ul\";\n      } else {\n        indent = orderedMatch[1].length;\n        content = orderedMatch[3];\n        listType = \"ol\";\n      }\n      \n      // Se a pilha estiver vazia, inicia uma nova lista\n      if (stack.length === 0) {\n        result += `<${listType}>\\n`;\n        stack.push({ indent, type: listType });\n      } else {\n        const currentLevel = stack[stack.length - 1];\n        if (indent > currentLevel.indent) {\n          // Nível mais profundo: inicia uma nova lista aninhada\n          result += `<${listType}>\\n`;\n          stack.push({ indent, type: listType });\n        } else if (indent < currentLevel.indent) {\n          // Volta para um nível superior: fecha as listas enquanto o nível for maior que o atual\n          closeListsUntil(indent);\n          // Se o tipo de lista for diferente do nível atual (ou se a pilha ficou vazia), inicia uma nova lista\n          if (stack.length === 0 || stack[stack.length - 1].type !== listType) {\n            result += `<${listType}>\\n`;\n            stack.push({ indent, type: listType });\n          }\n        } else {\n          // Mesmo nível: se o tipo de lista mudar, fecha a anterior e abre a nova\n          if (currentLevel.type !== listType) {\n            stack.pop();\n            result += `</${currentLevel.type}>\\n`;\n            result += `<${listType}>\\n`;\n            stack.push({ indent, type: listType });\n          }\n          // Caso contrário, permanece no mesmo nível\n        }\n      }\n      // Adiciona o item da lista\n      result += `<li>${content}</li>\\n`;\n    } else {\n      // Linha que não é item de lista:\n      // Fecha quaisquer listas em aberto antes de inserir um parágrafo\n      closeListsUntil(0);\n      result += `<p>${line.trim()}</p>\\n`;\n    }\n  }\n  \n  // Fecha todas as listas que ainda estiverem abertas\n  closeListsUntil(0);\n  return result;\n}\n\n// --- Captura os textos dos nós de IA ---\nconst parecerCompletoRaw = $('Geração do Parecer Final e Pontuação').first().json.output || \"\";\nconst estimativaCustoRaw = $('Estimativa de Custo').first().json.output || \"\";\nconst avaliacaoRiscosRaw = $('Avaliação de Riscos do Projeto').first().json.output || \"\";\nconst alinhamentoPDIRaw = $('Análise de Adequação à Política de PDI').first().json.output || \"\";\n\n// Aplica a limpeza do Markdown em cada texto\nconst parecerCompleto = cleanMarkdown(parecerCompletoRaw);\nconst estimativaCusto   = cleanMarkdown(estimativaCustoRaw);\nconst avaliacaoRiscos   = cleanMarkdown(avaliacaoRiscosRaw);\nconst alinhamentoPDI    = cleanMarkdown(alinhamentoPDIRaw);\n\n// --- Extração da Nota Final ---\n// Procura por \"Nota Final\", \"Nota final (0-10)\" ou \"Nota\" seguido de um valor numérico\nconst notaRegex = /(?:Nota Final|Nota final|Nota final \\(0-10\\)|Nota)\\s*[:\\-]?\\s*(\\d+)/i;\nconst notaMatch = parecerCompleto.match(notaRegex);\nconst notaFinal = notaMatch ? parseInt(notaMatch[1]) : null;\n// Remove a parte referente à nota para evitar duplicidade\nconst parecerSemNota = parecerCompleto.replace(notaRegex, \"\").trim();\n\n// --- Extração do Score de Custo ---\n// Regex que captura variações como \"Score de Custo\", \"Score de Custo do Projeto\" ou \"Score de custo (0-10):\"\nconst scoreCustoRegex = /Score de Custo(?: do| de)?(?: Projeto)?\\s*\\(0-10\\)\\s*[:\\-]?\\s*(\\d+)/i;\nlet scoreCustoMatch = \n  parecerCompleto.match(scoreCustoRegex) ||\n  estimativaCusto.match(scoreCustoRegex) ||\n  avaliacaoRiscos.match(scoreCustoRegex) ||\n  alinhamentoPDI.match(scoreCustoRegex);\nconst scoreCusto = scoreCustoMatch ? parseInt(scoreCustoMatch[1]) : null;\n// Remove a parte referente ao score dos textos\nconst parecerSemScore = parecerSemNota.replace(scoreCustoRegex, \"\").trim();\nconst estimativaCustoSemScore = estimativaCusto.replace(scoreCustoRegex, \"\").trim();\n\n// --- Limpeza adicional: remove linhas que contenham apenas numeração (por exemplo, \"3.\" ou \"4.\") ---\nconst parecerSemScoreClean = parecerSemScore.replace(/^\\s*\\d+\\.\\s*$/gm, \"\").trim();\nconst estimativaCustoClean = estimativaCustoSemScore.replace(/^\\s*\\d+\\.\\s*$/gm, \"\").trim();\n\n// --- Converte os textos limpos para HTML com marcação de listas aninhadas ---\nconst alinhamentoPDI_html = convertMarkdownListsToHtmlNested(alinhamentoPDI || \"Análise de alinhamento não encontrada.\");\nconst avaliacaoRiscos_html = convertMarkdownListsToHtmlNested(avaliacaoRiscos || \"Avaliação de riscos não encontrada.\");\nconst estimativaCusto_html = convertMarkdownListsToHtmlNested(estimativaCustoClean || \"Estimativa de custo não encontrada.\");\nconst parecerFinal_html    = convertMarkdownListsToHtmlNested(parecerSemScoreClean || \"Parecer não encontrado.\");\n\n// --- Retorna os valores organizados em variáveis separadas ---\nreturn [{\n    json: {\n        \"Alinhamento à Política de PDI\": alinhamentoPDI_html,\n        \"Avaliação de Riscos\": avaliacaoRiscos_html,\n        \"Estimativa de Custo\": estimativaCusto_html,\n        \"Parecer Final\": parecerFinal_html,\n        \"Nota\": notaFinal !== null ? notaFinal : \"Nota não encontrada.\",\n        \"Score de Custo\": scoreCusto !== null ? scoreCusto : \"Score de custo não encontrado.\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2824,0],"id":"5f009382-2fa7-483f-9e0c-288e6cc7c5e8","name":"Limpa markdown dos nós de IA"},{"parameters":{"sendTo":"pdi@modal.org.br","subject":"=Avaliação de Projeto PDI - {{ $('Organiza Dados').item.json[\"Título do Projeto\"] }}","message":"=<!DOCTYPE html>\n<html lang=\"pt\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        h1, h2, h3, h4, h5, h6 {\n            font-family: Ubuntu, Lato, Roboto, sans-serif;\n            font-weight: regular;\n            color: #00004d;\n        }\n\n        body {\n            font-family: Lato, Roboto, sans-serif;\n            font-size: 12pt;\n        }\n\n        a {\n            color: #ff9900;\n        }\n\n        .container {\n            max-width: 700px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n\n        .header {\n            text-align: center;\n            margin-bottom: 20px;\n        }\n\n        .section {\n            padding: 10px 0;\n        }\n\n        .highlight {\n            font-weight: bold;\n            color: #00004d;\n        }\n\n        .footer {\n            margin-top: 20px;\n            font-size: 10pt;\n            text-align: center;\n            color: #666;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Logo -->\n        <div class=\"header\">\n            <a href=\"https://www.modal.org.br/\" target=\"_blank\">\n                <img src=\"https://www.modal.org.br/wp-content/uploads/2025/01/modal_logo_completa_protegida.png\" width=\"250\">\n            </a>\n        </div>\n\n        <!-- Título -->\n        <h2>Avaliação de Projeto de PDI</h2>\n\n        <!-- Informações do Projeto -->\n        <div class=\"section\">\n            <p><span class=\"highlight\">Título do Projeto:</span> {{ $('Organiza Dados').item.json['Título do Projeto'] }}</p>\n            <p><span class=\"highlight\">Proponente:</span> {{ $('Organiza Dados').item.json['Nome do Proponente'] }}</p>\n            <p><span class=\"highlight\">E-mail:</span> {{ $('Organiza Dados').item.json['E-mail do Proponente'] }}</p>\n            <p><span class=\"highlight\">Telefone:</span> {{ $('Organiza Dados').item.json['Telefone do Proponente'] }}</p>\n            <p><span class=\"highlight\">Área Prioritária:</span> {{ $('Organiza Dados').item.json['Área Prioritária'] }}</p>\n            <p><span class=\"highlight\">Descrição Resumida:</span> {{ $('Organiza Dados').item.json['Descrição Resumida'] }}</p>\n            <p><span class=\"highlight\">Problema que o Projeto se Propõe a Resolver:</span> {{ $('Organiza Dados').item.json['Problema que o Projeto Pretende Resolver'] }}</p>\n            <p><span class=\"highlight\">Objetivos e Resultados Esperados:</span> {{ $('Organiza Dados').item.json['Objetivos e Resultados Esperados'] }}</p>\n            <p><span class=\"highlight\">Alinhamento com as Prioidades do Instituto Modal:</span> {{ $('Organiza Dados').item.json['Alinhamento com as Prioridades do Instituto Modal'] }}</p>\n\n            <p><span class=\"highlight\">Recursos Necessários:</span> {{ $('Organiza Dados').item.json['Recursos Necessários'] }}; {{ $('Organiza Dados').item.json['Infraestrutura ou Equipamentos Específicos'] }}</p>\n            <p><span class=\"highlight\">Viabilidade Técnica:</span> {{ $('Organiza Dados').item.json['Viabilidade Técnica'] }}</p>\n            <p><span class=\"highlight\">Prazo Estimado:</span> {{ $('Organiza Dados').item.json['Prazo Estimado'] }}</p>\n            <p><span class=\"highlight\">Viabilidade Financeira:</span> {{ $('Organiza Dados').item.json['Viabilidade Financeira'] }}</p>\n            <p><span class=\"highlight\">Fontes de Financiamento:</span> {{ $('Organiza Dados').item.json['Fontes de Financiamento'] }}</p>\n            <p><span class=\"highlight\">Principais Riscos:</span> {{ $('Organiza Dados').item.json['Principais Riscos e Desafios'] }}</p>\n            <p><span class=\"highlight\">Plano de Mitigação de Riscos:</span> {{ $('Organiza Dados').item.json['Plano de Mitigação de Riscos'] }}</p>\n            <p><span class=\"highlight\">Possível Geração de Propriedade Intelectual:</span> {{ $('Organiza Dados').item.json['Possível Geração de Propriedade Intelectual?'] }}</p>\n            <p><span class=\"highlight\">Tipo(s) de Propriedade Intelectual:</span> {{ $('Organiza Dados').item.json['Tipo de Propriedade Intelectual'] }}</p>\n            <p><span class=\"highlight\">Existem Parceiros Externos?</span> {{ $('Organiza Dados').item.json['Existem Parceiros Externos Envolvidos?'] }}</p>\n            <p><span class=\"highlight\">Detalhes sobre Parceiros Externos:</span> {{ $('Organiza Dados').item.json['Detalhes sobre Parceiros'] }}</p>\n            <p><span class=\"highlight\">Comentários Adicionais:</span> {{ $('Organiza Dados').item.json['Comentários Adicionais'] }}</p>\n            <p><span class=\"highlight\">Documentação Complementar:</span> <a href=\"{{ $('Organiza Dados').item.json['Documentação Complementar'] }}\" target=\"_blank\">{{ $('Organiza Dados').item.json['Documentação Complementar'] }}</a></p>\n\n        </div>\n\n        <!-- Avaliação -->\n        <h3>Avaliação do Projeto por IA</h3>\n        <div class=\"section\">\n            <p><span class=\"highlight\">Alinhamento à Política de PDI:</span></p>\n            <p>{{$json[\"Alinhamento à Política de PDI\"]}}</p>\n        </div>\n\n        <div class=\"section\">\n            <p><span class=\"highlight\">Avaliação de Riscos:</span></p>\n            <p>{{$json[\"Avaliação de Riscos\"]}}</p>\n        </div>\n\n        <div class=\"section\">\n            <p><span class=\"highlight\">Estimativa de Custo:</span></p>\n            <p>{{ $json['Estimativa de Custo'] }}</p>\n        </div>\n\n        <div class=\"section\">\n            <p><span class=\"highlight\">Parecer Final:</span></p>\n            <p>{{$json[\"Parecer Final\"]}}</p>\n        </div>\n\n        <div class=\"section\">\n            <p><span class=\"highlight\">Nota Final:</span> <strong>{{$json[\"Nota\"]}}</strong></p>\n            <p><span class=\"highlight\">Score de Custo do Projeto (quanto maior, mais viável financeiramente):</span> <strong>{{ $json['Score de Custo do Projeto'] }}</strong></p>\n        </div>\n\n        <!-- Rodapé -->\n        <div class=\"footer\">\n            <p>Este e-mail foi gerado automaticamente pelo sistema de avaliação de PDI do Instituto Modal.</p>\n            <p>Para mais informações, acesse <a href=\"https://www.modal.org.br/\">nosso site</a>.</p>\n        </div>\n    </div>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3264,100],"id":"25cfe3ed-e6b3-4f26-b467-447d818650d9","name":"Envia e-mail com todos os dados do projeto","webhookId":"590889b3-4708-425b-937b-5688c58a1dc6","credentials":{"gmailOAuth2":{"id":"XBoCUhna8dNyfU7G","name":"Gmail admin@modal.org.br"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1940,220],"id":"0b2da180-32ab-4a3e-a247-2573c0064abe","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"n8QU2pfiH24CItLv","name":"OpenAi API - Modal"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista em gestão de projetos e orçamentos. Sua tarefa é analisar os recursos informados para um projeto de PDI e estimar um custo aproximado para sua execução.\n\n**Importante:**\n- **Considere apenas os custos necessários para desenvolver o projeto até a fase de Minimum Viable Product (MVP).**\n- **Ignore completamente custos comerciais, administrativos, de marketing e operacionais.**\n- **Não inclua custos com a equipe de desenvolvimento, pois já temos profissionais disponíveis para backend, frontend, banco de dados e inteligência artificial.**\n- **Não inclua custos com infraestrutura em nuvem, ambiente de desenvolvimento ou licenças de software para backend/frontend, pois já possuímos todos esses recursos.**\n- **Se um recurso não for essencial para o desenvolvimento do MVP, ignore-o na estimativa de custo.**\n\n**Título do Projeto:** {{ $('Organiza Dados').item.json['Título do Projeto'] }}\n**Área Prioritária:** {{ $('Organiza Dados').item.json['Área Prioritária'] }}\n**Descrição Resumida:** {{ $('Organiza Dados').item.json['Descrição Resumida'] }}\n**Prazo Estimado de Execução:** {{ $('Organiza Dados').item.json['Prazo Estimado'] }}\n**Recursos Necessários:** {{ $('Organiza Dados').item.json['Recursos Necessários'] }}\n**Infraestrutura ou Equipamentos Específicos:** {{ $('Organiza Dados').item.json['Infraestrutura ou Equipamentos Específicos'] }}\n\n### **O que você deve fazer**\n1. **Revise os recursos informados pelo proponente e verifique se são necessários para o MVP.**\n2. **Se faltar algum recurso essencial para o desenvolvimento do MVP, adicione-o na seção \"Recursos adicionais necessários\".**\n3. **Para cada recurso necessário, estime um custo médio baseado no mercado atual, considerando apenas o essencial para o MVP.**\n4. **Se houver recursos listados que já possuímos, ignore-os na estimativa de custo.**\n5. **Forneça uma faixa de valor estimado, considerando um custo mínimo e um custo máximo, levando em consideração também o prazo estimado para o projeto.**\n6. **Se o projeto puder ser desenvolvido sem custos adicionais significativos, deixe claro na resposta.**\n### **Formato de resposta esperado** - Siga esse formato para garantir uma resposta estruturada e objetiva, sem introduções, conclusões ou explicações adicionais:\n- **Recursos informados pelo proponente:** [Lista de recursos mencionados pelo proponente]\n- **Recursos adicionais necessários:** [Lista de recursos adicionais que você identificou]\n- **Recursos que já possuímos (não incluídos no custo):** [Lista dos itens ignorados por já estarem disponíveis]\n- **Estimativa de custo por item:** [Item - Custo estimado]\n- **Faixa de custo total:** R$ [Valor mínimo] - R$ [Valor máximo]","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1852,0],"id":"d549d0c5-8079-491a-ad5b-5152184009af","name":"Estimativa de Custo"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2228,0],"id":"2717e665-fb21-463f-ba12-32d5c4d0abbc","name":"Pausa  3","webhookId":"3f300a33-0a0e-4a7d-b39e-61beb71286f3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1632,0],"id":"3241973d-4fc2-4016-8206-686aa2312908","name":"Pausa 2","webhookId":"3f300a33-0a0e-4a7d-b39e-61beb71286f3"}],"connections":{"Gera id_projeto":{"main":[[{"node":"Organiza Dados","type":"main","index":0}]]},"Captura Dados do Form":{"main":[[{"node":"Gera id_projeto","type":"main","index":0}]]},"Organiza Dados":{"main":[[{"node":"Análise de Adequação à Política de PDI","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Análise de Adequação à Política de PDI","type":"ai_languageModel","index":0}]]},"Análise de Adequação à Política de PDI":{"main":[[{"node":"Pausa 1","type":"main","index":0}]]},"Pausa 1":{"main":[[{"node":"Avaliação de Riscos do Projeto","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Avaliação de Riscos do Projeto","type":"ai_languageModel","index":0}]]},"Avaliação de Riscos do Projeto":{"main":[[{"node":"Pausa 2","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Geração do Parecer Final e Pontuação","type":"ai_languageModel","index":0}]]},"Geração do Parecer Final e Pontuação":{"main":[[{"node":"Limpa markdown dos nós de IA","type":"main","index":0}]]},"Renomeia Outputs de IA":{"main":[[{"node":"Persiste Dados no Google Sheets","type":"main","index":0},{"node":"Envia e-mail com todos os dados do projeto","type":"main","index":0}]]},"Limpa markdown dos nós de IA":{"main":[[{"node":"Renomeia Outputs de IA","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Estimativa de Custo","type":"ai_languageModel","index":0}]]},"Estimativa de Custo":{"main":[[{"node":"Pausa  3","type":"main","index":0}]]},"Pausa  3":{"main":[[{"node":"Geração do Parecer Final e Pontuação","type":"main","index":0}]]},"Pausa 2":{"main":[[{"node":"Estimativa de Custo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Captura Dados do Form":[{"json":{"headers":{"connection":"close","host":"n8n.modal.org.br","x-forwarded-scheme":"https","x-forwarded-proto":"https","x-forwarded-for":"189.50.84.194","x-real-ip":"189.50.84.194","content-length":"10220","user-agent":"WordPress/6.7.1; https://www.modal.org.br ForminatorWebhook/1.0","accept-encoding":"deflate, gzip, br, zstd","accept":"application/json","content-type":"application/json"},"params":{},"query":{},"body":{"name_1":"Bruno Souza","email_1":"bruno.souza@modal.org.br","phone_1":"+55 61 99278-0605","radio_1":"PDI","radio_2":"Sim","name_2":"Alecsander Sena","text_1":"Implementação","text_2":"PowerHire","select_1":"Gestão","textarea_1":"PowerHire é um agente de IA para triagem inteligente de currículos, auxiliando empresas na seleção de talentos. O sistema permite que recrutadores definam critérios de contratação e requisitos desejáveis, e automatiza a avaliação dos candidatos com base nesses parâmetros. Cada candidatura é analisada, pontuada e comparada com o perfil da vaga, gerando um ranking dos melhores candidatos. O PowerHire também pode fornecer feedback aos candidatos, agendar entrevistas e gerar perfis psicológicos com base nas informações disponíveis. Com foco em transparência, a IA justifica suas avaliações e mitiga vieses algorítmicos. Além disso, permite ajustes nos pesos dos critérios e sugere candidatos para outras vagas dentro da empresa. O sistema pode ainda analisar redes sociais (com consentimento) para complementar a avaliação.","textarea_2":"O PowerHire resolve o grande desafio da triagem de currículos em processos seletivos de alta demanda. No último ano, por exemplo, recebemos quase 1000 candidaturas para uma única vaga, tornando a seleção manual extremamente demorada e suscetível a erros. Recrutadores perdem tempo analisando perfis inadequados e podem deixar passar talentos por excesso de informações. Além disso, a subjetividade na avaliação pode gerar inconsistências e vieses. O PowerHire automatiza essa triagem, comparando cada candidato com os critérios definidos, atribuindo pontuações e gerando análises detalhadas. Isso reduz o tempo gasto na seleção, melhora a qualidade das contratações e permite que o RH foque no que realmente importa: escolher os melhores talentos com base em dados concretos e insights precisos.","textarea_3":"Os principais resultados esperados com o PowerHire são: redução do tempo de triagem em processos seletivos, garantindo que recrutadores foquem nos melhores candidatos desde o início; aumento da precisão na seleção, com análises objetivas e justificadas pela IA, reduzindo erros e viéses; melhoria na experiência do candidato, com feedbacks automatizados e direcionamento para outras vagas quando aplicável; e otimização do funil de contratação, permitindo que empresas preencham posições com mais eficiência. Espera-se também uma redução de custos operacionais com processos seletivos, maior engajamento de talentos qualificados e um sistema flexível que se adapte às necessidades de cada empresa, tornando a contratação mais ágil, justa e assertiva.","textarea_4":"O PowerHire está totalmente alinhado aos objetivos estratégicos do Instituto Modal, pois utiliza inteligência artificial para transformar o mercado de recrutamento, tornando a seleção de talentos mais eficiente, precisa e acessível. O projeto aplica IA para automatizar processos, reduzir vieses e otimizar a tomada de decisão, impactando diretamente empresas e candidatos. Além disso, promove transparência e equidade na seleção, contribuindo para um mercado de trabalho mais justo. Ao facilitar contratações mais assertivas e rápidas, o PowerHire gera impacto positivo na sociedade, conectando profissionais às oportunidades certas e ajudando empresas a compor equipes de alto desempenho com base em dados concretos. Esse projeto exemplifica a missão do Modal de desenvolver tecnologias inovadoras com aplicação prática e real valor agregado.","checkbox_1":"Infraestrutura de TI, Mão de obra especializada, Investimento financeiro","textarea_5":"Para desenvolver o MVP do PowerHire, a infraestrutura de TI necessária será enxuta, mas funcional, garantindo viabilidade técnica e rápida implementação. Os principais recursos incluem:\r\n- Servidor em nuvem (AWS, Google Cloud ou Azure) para hospedar a aplicação e processar as avaliações dos candidatos.\r\n- Banco de dados relacional (PostgreSQL ou MySQL) para armazenar perfis, critérios das vagas e resultados das análises.\r\n- Modelo de NLP pré-treinado (como BERT ou GPT) para análise de currículos e extração de informações relevantes.\r\n- Back-end leve (Node.js ou Python/Flask) para processar as requisições e gerenciar a lógica do sistema.\r\n- Front-end simples (React ou Vue.js) para permitir que recrutadores criem vagas e visualizem análises.\r\n- Integração com e-mail (SendGrid ou SES) para envio automatizado de feedbacks aos candidatos.","radio_3":"Alta","radio_4":"De 3 a 6 meses","radio_5":"Alta","checkbox_2":"Recursos próprios, Parceria com Empresas","textarea_6":"Os principais desafios do PowerHire incluem a qualidade da análise da IA, garantindo que a triagem seja precisa e justa, sem descartar bons candidatos injustamente. A explicabilidade do modelo também é crítica, pois recrutadores precisam entender por que um candidato foi bem ou mal avaliado. Além disso, há o desafio de mitigar viéses algorítmicos, evitando que a IA reforce discriminações existentes no mercado de trabalho. Outro risco é a aceitação pelo mercado, pois empresas podem ter resistência em adotar um processo automatizado de seleção. A conformidade com a LGPD também é essencial, especialmente ao lidar com dados sensíveis e informações de redes sociais. Por fim, a escalabilidade do sistema pode ser um desafio, exigindo otimizações conforme o volume de candidatos cresce. O sucesso do projeto dependerá de testes rigorosos, feedback contínuo e ajustes para equilibrar automação, transparência e confiabilidade.","textarea_7":"Para mitigar riscos, o PowerHire adotará medidas estratégicas. Para garantir qualidade e precisão, o modelo de IA será treinado e ajustado continuamente com feedback de recrutadores. A explicabilidade será assegurada com relatórios detalhados que justificam as avaliações. Para reduzir viéses algorítmicos, o sistema permitirá ajustes nos critérios de seleção e auditoria dos resultados. Quanto à aceitação pelo mercado, o MVP será testado com empresas-piloto, demonstrando os ganhos de eficiência e transparência. A conformidade com a LGPD será garantida por meio de consentimento explícito dos candidatos e armazenamento seguro dos dados. Para assegurar escalabilidade, a infraestrutura será baseada em nuvem, permitindo ajustes conforme a demanda cresce.","radio_6":"Sim","checkbox_3":"Patente, Registro de Software, Artigo Científico","radio_7":"Sim","textarea_8":"Uma parceria com uma consultoria de RH permitirá validar e aprimorar o PowerHire em um ambiente real, garantindo que o sistema atenda às necessidades do mercado. No piloto, a consultoria poderá fornecer vagas reais e dados de processos seletivos anteriores, permitindo o treinamento e calibração da IA. Em contrapartida, o PowerHire entregará análises detalhadas dos candidatos, comparando seus perfis com os critérios definidos. A consultoria poderá testar a ferramenta, fornecer feedback e sugerir melhorias, tornando-se uma parceira estratégica na evolução do produto. Além disso, o acordo pode prever um uso gratuito ou com condições especiais durante a fase inicial, criando um caso de sucesso que fortalecerá a adoção futura por outras empresas. Essa colaboração acelerará o desenvolvimento, validará os benefícios do sistema e abrirá portas para novas oportunidades comerciais.","checkbox_4":"Declaro que as informações fornecidas são verdadeiras, Autorizo o Comitê de PDI a avaliar esta proposta e entrar em contato","textarea_9":"O PowerHire tem um alto potencial de escalabilidade, podendo ser integrado a diferentes plataformas de recrutamento, como ATS (Applicant Tracking Systems), portais de empregos e ERPs de gestão de talentos. Essa flexibilidade permite que empresas de diversos portes utilizem a ferramenta sem necessidade de grandes adaptações. Além disso, o sistema pode evoluir para incluir novas funcionalidades, como testes técnicos e comportamentais, ampliando seu impacto no processo seletivo.\r\nOutro ponto estratégico é o modelo de negócio, que pode seguir a abordagem SaaS (Software as a Service), permitindo que consultorias de RH e empresas utilizem o PowerHire como um serviço baseado em assinatura ou pagamento por vaga processada. Esse modelo possibilita uma adoção escalonada, com versões gratuitas ou limitadas para pequenas empresas e planos mais robustos para grandes corporações. Com essa estrutura, o PowerHire pode se tornar uma solução amplamente adotada no mercado de recrutamento, trazendo inovação e eficiência para a seleção de talentos.","referer_url":"https://www.modal.org.br/wp-admin/post.php?post=115611&action=edit","_wp_http_referer":"/wp-admin/admin-ajax.php","page_id":"115611","form_type":"default","current_url":"https://www.modal.org.br/2025/02/11/submissao-projetos-pdi/","render_id":"0","save_draft":"false","input_32":"","name_2_2":"Edmilson Veras","text_1_2":"Testador","upload_1":"https://www.modal.org.br/wp-content/uploads/forminator/115610_17e5aa687f139e8c00873fda6f203f93/uploads/QOSy8x0l486S-powerhire-rascunho.pdf","_forminator_user_ip":null,"form_title":"Submissão de Projeto de PDI","entry_time":"2025-02-11 15:04:18"},"webhookUrl":"https://n8n.modal.org.br/webhook/submissao-projeto-pdi","executionMode":"production"}}]},"versionId":"cc008638-cefb-4dcc-8c5a-3d56a4468fc1","triggerCount":1,"shared":[{"createdAt":"2025-02-11T15:11:33.288Z","updatedAt":"2025-02-11T15:11:33.288Z","role":"workflow:owner","workflowId":"1jyuT0uH0EOCqtvL","projectId":"RH3R3AhFCLYYjSTt"}],"tags":[],"totalWorkflows":15,"yesterdayDate":"2025-09-12T15:32:34.065Z"}